In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

# Load Profiles

In [2]:
df = pd.read_csv("./use_data/expanded_training.csv")
df_user = pd.read_csv("./use_data/profiles/user_profile.csv")
df_merchant = pd.read_csv("./use_data/profiles/merchant_profile.csv")
df_brand = pd.read_csv("./use_data/profiles/brand_profile.csv")
df_item = pd.read_csv("./use_data/profiles/item_profile.csv")
df_cat = pd.read_csv("./use_data/profiles/category_profile.csv")

# Merge Profiles

In [3]:
df_features = df

In [5]:
df_user.drop('user_id',axis=1,inplace=True)
df_features = pd.concat([df_features, df_user])
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,% repeat buyer gender,% repeat buyer age,month,day,user_monthly_action_count,month_total_action_count,monthly_action_count_ratio,monthly_mean_action_type,user_buys,user_buy_ratio
0,379824.0,198.0,656.0,145.0,3462.0,1111.0,0.0,5.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,379824.0,198.0,656.0,145.0,3462.0,1111.0,0.0,5.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,379824.0,198.0,656.0,145.0,3462.0,1111.0,2.0,5.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,379824.0,198.0,656.0,145.0,3462.0,1110.0,0.0,5.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,379824.0,198.0,656.0,145.0,3462.0,1110.0,0.0,5.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.27,0.73,11.0,9.0,3.0,362.0,0.008287,0.0,0.0,0.0
381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.27,0.73,11.0,8.0,3.0,362.0,0.008287,0.0,0.0,0.0
382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.27,0.73,11.0,8.0,3.0,362.0,0.008287,0.0,0.0,0.0
383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.27,0.00,11.0,11.0,1.0,362.0,0.002762,0.0,0.0,0.0
384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.27,0.00,11.0,10.0,1.0,362.0,0.002762,0.0,0.0,0.0