In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("use_data/user_log_format1[161-320].csv")
df

      user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0      149002      282     885       3791    1500.0        1111            0
1      149002      282     885       3791    1500.0        1107            0
2      109881      230     629          1    1662.0         820            0
3      109881      230     629          1    1662.0         820            0
4      109881      230     629          1    1662.0         820            0
...       ...      ...     ...        ...       ...         ...          ...
6544    73105      259     614        637    2603.0        1111            0
6545   403421      175    1181       4760     247.0        1111            0
6546   116738      186     267       1200    2276.0        1110            0
6547   116738      186     267       1200    2276.0        1101            0
6548   124951      184     656        145    3462.0        1111            0

[6549 rows x 7 columns]

In [3]:
# the unique list of users from the above dataframe
users = df['user_id'].unique().tolist()

In [4]:
df2 = pd.read_csv("full_data/user_info_format1.csv")
df2

        user_id  age_range  gender
0        376517        6.0     1.0
1        234512        5.0     0.0
2        344532        5.0     0.0
3        186135        5.0     0.0
4         30230        5.0     0.0
...         ...        ...     ...
424165   395814        3.0     1.0
424166   245950        0.0     1.0
424167   208016        NaN     NaN
424168   272535        6.0     1.0
424169    18031        3.0     1.0

[424170 rows x 3 columns]

In [5]:
file_name = 'user_info' # user_info_format1.csv

with open(f'use_data/{file_name}_format1[161-320].csv', 'w') as f:
    with open(f'full_data/{file_name}_format1.csv', 'r') as d_f:
        f.write(d_f.readline()) # read the first line (column names)

        for line in d_f.readlines():
            items = line.split(',')
            
            # add if items[0] is in users (which is a unique list)
            if (int(items[0]) in users): 
                f.write(line)

In [11]:
user_seller = df[["user_id", "seller_id"]]
user_seller

      user_id  seller_id
0      149002       3791
1      149002       3791
2      109881          1
3      109881          1
4      109881          1
...       ...        ...
6544    73105        637
6545   403421       4760
6546   116738       1200
6547   116738       1200
6548   124951        145

[6549 rows x 2 columns]

In [17]:
us_dict = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in user_seller.iterrows():
    if row['user_id'] not in us_dict:
        # there may be multiple entries, so default with an empty list
        us_dict[row["user_id"]] = [] 
    us_dict[row["user_id"]].append(row["seller_id"])

In [22]:
for k,v in us_dict.items():
    us_dict[k] = list(set(v)) # make each value list unique

In [23]:
us_dict

{149002: [3791],
 109881: [1],
 142526: [2781],
 123526: [3989],
 359170: [3096],
 46520: [158],
 346053: [1765],
 355049: [3989],
 47958: [4257],
 50931: [4955],
 125098: [3989],
 365160: [3828],
 339574: [3101],
 14747: [3323],
 382864: [3989],
 375786: [4257],
 266494: [3083],
 267067: [1913],
 143871: [3989],
 379824: [145],
 59889: [3989],
 188455: [4798],
 248722: [1],
 97560: [3989],
 104634: [834],
 7692: [1641],
 331906: [1641],
 305119: [158],
 227909: [4282],
 345174: [831],
 114906: [4257],
 104420: [637],
 47143: [3989],
 243241: [1641],
 48664: [3989],
 389693: [3989],
 266355: [4257],
 237879: [4257],
 149697: [3989],
 44152: [2623],
 141307: [4760],
 337965: [3989],
 329315: [4257],
 43299: [2642],
 167621: [3989],
 323238: [637],
 203088: [3989],
 104074: [3989],
 13603: [4257],
 79000: [3989],
 182925: [3989],
 100396: [1641],
 362703: [4798],
 252255: [4760],
 324321: [4321],
 358906: [4760],
 266517: [4257],
 96868: [3828],
 154294: [1641],
 376516: [4257],
 366794: [3766],
 328683: [2823],
 342518: [831],
 323502: [3828, 4205],
 376717: [4257],
 230720: [1765],
 423557: [2871],
 312926: [4257],
 240570: [3989],
 124397: [3196],
 34368: [139],
 92380: [1641],
 343577: [2781],
 25017: [3323],
 228100: [3989],
 68099: [2387],
 95322: [4205],
 93208: [3989],
 336907: [801],
 391685: [1641],
 309566: [4760],
 354236: [3828],
 267916: [615],
 122329: [3101],
 312978: [2623],
 94440: [3989],
 9401: [831],
 239533: [3766],
 263739: [1362],
 261850: [3989],
 174362: [3989],
 255458: [4257],
 285483: [3989],
 400411: [1641],
 393655: [3673],
 7402: [3989],
 196967: [2925],
 422803: [3491],
 214575: [3989],
 42754: [1641],
 222871: [2623],
 242908: [4882],
 271746: [4798],
 337779: [3989],
 153778: [4257],
 78585: [3196],
 141404: [4760],
 18344: [3196],
 328482: [3989],
 405010: [3989],
 377450: [1641],
 363521: [4257],
 334075: [4798],
 307683: [4760],
 267329: [4760],
 211962: [3989],
 312140: [3989],
 206032: [246],
 227060: [637],
 219780: [4129],
 55192: [4760],
 249648: [3989],
 350052: [1131],
 122519: [637],
 317580: [3989],
 3193: [3989],
 67777: [419],
 81610: [2085],
 3216: [3989],
 235784: [3003],
 402505: [3989],
 182119: [3323],
 356426: [3989],
 130455: [4257],
 290843: [3989],
 280040: [2925],
 273740: [4138],
 338849: [1641],
 55688: [615],
 64815: [4257],
 336747: [3939],
 68225: [3323],
 309885: [4882],
 39456: [1598],
 83316: [4321],
 213043: [3989],
 19033: [637],
 109919: [145],
 153526: [2387],
 412963: [4224],
 97616: [3989],
 386927: [2781],
 18199: [4282],
 236919: [1641],
 400969: [4760],
 230439: [623],
 212545: [1641],
 413479: [4282],
 297183: [2925],
 384640: [2091],
 384485: [3323],
 321471: [834],
 243494: [3989],
 170683: [4440],
 343274: [637],
 145020: [3989],
 409187: [3989],
 170576: [2781],
 317760: [4205],
 226557: [780],
 200506: [3989],
 9605: [637],
 53423: [4321],
 148086: [4321],
 56144: [1784],
 111981: [524],
 282036: [637],
 136490: [3323],
 342023: [1131],
 287356: [3989],
 119530: [4798],
 122012: [3989],
 193022: [3989],
 306030: [3989],
 175762: [3083],
 287829: [4760],
 119631: [3989],
 155748: [3989],
 222308: [3119],
 403976: [3828],
 304873: [2292],
 159905: [2781],
 383553: [4282],
 22573: [3989],
 258554: [1641],
 302383: [2159],
 133668: [4760],
 199539: [3989],
 170486: [3989],
 22546: [4257],
 232781: [3766],
 250096: [4760],
 167739: [3989],
 166684: [4257],
 325204: [1784],
 382622: [801],
 201176: [3989],
 152002: [4321],
 82763: [3828],
 80562: [3766],
 393441: [3989],
 400110: [4129],
 61225: [2085],
 52149: [3989],
 330350: [637],
 118702: [3323],
 116694: [3989],
 335997: [4744],
 126981: [615],
 38546: [4257],
 209436: [637],
 200535: [419],
 216707: [637],
 94854: [582],
 345497: [145],
 165244: [4257],
 170019: [4955],
 196891: [4257],
 284007: [4257],
 382731: [3083],
 303106: [3989],
 242341: [4964],
 15613: [1087],
 88679: [4257],
 367481: [3989],
 59550: [3096],
 393974: [4282],
 397892: [3323],
 410442: [637],
 69097: [4257],
 351053: [1784],
 198635: [3828],
 254624: [4257],
 105846: [3323, 4798],
 293899: [3989],
 141585: [1641],
 326976: [801],
 296210: [3673],
 236225: [1985],
 94387: [419, 3989],
 280806: [2925, 3989],
 55512: [3791],
 246637: [4798],
 298942: [4218],
 175013: [831],
 94859: [2560],
 96927: [1087],
 128910: [2823],
 349269: [3989],
 395835: [801],
 198558: [637],
 114188: [4257],
 255960: [3323],
 206037: [1641],
 133137: [4549],
 192511: [3751],
 69631: [1641],
 38039: [3989],
 379802: [1641],
 143022: [3989],
 359751: [4257],
 227891: [3989],
 391322: [3989],
 380420: [1131],
 296644: [4798],
 115825: [4218],
 66523: [3769],
 321066: [2560],
 321936: [4798],
 407727: [4597],
 119294: [637],
 394657: [637],
 321956: [3246],
 88393: [637],
 53248: [3989],
 94907: [145],
 262539: [4257],
 205142: [2925],
 328820: [801],
 223541: [1641],
 302727: [2925],
 243224: [3828],
 371039: [2960],
 337197: [4760],
 242445: [1641],
 255805: [801],
 156347: [4538],
 421393: [4760],
 201107: [4257],
 122015: [3989],
 283308: [637],
 38047: [644],
 38921: [3989],
 165155: [3828],
 291476: [3766],
 8871: [2387],
 310233: [5],
 225046: [3989],
 176150: [4760],
 328553: [3989],
 340296: [461],
 336686: [4257],
 294292: [2925],
 41556: [3989],
 203877: [644],
 407671: [1943],
 140612: [4257],
 373794: [3989],
 103728: [3989],
 109685: [4321],
 78977: [3828],
 392700: [314],
 118238: [637],
 375871: [4257],
 409339: [2387],
 78596: [4798],
 415289: [3828],
 388332: [630],
 97782: [3989],
 212514: [3323],
 353291: [419],
 116625: [2277],
 71703: [3989],
 46689: [3989],
 77771: [1641],
 124519: [637],
 407392: [637],
 193299: [3989],
 74708: [3989],
 21625: [637],
 52248: [3096],
 335420: [3989],
 414660: [1131],
 67980: [4257],
 358232: [644],
 41679: [4321],
 78995: [3083],
 344334: [637],
 135109: [4760],
 349234: [2387],
 182958: [4321],
 25161: [3989],
 375806: [3196],
 293186: [524],
 9886: [637],
 154773: [4798],
 315595: [4798],
 37294: [637],
 244552: [1210],
 415213: [3673],
 169044: [4257],
 5857: [3923],
 61012: [2925],
 182816: [4282],
 141506: [3323],
 118863: [637],
 350362: [3323],
 377196: [4798],
 267130: [4321],
 29452: [4257],
 7229: [4257],
 274014: [3989],
 249860: [1],
 300967: [4257],
 46507: [4955],
 14522: [4257],
 218288: [4760],
 191162: [145],
 138782: [1641],
 50230: [4257],
 67395: [637],
 286968: [4798],
 31516: [4440],
 91127: [3323],
 209268: [1131],
 336956: [637],
 202917: [4138],
 151771: [4538],
 110516: [3989],
 183505: [637],
 407238: [4798],
 239365: [145],
 4143: [637],
 5612: [4798],
 396243: [801],
 100493: [4282],
 67502: [4798],
 29321: [4321],
 336957: [3083],
 28805: [4798],
 185784: [4882],
 316434: [4257],
 196557: [3323, 3989],
 174308: [4760],
 260781: [3989],
 117897: [3828],
 247433: [4798],
 272546: [4257],
 306069: [637],
 235896: [3989],
 53767: [4257],
 134532: [3323],
 421856: [3766],
 190703: [3828],
 218739: [2925],
 128231: [4185],
 184887: [637],
 39164: [630],
 355159: [3323],
 62942: [4129],
 414307: [637],
 325222: [637],
 17520: [3828],
 184083: [637],
 75579: [1],
 353962: [145],
 296566: [3989],
 320027: [4070],
 300578: [4538, 637],
 333007: [4257],
 374895: [801],
 385682: [158],
 155060: [3989],
 283736: [419],
 89529: [1943],
 400800: [637],
 126900: [419],
 263551: [3989],
 201499: [637],
 257965: [4321],
 414576: [3491],
 15287: [4257],
 151561: [3323],
 288914: [4257],
 319670: [4760],
 5015: [4282],
 248461: [4321],
 245457: [623],
 164970: [2085],
 17413: [637],
 107601: [4257],
 74551: [1641],
 24943: [3828],
 49683: [3083],
 104974: [637],
 210578: [3323],
 195995: [1765],
 390603: [4138],
 66988: [3989],
 358125: [3828],
 289908: [4321],
 90500: [637],
 187984: [4257],
 114579: [1],
 81454: [145],
 43416: [637],
 266118: [145],
 101110: [246],
 8433: [4798],
 149798: [4955],
 370207: [4760],
 326014: [637],
 301173: [3766],
 161809: [2925],
 29641: [801],
 75461: [4321],
 418754: [2159],
 153910: [4185],
 298673: [637],
 97132: [4597],
 77908: [4798],
 138635: [637],
 38846: [637],
 6018: [145],
 13202: [1750],
 150092: [3989],
 99647: [4129],
 297785: [3989],
 192743: [637],
 111375: [2820],
 368186: [801],
 47340: [637],
 267819: [1784],
 17687: [3989],
 222927: [637],
 392486: [3989],
 119663: [3989],
 329792: [2277],
 189022: [637],
 36232: [637],
 275449: [615],
 304305: [2871],
 409334: [637],
 385224: [4321, 4538],
 80290: [637],
 119447: [637],
 350091: [637],
 273961: [3989],
 364467: [637],
 299033: [637],
 143229: [637],
 236289: [4760],
 259407: [3989],
 364052: [3989],
 260983: [3828],
 328073: [1943],
 327937: [637],
 281262: [3323],
 314519: [1943],
 255085: [2387],
 283656: [3989],
 13336: [637],
 333098: [637],
 130083: [4185],
 410218: [637],
 390264: [4760],
 137929: [637],
 52300: [2781],
 105870: [637],
 212736: [4760],
 130810: [4760],
 74434: [3989],
 15445: [3325],
 52271: [3989],
 253485: [3323],
 47762: [3989],
 166471: [1087],
 213003: [3989],
 205257: [3323],
 189083: [637],
 31393: [3101],
 37430: [4257],
 394155: [4760],
 10399: [2085],
 65957: [2277],
 24394: [3989],
 297997: [3989],
 147819: [3989],
 57379: [4561],
 145165: [3989],
 135582: [1],
 176710: [419],
 190488: [1784],
 312114: [3989],
 294833: [3989],
 231134: [4257],
 397324: [3989],
 87416: [4138],
 341945: [2781],
 283926: [3989],
 324921: [637],
 324845: [801],
 21934: [1641],
 159528: [3989],
 360040: [1],
 292317: [3989],
 56674: [3989],
 388467: [1210],
 303304: [1],
 94923: [637],
 340420: [4257],
 384738: [2925],
 174701: [3323],
 70625: [637],
 182588: [3989],
 2123: [145],
 129256: [586],
 60576: [3196],
 368735: [3196],
 219343: [4205],
 165425: [3766],
 278731: [3989],
 125318: [1641],
 117839: [3323],
 91242: [4138],
 46699: [4760],
 269796: [623],
 29828: [3989],
 417133: [3989],
 409591: [3989],
 294274: [2085],
 277084: [3989],
 390324: [3989],
 376023: [419],
 121820: [1378],
 240754: [3323],
 353095: [644],
 338815: [4760],
 75555: [3323],
 346566: [4440],
 211123: [637],
 283803: [4798],
 12778: [2751],
 372183: [3673],
 27896: [3491],
 162231: [3989],
 117178: [3989],
 332034: [1784],
 395232: [4760],
 61215: [780],
 227231: [637],
 327083: [1641],
 368315: [3766],
 407176: [2387],
 176121: [158],
 82052: [3989],
 191151: [801, 637],
 150807: [2781],
 152371: [3989],
 310625: [4257],
 378779: [3096],
 207764: [2387],
 23704: [2387],
 238412: [3263],
 58914: [4257],
 411381: [1598],
 61661: [1],
 422485: [4321],
 53979: [3096],
 2754: [3989],
 99907: [4257],
 135595: [2781],
 156961: [3323],
 279004: [3989],
 297860: [637],
 411725: [4257],
 98563: [1641],
 402157: [2925],
 118489: [4549, 3989],
 124454: [4138],
 82478: [4257],
 43046: [1784],
 194912: [3989],
 210600: [3989],
 61407: [3323],
 27639: [623],
 130811: [2925],
 98047: [3989],
 31955: [3989],
 44253: [4760],
 244257: [3323],
 291640: [3989],
 86272: [4798],
 38786: [3989],
 111119: [4760],
 241141: [419],
 410566: [4321],
 152632: [4257],
 185421: [4282],
 121643: [3989],
 158058: [586],
 232824: [3791],
 385875: [3323],
 92731: [615],
 14493: [4257],
 252584: [158],
 279406: [3828, 3989],
 139149: [2925],
 45576: [3323],
 47813: [3323],
 402971: [4321],
 388495: [4257],
 332754: [3766],
 167061: [3989],
 105768: [637],
 341780: [637],
 304557: [834],
 331263: [2925],
 385271: [4138],
 47517: [2781],
 53954: [3989],
 91225: [3083],
 123645: [4798],
 249493: [637],
 207630: [3766],
 1816: [3989],
 268165: [1913],
 208622: [3989],
 77208: [3766],
 183978: [419],
 77491: [4440],
 155164: [2925],
 411185: [4138],
 327643: [3323],
 315147: [2091],
 231128: [3989],
 421558: [2925],
 78991: [3673],
 152754: [4257],
 286291: [3196],
 331989: [3989],
 390909: [4129],
 261564: [644],
 412076: [3989],
 63000: [3989],
 257103: [4760],
 92445: [4257],
 360261: [1641],
 214766: [3263],
 347042: [3766],
 173711: [2340],
 115662: [644],
 156857: [1641],
 410408: [3096],
 414635: [145],
 218861: [4760],
 266290: [4129],
 291032: [4257],
 121180: [2277],
 146251: [3989],
 374737: [2781],
 350830: [637],
 421209: [4405],
 258852: [4129],
 269087: [3828],
 388684: [3323],
 384956: [4257],
 314968: [623],
 188058: [3989],
 396613: [3989],
 257002: [3989],
 179830: [637],
 127221: [3323],
 258552: [1131],
 230766: [644],
 145172: [4257],
 249747: [3989],
 352043: [3083],
 220365: [4321],
 251022: [2091],
 218575: [2732],
 292532: [637],
 14540: [2572],
 387879: [637],
 198751: [637],
 258069: [4138],
 5524: [4955],
 189746: [1087],
 250922: [3989],
 397560: [3989],
 150525: [3828],
 173984: [3101],
 262694: [1641],
 384859: [2387],
 54703: [637],
 218669: [3323],
 201809: [4760],
 133401: [3766],
 51659: [3989],
 6073: [1],
 385174: [3828],
 363248: [3989],
 207289: [637],
 50317: [3323],
 7313: [3989],
 334838: [3828],
 228676: [3989],
 66773: [1641],
 103662: [2387],
 272518: [4955],
 94898: [637],
 152560: [4760],
 180317: [2781],
 417109: [2925],
 241082: [4760],
 68910: [1294],
 284772: [4538],
 357264: [3989],
 321903: [3989],
 362198: [1641],
 27049: [4282],
 326623: [637],
 183779: [637],
 60951: [3989],
 102727: [4257],
 161404: [3828],
 99924: [3989],
 48824: [2277],
 156553: [3323],
 160543: [4988],
 191278: [4282],
 247271: [4321],
 334897: [3196],
 320677: [2751],
 243945: [3989],
 254185: [3989],
 281388: [1087],
 152991: [4282],
 217061: [637],
 44317: [4798],
 336636: [1641],
 198173: [4257],
 388831: [1],
 280468: [2085],
 288207: [4798],
 164419: [2751],
 393662: [637],
 224921: [3096],
 160115: [801],
 66890: [801],
 362078: [158],
 294537: [4257],
 283228: [3491],
 26580: [3989],
 38290: [637],
 327030: [4798],
 270450: [2732],
 297410: [4321],
 357402: [4549],
 289863: [2387],
 277770: [3323],
 361009: [4798],
 286052: [3989],
 87596: [2925],
 81789: [3828],
 128357: [637],
 157470: [3989],
 68440: [3989],
 142510: [1],
 103945: [4257],
 400723: [4760],
 39001: [2277],
 311115: [4760],
 356494: [4138],
 192882: [630],
 246015: [1200],
 34718: [2781],
 109716: [1641],
 171188: [637],
 312247: [3323],
 310699: [1641],
 376951: [637],
 390951: [4257],
 328064: [4185],
 382045: [3948],
 120556: [637],
 2219: [3989],
 139081: [3989],
 362181: [2781],
 416951: [637],
 155604: [4760],
 273256: [3989],
 394043: [4257],
 342429: [3989],
 262916: [4798],
 288077: [4321],
 186638: [4955],
 342435: [259],
 6537: [2085],
 340411: [4282],
 334559: [637],
 99112: [3989],
 14131: [3323],
 211894: [4257],
 295281: [582],
 338072: [637],
 53374: [4760],
 352771: [637],
 80466: [4257],
 335005: [3989],
 146621: [3989],
 369101: [3989],
 11347: [4798],
 278234: [3989],
 340093: [4257],
 100441: [3791],
 334949: [3323],
 192475: [637],
 297049: [2925],
 13738: [3323],
 134134: [4549],
 322937: [3989],
 386295: [3323],
 320636: [2340],
 396532: [637],
 81546: [2387],
 208688: [3096],
 107772: [637],
 351279: [3989],
 203894: [3323],
 5745: [2781],
 76174: [4760],
 28825: [3989],
 164477: [3828],
 125988: [637],
 38953: [2925],
 285072: [3083],
 230436: [3491],
 322294: [4760],
 31966: [637],
 409853: [3828],
 373905: [4955],
 81179: [3989],
 392465: [637],
 223485: [4257],
 113906: [145],
 242938: [4321],
 153176: [4205],
 191338: [3325],
 71029: [524],
 123453: [801],
 145326: [4440],
 356263: [637],
 74080: [1131],
 402251: [4760],
 274994: [3828],
 205992: [3323],
 184429: [637],
 386155: [637],
 225490: [4321],
 106222: [4321],
 96423: [2340],
 258401: [4224],
 237946: [3989],
 55104: [637],
 301930: [3989],
 51802: [3323],
 419335: [3989],
 149639: [4760],
 203567: [3766],
 165594: [1210],
 222144: [4760],
 304246: [3989],
 267313: [145],
 130684: [582],
 127705: [2960],
 219695: [3323],
 187906: [637],
 362962: [3989],
 95548: [4760],
 191000: [3989],
 225488: [831],
 141587: [4798],
 292896: [4760],
 42387: [3989],
 90298: [4798],
 38777: [637],
 55684: [3989],
 110501: [3989],
 410626: [4282],
 383810: [637],
 189589: [3989],
 299962: [3828],
 61889: [637],
 225388: [3323],
 47826: [4760],
 376253: [4321],
 218505: [3989],
 241960: [2159],
 336592: [4405],
 101474: [4257],
 211713: [637],
 400035: [4760],
 178833: [4798],
 422965: [3766],
 94259: [3096],
 8535: [3096],
 422090: [246],
 422222: [637],
 193892: [3323],
 226399: [3989],
 213358: [1368],
 81856: [4882],
 270431: [1087],
 182634: [3828],
 403826: [3989],
 21189: [637],
 70371: [4760],
 173854: [2226],
 254609: [3323],
 353054: [3323],
 309217: [1641],
 157586: [2564],
 109156: [4257],
 231067: [801],
 295904: [3323],
 141756: [4257],
 347743: [3989],
 322069: [2387],
 394704: [637],
 84043: [4760],
 149171: [4798],
 108726: [3325],
 160577: [637],
 176717: [4760],
 70285: [637],
 101977: [637],
 387407: [4955],
 234293: [637],
 253771: [1087],
 ...}

In [6]:
df2 = pd.read_csv("full_data/train_format1.csv")
df2

        user_id  merchant_id  label
0         34176         3906      0
1         34176          121      0
2         34176         4356      1
3         34176         2217      0
4        230784         4818      0
...         ...          ...    ...
260859   359807         4325      0
260860   294527         3971      0
260861   294527          152      0
260862   294527         2537      0
260863   229247         4140      0

[260864 rows x 3 columns]

In [28]:
file_name = 'train' # train_format1.csv

with open(f'use_data/{file_name}_format1[161-320].csv', 'w') as f:
    with open(f'full_data/{file_name}_format1.csv', 'r') as d_f:
        f.write(d_f.readline()) # read the first line (column names)

        for line in d_f.readlines():
            items = line.split(',')
            
            # check if items[0] is part of users
            if (int(items[0]) in users): 

                # check if items[1] exist in us_dict[items[0]]
                if (int(items[1]) in us_dict[int(items[0])]):
                    f.write(line)

In [7]:
df3 = pd.read_csv("full_data/test_format1.csv")
df3

        user_id  merchant_id  prob
0        163968         4605   NaN
1        360576         1581   NaN
2         98688         1964   NaN
3         98688         3645   NaN
4        295296         3361   NaN
...         ...          ...   ...
261472   228479         3111   NaN
261473    97919         2341   NaN
261474    97919         3971   NaN
261475    32639         3536   NaN
261476    32639         3319   NaN

[261477 rows x 3 columns]

In [29]:
file_name = 'test' # test_format1.csv

with open(f'use_data/{file_name}_format1[161-320].csv', 'w') as f:
    with open(f'full_data/{file_name}_format1.csv', 'r') as d_f:
        f.write(d_f.readline()) # read the first line (column names)

        for line in d_f.readlines():
            items = line.split(',')
            
            # check if items[0] is part of users
            if (int(items[0]) in users): 

                # check if items[1] exist in us_dict[items[0]]
                if (int(items[1]) in us_dict[int(items[0])]):
                    f.write(line)