In [15]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

# Load Profiles

In [16]:
df = pd.read_csv("./use_data/expanded_training.csv")
df_user = pd.read_csv("./use_data/profiles/user_profile.csv")
df_merchant = pd.read_csv("./use_data/profiles/merchant_profile.csv")
df_brand = pd.read_csv("./use_data/profiles/brand_profile.csv")
df_item = pd.read_csv("./use_data/profiles/item_profile.csv")
df_cat = pd.read_csv("./use_data/profiles/category_profile.csv")

# Merge Profiles

In [17]:
df_features = df

In [20]:
df_features = pd.concat([df_features, df_user], axis = "columns")
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,% repeat buyer gender,% repeat buyer age,month,day,user_monthly_action_count,month_total_action_count,monthly_action_count_ratio,monthly_mean_action_type,user_buys,user_buy_ratio
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.73,0.05,11,11,6,362,0.016575,0.333333,1,0.166667
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.73,0.05,11,11,6,362,0.016575,0.333333,1,0.166667
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.73,0.05,11,11,6,362,0.016575,0.333333,1,0.166667
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.73,0.05,11,10,6,362,0.016575,0.333333,1,0.166667
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.73,0.05,11,10,6,362,0.016575,0.333333,1,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.27,0.73,11,9,3,362,0.008287,0.000000,0,0.000000
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.27,0.73,11,8,3,362,0.008287,0.000000,0,0.000000
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.27,0.73,11,8,3,362,0.008287,0.000000,0,0.000000
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.27,0.00,11,11,1,362,0.002762,0.000000,0,0.000000
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.27,0.00,11,10,1,362,0.002762,0.000000,0,0.000000

In [21]:
df_features = pd.concat([df_features, df_merchant], axis = "columns")
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,merchant_unknown_buy_ratio,merchant_ageGroup_1_counts,merchant_ageGroup_2_counts,merchant_ageGroup_3_counts,merchant_ageGroup_4_counts,merchant_ageGroup_5_counts,merchant_ageGroup_6_counts,merchant_ageGroup_7_counts,merchant_ageGroup_8_counts,merchant_ageGroup_0_counts
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.0,0,10,0,6,0,0,0,0,2
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17

In [22]:
df_features = pd.concat([df_features, df_brand], axis = "columns")
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,brand 1111 action count ratio,brand 1111 activity ratio,brand last week action count,brand last week action count ratio,brand last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0,3.611111,0.361111
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0,3.611111,0.361111
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0,3.611111,0.361111
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0,3.611111,0.361111
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.131579,0.833333,36,0.101408,1.000000,36,0.098361,1.0,3.611111,0.361111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714

In [23]:
df_features = pd.concat([df_features, df_item], axis = "columns")
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,item_unknown_buy_ratio,item_ageGroup_1_counts,item_ageGroup_2_counts,item_ageGroup_3_counts,item_ageGroup_4_counts,item_ageGroup_5_counts,item_ageGroup_6_counts,item_ageGroup_7_counts,item_ageGroup_8_counts,item_ageGroup_0_counts
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,1,1,2,7,0,0,0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,1,1,2,7,0,0,0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.0,0,1,1,2,7,0,0,0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,1,1,2,7,0,0,0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,1,1,2,7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.0,0,10,0,6,0,0,0,0,2
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17

In [24]:
df_features = pd.concat([df_features, df_cat], axis = "columns")
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,cat_unknown_buy_ratio,cat_ageGroup_1_counts,cat_ageGroup_2_counts,cat_ageGroup_3_counts,cat_ageGroup_4_counts,cat_ageGroup_5_counts,cat_ageGroup_6_counts,cat_ageGroup_7_counts,cat_ageGroup_8_counts,cat_ageGroup_0_counts
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.0,0,10,0,6,0,0,0,0,2
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17

In [25]:
list(df_features.columns)

['user_id',
 'item_id',
 'cat_id',
 'seller_id',
 'brand_id',
 'time_stamp',
 'action_type',
 'age_range',
 'gender',
 'label',
 'user_id',
 'action count',
 'action count ratio',
 'day count',
 'product diversity',
 '1111 action count',
 '1111 action count ratio',
 '1111 activity ratio',
 'last week action count',
 'last week action count ratio',
 'last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 '% repeat buyer gender',
 '% repeat buyer age',
 'month',
 'day',
 'user_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'monthly_mean_action_type',
 'user_buys',
 'user_buy_ratio',
 'user_id',
 'action count',
 'action count ratio',
 'day count',
 'product diversity',
 '1111 action count',
 '1111 action count ratio',
 '1111 activity ratio',
 'last week action count',
 'last week action count ratio',
 'last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 '% repeat buyer gender',
 '% repeat buyer age',
 'month',
 'day',
 'user_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'monthly_mean_action_type',
 'user_buys',
 'user_buy_ratio',
 'user_id',
 'action count',
 'action count ratio',
 'day count',
 'product diversity',
 '1111 action count',
 '1111 action count ratio',
 '1111 activity ratio',
 'last week action count',
 'last week action count ratio',
 'last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 '% repeat buyer gender',
 '% repeat buyer age',
 'month',
 'day',
 'user_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'monthly_mean_action_type',
 'user_buys',
 'user_buy_ratio',
 'seller_id',
 'merchant action count',
 'merchant action count ratio',
 'merchant day count',
 'merchant product diversity',
 'merchant 1111 action count',
 'merchant 1111 action count ratio',
 'merchant 1111 activity ratio',
 'merchant last week action count',
 'merchant last week action count ratio',
 'merchant last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 'average age',
 'average gender',
 'month',
 'day',
 'merchant_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'merchant_monthly_mean_action_type',
 'merchant_male_count',
 'merchant_female_count',
 'merchant_unknown_gender_count',
 'month_merchant_male_count',
 'month_merchant_female_count',
 'month_merchant_unknown_gender_count',
 'merchant_male_count_ratio',
 'merchant_female_count_ratio',
 'merchant_unknown_count_ratio',
 'merchant_buys',
 'merchant_buy_ratio',
 'merchant_male_buy_count',
 'merchant_female_buy_count',
 'merchant_unknown_buy_count',
 'merchant_male_buy_ratio',
 'merchant_female_buy_ratio',
 'merchant_unknown_buy_ratio',
 'merchant_ageGroup_1_counts',
 'merchant_ageGroup_2_counts',
 'merchant_ageGroup_3_counts',
 'merchant_ageGroup_4_counts',
 'merchant_ageGroup_5_counts',
 'merchant_ageGroup_6_counts',
 'merchant_ageGroup_7_counts',
 'merchant_ageGroup_8_counts',
 'merchant_ageGroup_0_counts',
 'brand_id',
 'month',
 'day',
 'brand_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'monthly_mean_action_type',
 'brand_male_count',
 'brand_female_count',
 'brand_unknown_gender_count',
 'month_brand_male_count',
 'month_brand_female_count',
 'month_brand_unknown_gender_count',
 'brand_male_count_ratio',
 'brand_female_count_ratio',
 'brand_unknown_count_ratio',
 'brand_monthly_male_count_ratio',
 'brand_monthly_female_count_ratio',
 'brand_monthly_unknown_count_ratio',
 'brand_buys',
 'brand_buy_ratio',
 'brand_male_buy_count',
 'brand_female_buy_count',
 'brand_unknown_buy_count',
 'brand_male_buy_ratio',
 'brand_female_buy_ratio',
 'brand_unknown_buy_ratio',
 'brand_ageGroup_1_counts',
 'brand_ageGroup_2_counts',
 'brand_ageGroup_3_counts',
 'brand_ageGroup_4_counts',
 'brand_ageGroup_5_counts',
 'brand_ageGroup_6_counts',
 'brand_ageGroup_7_counts',
 'brand_ageGroup_8_counts',
 'brand_ageGroup_0_counts',
 'brand action count',
 'brand action count ratio',
 'brand day count',
 'brand 1111 action count',
 'brand 1111 action count ratio',
 'brand 1111 activity ratio',
 'brand last week action count',
 'brand last week action count ratio',
 'brand last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 'average age',
 'average gender',
 'item_id',
 'item action count',
 'item action count ratio',
 'item day count',
 'item 1111 action count',
 'item 1111 action count ratio',
 'item 1111 activity ratio',
 'item last week action count',
 'item last week action count ratio',
 'item last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 'average age',
 'average gender',
 'month',
 'day',
 'item_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'item_monthly_mean_action_type',
 'item_male_count',
 'item_female_count',
 'item_unknown_gender_count',
 'month_item_male_count',
 'month_item_female_count',
 'month_item_unknown_gender_count',
 'item_male_count_ratio',
 'item_female_count_ratio',
 'item_unknown_count_ratio',
 'item_buys',
 'item_buy_ratio',
 'item_male_buy_count',
 'item_female_buy_count',
 'item_unknown_buy_count',
 'item_male_buy_ratio',
 'item_female_buy_ratio',
 'item_unknown_buy_ratio',
 'item_ageGroup_1_counts',
 'item_ageGroup_2_counts',
 'item_ageGroup_3_counts',
 'item_ageGroup_4_counts',
 'item_ageGroup_5_counts',
 'item_ageGroup_6_counts',
 'item_ageGroup_7_counts',
 'item_ageGroup_8_counts',
 'item_ageGroup_0_counts',
 'cat_id',
 'cat action count',
 'cat action count ratio',
 'cat day count',
 'cat 1111 action count',
 'cat 1111 action count ratio',
 'cat 1111 activity ratio',
 'cat last week action count',
 'cat last week action count ratio',
 'cat last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 'average age',
 'average gender',
 'month',
 'day',
 'cat_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'cat_male_count',
 'cat_female_count',
 'cat_unknown_gender_count',
 'month_cat_male_count',
 'month_cat_female_count',
 'month_cat_unknown_gender_count',
 'item_male_count_ratio',
 'item_female_count_ratio',
 'item_unknown_count_ratio',
 'cat_buys',
 'cat_buy_ratio',
 'cat_male_buy_count',
 'cat_female_buy_count',
 'cat_unknown_buy_count',
 'cat_male_buy_ratio',
 'cat_female_buy_ratio',
 'cat_unknown_buy_ratio',
 'cat_ageGroup_1_counts',
 'cat_ageGroup_2_counts',
 'cat_ageGroup_3_counts',
 'cat_ageGroup_4_counts',
 'cat_ageGroup_5_counts',
 'cat_ageGroup_6_counts',
 'cat_ageGroup_7_counts',
 'cat_ageGroup_8_counts',
 'cat_ageGroup_0_counts']

In [27]:
# Removes duplicated columns
df_features = df_features.iloc[:,~df_features.columns.duplicated()]
df_features

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,...,cat_unknown_buy_ratio,cat_ageGroup_1_counts,cat_ageGroup_2_counts,cat_ageGroup_3_counts,cat_ageGroup_4_counts,cat_ageGroup_5_counts,cat_ageGroup_6_counts,cat_ageGroup_7_counts,cat_ageGroup_8_counts,cat_ageGroup_0_counts
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,...,0.0,0,2,1,10,7,8,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,...,0.0,0,10,0,6,0,0,0,0,2
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,...,0.0,0,25,24,35,1,3,0,0,17

In [28]:
list(df_features.columns)

['user_id',
 'item_id',
 'cat_id',
 'seller_id',
 'brand_id',
 'time_stamp',
 'action_type',
 'age_range',
 'gender',
 'label',
 'action count',
 'action count ratio',
 'day count',
 'product diversity',
 '1111 action count',
 '1111 action count ratio',
 '1111 activity ratio',
 'last week action count',
 'last week action count ratio',
 'last week activity ratio',
 'last month action count',
 'last month action count ratio',
 'last month activity ratio',
 '% repeat buyer gender',
 '% repeat buyer age',
 'month',
 'day',
 'user_monthly_action_count',
 'month_total_action_count',
 'monthly_action_count_ratio',
 'monthly_mean_action_type',
 'user_buys',
 'user_buy_ratio',
 'merchant action count',
 'merchant action count ratio',
 'merchant day count',
 'merchant product diversity',
 'merchant 1111 action count',
 'merchant 1111 action count ratio',
 'merchant 1111 activity ratio',
 'merchant last week action count',
 'merchant last week action count ratio',
 'merchant last week activity ratio',
 'average age',
 'average gender',
 'merchant_monthly_action_count',
 'merchant_monthly_mean_action_type',
 'merchant_male_count',
 'merchant_female_count',
 'merchant_unknown_gender_count',
 'month_merchant_male_count',
 'month_merchant_female_count',
 'month_merchant_unknown_gender_count',
 'merchant_male_count_ratio',
 'merchant_female_count_ratio',
 'merchant_unknown_count_ratio',
 'merchant_buys',
 'merchant_buy_ratio',
 'merchant_male_buy_count',
 'merchant_female_buy_count',
 'merchant_unknown_buy_count',
 'merchant_male_buy_ratio',
 'merchant_female_buy_ratio',
 'merchant_unknown_buy_ratio',
 'merchant_ageGroup_1_counts',
 'merchant_ageGroup_2_counts',
 'merchant_ageGroup_3_counts',
 'merchant_ageGroup_4_counts',
 'merchant_ageGroup_5_counts',
 'merchant_ageGroup_6_counts',
 'merchant_ageGroup_7_counts',
 'merchant_ageGroup_8_counts',
 'merchant_ageGroup_0_counts',
 'brand_monthly_action_count',
 'brand_male_count',
 'brand_female_count',
 'brand_unknown_gender_count',
 'month_brand_male_count',
 'month_brand_female_count',
 'month_brand_unknown_gender_count',
 'brand_male_count_ratio',
 'brand_female_count_ratio',
 'brand_unknown_count_ratio',
 'brand_monthly_male_count_ratio',
 'brand_monthly_female_count_ratio',
 'brand_monthly_unknown_count_ratio',
 'brand_buys',
 'brand_buy_ratio',
 'brand_male_buy_count',
 'brand_female_buy_count',
 'brand_unknown_buy_count',
 'brand_male_buy_ratio',
 'brand_female_buy_ratio',
 'brand_unknown_buy_ratio',
 'brand_ageGroup_1_counts',
 'brand_ageGroup_2_counts',
 'brand_ageGroup_3_counts',
 'brand_ageGroup_4_counts',
 'brand_ageGroup_5_counts',
 'brand_ageGroup_6_counts',
 'brand_ageGroup_7_counts',
 'brand_ageGroup_8_counts',
 'brand_ageGroup_0_counts',
 'brand action count',
 'brand action count ratio',
 'brand day count',
 'brand 1111 action count',
 'brand 1111 action count ratio',
 'brand 1111 activity ratio',
 'brand last week action count',
 'brand last week action count ratio',
 'brand last week activity ratio',
 'item action count',
 'item action count ratio',
 'item day count',
 'item 1111 action count',
 'item 1111 action count ratio',
 'item 1111 activity ratio',
 'item last week action count',
 'item last week action count ratio',
 'item last week activity ratio',
 'item_monthly_action_count',
 'item_monthly_mean_action_type',
 'item_male_count',
 'item_female_count',
 'item_unknown_gender_count',
 'month_item_male_count',
 'month_item_female_count',
 'month_item_unknown_gender_count',
 'item_male_count_ratio',
 'item_female_count_ratio',
 'item_unknown_count_ratio',
 'item_buys',
 'item_buy_ratio',
 'item_male_buy_count',
 'item_female_buy_count',
 'item_unknown_buy_count',
 'item_male_buy_ratio',
 'item_female_buy_ratio',
 'item_unknown_buy_ratio',
 'item_ageGroup_1_counts',
 'item_ageGroup_2_counts',
 'item_ageGroup_3_counts',
 'item_ageGroup_4_counts',
 'item_ageGroup_5_counts',
 'item_ageGroup_6_counts',
 'item_ageGroup_7_counts',
 'item_ageGroup_8_counts',
 'item_ageGroup_0_counts',
 'cat action count',
 'cat action count ratio',
 'cat day count',
 'cat 1111 action count',
 'cat 1111 action count ratio',
 'cat 1111 activity ratio',
 'cat last week action count',
 'cat last week action count ratio',
 'cat last week activity ratio',
 'cat_monthly_action_count',
 'cat_male_count',
 'cat_female_count',
 'cat_unknown_gender_count',
 'month_cat_male_count',
 'month_cat_female_count',
 'month_cat_unknown_gender_count',
 'cat_buys',
 'cat_buy_ratio',
 'cat_male_buy_count',
 'cat_female_buy_count',
 'cat_unknown_buy_count',
 'cat_male_buy_ratio',
 'cat_female_buy_ratio',
 'cat_unknown_buy_ratio',
 'cat_ageGroup_1_counts',
 'cat_ageGroup_2_counts',
 'cat_ageGroup_3_counts',
 'cat_ageGroup_4_counts',
 'cat_ageGroup_5_counts',
 'cat_ageGroup_6_counts',
 'cat_ageGroup_7_counts',
 'cat_ageGroup_8_counts',
 'cat_ageGroup_0_counts']

In [29]:
df_features.to_csv('merged_df.csv',index=False)