In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
'''
FEATURES:
Overall action count/ratio          DONE
Overall day count                   DONE
Monthly action count/ratio          DONE
Penetration                     TODO
Monthly Aggregation             TODO
Double 11 Features                  DONE
Latest one-week                     DONE
Repeat Buyer Features           TODO
Age Related Features            TODO
Gender Related Features         TODO
'''

'\nFEATURES:\nOverall action count/ratio          DONE\nOverall day count                   DONE\nMonthly action count/ratio          DONE\nPenetration                     TODO\nMonthly Aggregation             TODO\nDouble 11 Features                  DONE\nLatest one-week                     DONE\nRepeat Buyer Features           TODO\nAge Related Features            TODO\nGender Related Features         TODO\n'

In [2]:
df = pd.read_csv("./use_data/expanded_training.csv")
df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [3]:
df_item = df[['item_id']]
df_item

     item_id
0        198
1        198
2        198
3        198
4        198
..       ...
380      175
381      175
382      175
383      253
384      175

[385 rows x 1 columns]

In [4]:
#FEATURE 1: OVERALL ACTION COUNT/RATIO
actions = {}
for index, row in df.iterrows():
    if row['item_id'] not in actions:
        # there may be multiple entries, so default with an empty list
        actions[row["item_id"]] = [] 
    actions[row["item_id"]].append(row["action_type"])

In [5]:
actions

{198.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 175.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 281.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 279.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 190.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 219.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 285.0: [0.0, 0.0],
 278.0: [2.0, 0.0],
 224.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 184.0: [0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 312.0: [0.0, 0.0, 0.0, 0.0],
 253.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 274.0: [0.0],
 226.0: [0.0, 0.0, 0.0, 2.0],
 209.0: [0.0, 0.0, 0.0],
 319.0: [0.0],
 170.0: [0.0, 0.0],
 211.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 277.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 291.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 221.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0],
 169.0: [0.0, 0.0],
 186.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 269.0: [0.0],
 215.0: [0.0],
 315.0: [0.0],
 191.0: [0.0]}

In [6]:
action_count = {}
for key in actions.keys():
    action_count[key] = len(actions[key])
action_count

{198.0: 11,
 175.0: 105,
 281.0: 19,
 279.0: 85,
 190.0: 6,
 219.0: 21,
 285.0: 2,
 278.0: 2,
 224.0: 12,
 184.0: 25,
 312.0: 4,
 253.0: 18,
 274.0: 1,
 226.0: 4,
 209.0: 3,
 319.0: 1,
 170.0: 2,
 211.0: 30,
 277.0: 6,
 291.0: 6,
 221.0: 9,
 169.0: 2,
 186.0: 7,
 269.0: 1,
 215.0: 1,
 315.0: 1,
 191.0: 1}

In [7]:
total_action_count = sum(action_count.values())
total_action_count

385

In [8]:
action_count_ratio = {}
for key in action_count:
    action_count_ratio[key] = action_count[key]/total_action_count
action_count_ratio

{198.0: 0.02857142857142857,
 175.0: 0.2727272727272727,
 281.0: 0.04935064935064935,
 279.0: 0.22077922077922077,
 190.0: 0.015584415584415584,
 219.0: 0.05454545454545454,
 285.0: 0.005194805194805195,
 278.0: 0.005194805194805195,
 224.0: 0.03116883116883117,
 184.0: 0.06493506493506493,
 312.0: 0.01038961038961039,
 253.0: 0.046753246753246755,
 274.0: 0.0025974025974025974,
 226.0: 0.01038961038961039,
 209.0: 0.007792207792207792,
 319.0: 0.0025974025974025974,
 170.0: 0.005194805194805195,
 211.0: 0.07792207792207792,
 277.0: 0.015584415584415584,
 291.0: 0.015584415584415584,
 221.0: 0.023376623376623377,
 169.0: 0.005194805194805195,
 186.0: 0.01818181818181818,
 269.0: 0.0025974025974025974,
 215.0: 0.0025974025974025974,
 315.0: 0.0025974025974025974,
 191.0: 0.0025974025974025974}

In [9]:
df_item['item action count'] = -1
df_item['item action count ratio'] = -1
for index,row in df_item.iterrows():
        df_item.at[index, 'item action count'] = action_count[row['item_id']]
        df_item.at[index, 'item action count ratio'] = action_count_ratio[row['item_id']]

df_item

/tmp/ipykernel_8998/253515466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item action count'] = -1
/tmp/ipykernel_8998/253515466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item action count ratio'] = -1

     item_id  item action count  item action count ratio
0        198                 11                 0.028571
1        198                 11                 0.028571
2        198                 11                 0.028571
3        198                 11                 0.028571
4        198                 11                 0.028571
..       ...                ...                      ...
380      175                105                 0.272727
381      175                105                 0.272727
382      175                105                 0.272727
383      253                 18                 0.046753
384      175                105                 0.272727

[385 rows x 3 columns]

In [10]:
#FEATURE 2: OVERALL DAY COUNT
days = {}

# go through user_seller sub-dataframe and split entries by item_id:seller_id
for index, row in df.iterrows():
    if row['item_id'] not in days:
        # there may be multiple entries, so default with an empty list
        days[row["item_id"]] = [] 
    days[row["item_id"]].append(row["time_stamp"])

In [11]:
for k,v in days.items():
    days[k] = list(set(v)) # make each value list unique

days

{198.0: [1105.0, 1110.0, 1111.0],
 175.0: [1026.0,
  1101.0,
  1103.0,
  1106.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0],
 281.0: [1103.0, 1104.0, 1105.0, 1107.0, 1108.0, 1109.0, 1111.0],
 279.0: [1030.0,
  617.0,
  522.0,
  524.0,
  529.0,
  1105.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0,
  603.0],
 190.0: [1105.0, 1108.0, 1109.0, 1111.0],
 219.0: [1105.0, 1109.0, 1111.0],
 285.0: [520.0, 1110.0],
 278.0: [1111.0],
 224.0: [1108.0, 1109.0, 1111.0],
 184.0: [1109.0, 1111.0],
 312.0: [1108.0, 1022.0, 1103.0],
 253.0: [1110.0, 1111.0],
 274.0: [1111.0],
 226.0: [1111.0],
 209.0: [1110.0, 1111.0],
 319.0: [1111.0],
 170.0: [528.0, 601.0],
 211.0: [1103.0, 1105.0, 1106.0, 1108.0, 1109.0, 1110.0, 1111.0],
 277.0: [801.0, 627.0, 804.0, 806.0],
 291.0: [1111.0],
 221.0: [1026.0, 1101.0, 1110.0, 1111.0],
 169.0: [1110.0],
 186.0: [1110.0, 1111.0],
 269.0: [1110.0],
 215.0: [1001.0],
 315.0: [1111.0],
 191.0: [1109.0]}

In [12]:
day_count = {}
for key in days.keys():
    day_count[key] = len(days[key])
day_count

{198.0: 3,
 175.0: 9,
 281.0: 7,
 279.0: 12,
 190.0: 4,
 219.0: 3,
 285.0: 2,
 278.0: 1,
 224.0: 3,
 184.0: 2,
 312.0: 3,
 253.0: 2,
 274.0: 1,
 226.0: 1,
 209.0: 2,
 319.0: 1,
 170.0: 2,
 211.0: 7,
 277.0: 4,
 291.0: 1,
 221.0: 4,
 169.0: 1,
 186.0: 2,
 269.0: 1,
 215.0: 1,
 315.0: 1,
 191.0: 1}

In [13]:
df_item['item day count'] = -1
for index,row in df_item.iterrows():
        df_item.at[index, 'item day count'] = day_count[row['item_id']]

df_item

/tmp/ipykernel_8998/1303459344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item day count'] = -1

     item_id  item action count  item action count ratio  item day count
0        198                 11                 0.028571               3
1        198                 11                 0.028571               3
2        198                 11                 0.028571               3
3        198                 11                 0.028571               3
4        198                 11                 0.028571               3
..       ...                ...                      ...             ...
380      175                105                 0.272727               9
381      175                105                 0.272727               9
382      175                105                 0.272727               9
383      253                 18                 0.046753               2
384      175                105                 0.272727               9

[385 rows x 4 columns]

In [14]:
#DOUBLE 11 FEATURES
df_11 = df[df['time_stamp']==1111]
df_11

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
9,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
10,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
375,289079,279,898,3323,683.0,1111,0,4.0,1.0,1
377,403117,175,1181,4760,247.0,1111,0,2.0,1.0,0
378,36385,219,349,1943,6208.0,1111,2,0.0,0.0,0
379,36385,219,349,1943,6208.0,1111,0,0.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0

In [15]:
actions_11 = {}

# go through user_seller sub-dataframe and split entries by item_id:seller_id
for index, row in df_11.iterrows():
    if row['item_id'] not in actions_11:
        # there may be multiple entries, so default with an empty list
        actions_11[row["item_id"]] = [] 
    actions_11[row["item_id"]].append(row["action_type"])

actions_11

{198.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0],
 175.0: [0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0],
 281.0: [2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 279.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 219.0: [0.0,
  2.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 278.0: [2.0, 0.0],
 224.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 184.0: [0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0],
 253.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 274.0: [0.0],
 226.0: [0.0, 0.0, 0.0, 2.0],
 319.0: [0.0],
 211.0: [2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 291.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 221.0: [0.0, 0.0, 2.0],
 209.0: [0.0],
 190.0: [0.0],
 186.0: [0.0, 2.0],
 315.0: [0.0]}

In [16]:
action_count_11 = {}
for key in actions_11.keys():
    action_count_11[key] = len(actions_11[key])
action_count_11

{198.0: 6,
 175.0: 67,
 281.0: 11,
 279.0: 46,
 219.0: 17,
 278.0: 2,
 224.0: 10,
 184.0: 24,
 253.0: 13,
 274.0: 1,
 226.0: 4,
 319.0: 1,
 211.0: 12,
 291.0: 6,
 221.0: 3,
 209.0: 1,
 190.0: 1,
 186.0: 2,
 315.0: 1}

In [17]:
total_action_count_11 = sum(action_count_11.values())
total_action_count_11

228

In [18]:
action_count_ratio_11 = {}
for key in action_count_11:
    action_count_ratio_11[key] = action_count_11[key]/total_action_count_11
action_count_ratio_11

{198.0: 0.02631578947368421,
 175.0: 0.29385964912280704,
 281.0: 0.04824561403508772,
 279.0: 0.20175438596491227,
 219.0: 0.07456140350877193,
 278.0: 0.008771929824561403,
 224.0: 0.043859649122807015,
 184.0: 0.10526315789473684,
 253.0: 0.05701754385964912,
 274.0: 0.0043859649122807015,
 226.0: 0.017543859649122806,
 319.0: 0.0043859649122807015,
 211.0: 0.05263157894736842,
 291.0: 0.02631578947368421,
 221.0: 0.013157894736842105,
 209.0: 0.0043859649122807015,
 190.0: 0.0043859649122807015,
 186.0: 0.008771929824561403,
 315.0: 0.0043859649122807015}

In [19]:
df_item['item 1111 action count'] = 0
df_item['item 1111 action count ratio'] = 0
for index,row in df_item.iterrows():
        if row['item_id'] in action_count_11.keys():
            df_item.at[index, 'item 1111 action count'] = action_count_11[row['item_id']]
        if row['item_id'] in action_count_ratio_11.keys():
            df_item.at[index, 'item 1111 action count ratio'] = action_count_ratio_11[row['item_id']]

df_item

/tmp/ipykernel_8998/3179946391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item 1111 action count'] = 0
/tmp/ipykernel_8998/3179946391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item 1111 action count ratio'] = 0

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio
0,198,11,0.028571,3,6,0.026316
1,198,11,0.028571,3,6,0.026316
2,198,11,0.028571,3,6,0.026316
3,198,11,0.028571,3,6,0.026316
4,198,11,0.028571,3,6,0.026316
...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860
381,175,105,0.272727,9,67,0.293860
382,175,105,0.272727,9,67,0.293860
383,253,18,0.046753,2,13,0.057018
384,175,105,0.272727,9,67,0.293860

In [20]:
activity_ratio_1111 = {}
df_item['item 1111 activity ratio'] = 0
for index,row in df_item.iterrows():
    if df_item.at[index,'item 1111 action count'] != 0:
        df_item.at[index, 'item 1111 activity ratio'] = (df_item.at[index,'item 1111 action count']/df_item.at[index,'item action count'])
df_item

/tmp/ipykernel_8998/1801455347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item 1111 activity ratio'] = 0

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio
0,198,11,0.028571,3,6,0.026316,0.545455
1,198,11,0.028571,3,6,0.026316,0.545455
2,198,11,0.028571,3,6,0.026316,0.545455
3,198,11,0.028571,3,6,0.026316,0.545455
4,198,11,0.028571,3,6,0.026316,0.545455
...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095
381,175,105,0.272727,9,67,0.293860,0.638095
382,175,105,0.272727,9,67,0.293860,0.638095
383,253,18,0.046753,2,13,0.057018,0.722222
384,175,105,0.272727,9,67,0.293860,0.638095

In [21]:
#FEATURE 10: LATEST ONE-WEEK
latest_week = 1104
df_latest_week = df[df['time_stamp']>=latest_week]
df_latest_week

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [22]:
actions_last_week = {}

# go through user_seller sub-dataframe and split entries by item_id:seller_id
for index, row in df_latest_week.iterrows():
    if row['item_id'] not in actions_last_week:
        # there may be multiple entries, so default with an empty list
        actions_last_week[row["item_id"]] = [] 
    actions_last_week[row["item_id"]].append(row["action_type"])
    
#for k,v in actions_last_week.items():
#    actions_last_week[k] = list(set(v)) # make each value list unique
actions_last_week

{198.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 175.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 281.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 279.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 190.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 219.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 278.0: [2.0, 0.0],
 224.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 184.0: [0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 253.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 274.0: [0.0],
 226.0: [0.0, 0.0, 0.0, 2.0],
 209.0: [0.0, 0.0, 0.0],
 319.0: [0.0],
 211.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 285.0: [0.0],
 291.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 221.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0],
 169.0: [0.0, 0.0],
 186.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 269.0: [0.0],
 312.0: [0.0, 0.0],
 315.0: [0.0],
 191.0: [0.0]}

In [23]:
action_count_last_week = {}
for key in actions_last_week.keys():
    action_count_last_week[key] = len(actions_last_week[key])
action_count_last_week

{198.0: 11,
 175.0: 101,
 281.0: 18,
 279.0: 75,
 190.0: 6,
 219.0: 21,
 278.0: 2,
 224.0: 12,
 184.0: 25,
 253.0: 18,
 274.0: 1,
 226.0: 4,
 209.0: 3,
 319.0: 1,
 211.0: 29,
 285.0: 1,
 291.0: 6,
 221.0: 7,
 169.0: 2,
 186.0: 7,
 269.0: 1,
 312.0: 2,
 315.0: 1,
 191.0: 1}

In [24]:
total_action_count_last_week = sum(action_count_last_week.values())
total_action_count_last_week

355

In [25]:
action_count_ratio_last_week = {}
for key in action_count_last_week:
    action_count_ratio_last_week[key] = action_count_last_week[key]/total_action_count_last_week
action_count_ratio_last_week

{198.0: 0.030985915492957747,
 175.0: 0.28450704225352114,
 281.0: 0.05070422535211268,
 279.0: 0.2112676056338028,
 190.0: 0.016901408450704224,
 219.0: 0.059154929577464786,
 278.0: 0.005633802816901409,
 224.0: 0.03380281690140845,
 184.0: 0.07042253521126761,
 253.0: 0.05070422535211268,
 274.0: 0.0028169014084507044,
 226.0: 0.011267605633802818,
 209.0: 0.008450704225352112,
 319.0: 0.0028169014084507044,
 211.0: 0.08169014084507042,
 285.0: 0.0028169014084507044,
 291.0: 0.016901408450704224,
 221.0: 0.01971830985915493,
 169.0: 0.005633802816901409,
 186.0: 0.01971830985915493,
 269.0: 0.0028169014084507044,
 312.0: 0.005633802816901409,
 315.0: 0.0028169014084507044,
 191.0: 0.0028169014084507044}

In [26]:
df_item['item last week action count'] = 0
df_item['item last week action count ratio'] = 0
for index,row in df_item.iterrows():
        if row['item_id'] in action_count_last_week.keys():
            df_item.at[index, 'item last week action count'] = action_count_last_week[row['item_id']]
        if row['item_id'] in action_count_ratio_last_week.keys():
            df_item.at[index, 'item last week action count ratio'] = action_count_ratio_last_week[row['item_id']]

df_item

/tmp/ipykernel_8998/2949013850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item last week action count'] = 0
/tmp/ipykernel_8998/2949013850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item['item last week action count ratio'] = 0

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986
...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507

In [27]:
activity_ratio_last_week = {}
df_item['item last week activity ratio'] = 0
for index,row in df_item.iterrows():
    if df_item.at[index,'item last week action count'] != 0:
        df_item.at[index, 'item last week activity ratio'] = (df_item.at[index,'item last week action count']/df_item.at[index,'item action count'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000
...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905

In [28]:
#FEATURE 11: LATEST MONTH
latest_month = 1011
df_latest_month = df[df['time_stamp']>=latest_month]
df_latest_month

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [29]:
actions_last_month = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_latest_month.iterrows():
    if row['item_id'] not in actions_last_month:
        # there may be multiple entries, so default with an empty list
        actions_last_month[row["item_id"]] = [] 
    actions_last_month[row["item_id"]].append(row["item_id"])
    
#for k,v in actions_last_month.items():
#    actions_last_month[k] = list(set(v)) # make each value list unique
actions_last_month

{198.0: [198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0,
  198.0],
 175.0: [175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0,
  175.0],
 281.0: [281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0,
  281.0],
 279.0: [279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0,
  279.0],
 190.0: [190.0, 190.0, 190.0, 190.0, 190.0, 190.0],
 219.0: [219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0,
  219.0],
 278.0: [278.0, 278.0],
 224.0: [224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0,
  224.0],
 184.0: [184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0,
  184.0],
 312.0: [312.0, 312.0, 312.0, 312.0],
 253.0: [253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0,
  253.0],
 274.0: [274.0],
 226.0: [226.0, 226.0, 226.0, 226.0],
 209.0: [209.0, 209.0, 209.0],
 319.0: [319.0],
 211.0: [211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0,
  211.0],
 285.0: [285.0],
 291.0: [291.0, 291.0, 291.0, 291.0, 291.0, 291.0],
 221.0: [221.0, 221.0, 221.0, 221.0, 221.0, 221.0, 221.0, 221.0, 221.0],
 169.0: [169.0, 169.0],
 186.0: [186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0],
 269.0: [269.0],
 315.0: [315.0],
 191.0: [191.0]}

In [30]:
action_count_last_month = {}
for key in actions_last_month.keys():
    action_count_last_month[key] = len(actions_last_month[key])
action_count_last_month

{198.0: 11,
 175.0: 105,
 281.0: 19,
 279.0: 76,
 190.0: 6,
 219.0: 21,
 278.0: 2,
 224.0: 12,
 184.0: 25,
 312.0: 4,
 253.0: 18,
 274.0: 1,
 226.0: 4,
 209.0: 3,
 319.0: 1,
 211.0: 30,
 285.0: 1,
 291.0: 6,
 221.0: 9,
 169.0: 2,
 186.0: 7,
 269.0: 1,
 315.0: 1,
 191.0: 1}

In [31]:
total_action_count_last_month = sum(action_count_last_month.values())
total_action_count_last_month

366

In [32]:
action_count_ratio_last_month = {}
for key in action_count_last_month:
    action_count_ratio_last_month[key] = action_count_last_month[key]/total_action_count_last_month
action_count_ratio_last_month

{198.0: 0.030054644808743168,
 175.0: 0.28688524590163933,
 281.0: 0.05191256830601093,
 279.0: 0.20765027322404372,
 190.0: 0.01639344262295082,
 219.0: 0.05737704918032787,
 278.0: 0.00546448087431694,
 224.0: 0.03278688524590164,
 184.0: 0.06830601092896176,
 312.0: 0.01092896174863388,
 253.0: 0.04918032786885246,
 274.0: 0.00273224043715847,
 226.0: 0.01092896174863388,
 209.0: 0.00819672131147541,
 319.0: 0.00273224043715847,
 211.0: 0.08196721311475409,
 285.0: 0.00273224043715847,
 291.0: 0.01639344262295082,
 221.0: 0.02459016393442623,
 169.0: 0.00546448087431694,
 186.0: 0.01912568306010929,
 269.0: 0.00273224043715847,
 315.0: 0.00273224043715847,
 191.0: 0.00273224043715847}

In [33]:
df_item['last month action count'] = 0
df_item['last month action count ratio'] = 0
for index,row in df_item.iterrows():
        if row['item_id'] in action_count_last_month.keys():
            df_item.at[index, 'last month action count'] = action_count_last_month[row['item_id']]
        if row['item_id'] in action_count_ratio_last_month.keys():
            df_item.at[index, 'last month action count ratio'] = action_count_ratio_last_month[row['item_id']]

df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055
...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885

In [34]:
activity_ratio_last_month = {}
df_item['last month activity ratio'] = 0
for index,row in df_item.iterrows():
    if df_item.at[index,'last month action count'] != 0:
        df_item.at[index, 'last month activity ratio'] = (df_item.at[index,'last month action count']/df_item.at[index,'item action count'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0

In [35]:
print("TOTAL ACTIONS: ", total_action_count)
print("TOTAL ACTIONS LATEST MONTH: ",total_action_count_last_month)
print("TOTAL ACTIONS LATEST WEEK: ",total_action_count_last_week)
print("TOTAL ACTIONS 1111: ",total_action_count_11)

TOTAL ACTIONS:  385
TOTAL ACTIONS LATEST MONTH:  366
TOTAL ACTIONS LATEST WEEK:  355
TOTAL ACTIONS 1111:  228

In [36]:
#FEATURE 18: AGE RELATED FEATURES
item_age = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['item_id'] not in item_age:
        # there may be multiple entries, so default with an empty list
        item_age[row["item_id"]] = [] 
    item_age[row["item_id"]].append(row["age_range"])

item_age_avg = {}
for row in item_age.items():
    item_age_avg[row[0]] = np.nansum(row[1])/len(row[1])
sorted(item_age_avg.items())

[(169.0, 3.0),
 (170.0, 2.0),
 (175.0, 2.7142857142857144),
 (184.0, 3.28),
 (186.0, 1.1428571428571428),
 (190.0, 3.0),
 (191.0, 2.0),
 (198.0, 4.363636363636363),
 (209.0, 1.3333333333333333),
 (211.0, 2.4),
 (215.0, 6.0),
 (219.0, 3.238095238095238),
 (221.0, 0.5555555555555556),
 (224.0, 2.3333333333333335),
 (226.0, 5.0),
 (253.0, 2.4444444444444446),
 (269.0, 0.0),
 (274.0, 4.0),
 (277.0, 3.1666666666666665),
 (278.0, 2.0),
 (279.0, 2.8705882352941177),
 (281.0, 4.0),
 (285.0, 4.5),
 (291.0, 4.0),
 (312.0, 4.0),
 (315.0, 0.0),
 (319.0, 3.0)]

In [37]:
total_item_average_age = sum(item_age_avg.values())/len(item_age_avg.keys())
print("Average age total: ",total_item_average_age)

Average age total:  2.827510963981552

In [38]:
df_item['average age'] = 0
for index,row in df_item.iterrows():
        if row['item_id'] in item_age_avg.keys():
            df_item.at[index, 'average age'] = item_age_avg[row['item_id']]
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286

In [39]:
#FEATURE 19: GENDER FEATURES
item_gender = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['item_id'] not in item_gender:
        # there may be multiple entries, so default with an empty list
        item_gender[row["item_id"]] = [] 
    item_gender[row["item_id"]].append(row["gender"])

item_gender_avg = {}
for row in item_gender.items():
    item_gender_avg[row[0]] = np.nansum(row[1])/len(row[1])
sorted(item_gender_avg.items())

[(169.0, 1.0),
 (170.0, 0.0),
 (175.0, 0.6857142857142857),
 (184.0, 0.2),
 (186.0, 0.0),
 (190.0, 0.0),
 (191.0, 0.0),
 (198.0, 0.7272727272727273),
 (209.0, 0.0),
 (211.0, 0.6333333333333333),
 (215.0, 1.0),
 (219.0, 0.6190476190476191),
 (221.0, 0.7777777777777778),
 (224.0, 0.16666666666666666),
 (226.0, 0.0),
 (253.0, 0.0),
 (269.0, 1.0),
 (274.0, 0.0),
 (277.0, 0.8333333333333334),
 (278.0, 1.0),
 (279.0, 0.49411764705882355),
 (281.0, 0.0),
 (285.0, 1.0),
 (291.0, 0.0),
 (312.0, 0.0),
 (315.0, 0.0),
 (319.0, 0.0)]

In [40]:
total_item_average_gender = sum(item_gender_avg.values())/len(item_gender_avg.keys())
print("Average gender total: ",total_item_average_gender)

Average gender total:  0.37545419963720617

In [41]:
df_item['average gender'] = 0
for index,row in df_item.iterrows():
        if row['item_id'] in item_gender_avg.keys():
            df_item.at[index, 'average gender'] = item_gender_avg[row['item_id']]
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714

In [42]:
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714

# Merging Features (James)

In [43]:
df['month'] = df['time_stamp'] // 100
df['day'] = df['time_stamp'] % 100
df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label,month,day
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,11,11
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0,11,11
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0,11,11
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,11,10
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0,11,9
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,11,8
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0,11,8
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0,11,11
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0,11,10

In [44]:
# Split Month Day into Separate Columns
df_item['month'] = df['time_stamp'] // 100
df_item['day'] = df['time_stamp'] % 100
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender,month,day
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,9
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000,11,11
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,10

In [45]:
# Monthly item Action Counts
df_item['item_monthly_action_count'] = df_item.groupby(['item_id', 'month']).transform('size')
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender,month,day,item_monthly_action_count
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,9,104
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000,11,11,18
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,10,104

In [46]:
# Total Action Count in said month
df_item['month_total_action_count'] = df_item.groupby(['month']).transform('size')
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender,month,day,item_monthly_action_count,month_total_action_count
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11,362
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,9,104,362
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104,362
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104,362
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000,11,11,18,362
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,10,104,362

In [47]:
# Monthly Action Count / Ratio (Count/Ratio Type)
df_item['monthly_action_count_ratio'] = df_item.groupby(['item_id', 'month'])['item_monthly_action_count'].transform(lambda x: x/ df_item['month_total_action_count'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,last month action count,last month action count ratio,last month activity ratio,average age,average gender,month,day,item_monthly_action_count,month_total_action_count,monthly_action_count_ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11,362,0.030387
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,11,0.030055,1.0,4.363636,0.727273,11,10,11,362,0.030387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,9,104,362,0.287293
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104,362,0.287293
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,8,104,362,0.287293
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,18,0.049180,1.0,2.444444,0.000000,11,11,18,362,0.049724
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,105,0.286885,1.0,2.714286,0.685714,11,10,104,362,0.287293

In [48]:
# Per Item Mean Action Type (Treats Action Type not really Discrete Label)
df_item['item_monthly_mean_action_type'] = df.groupby(['item_id', 'month'])['action_type'].transform('mean')
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,last month action count ratio,last month activity ratio,average age,average gender,month,day,item_monthly_action_count,month_total_action_count,monthly_action_count_ratio,item_monthly_mean_action_type
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387,0.181818
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387,0.181818
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.030055,1.0,4.363636,0.727273,11,11,11,362,0.030387,0.181818
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.030055,1.0,4.363636,0.727273,11,10,11,362,0.030387,0.181818
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.030055,1.0,4.363636,0.727273,11,10,11,362,0.030387,0.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.286885,1.0,2.714286,0.685714,11,9,104,362,0.287293,0.355769
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.286885,1.0,2.714286,0.685714,11,8,104,362,0.287293,0.355769
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.286885,1.0,2.714286,0.685714,11,8,104,362,0.287293,0.355769
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,0.049180,1.0,2.444444,0.000000,11,11,18,362,0.049724,0.111111
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.286885,1.0,2.714286,0.685714,11,10,104,362,0.287293,0.355769

# Gender Interaction Count per Item

In [49]:
# For Other Columns, modify the groupby condition
male_counts = df.groupby(['item_id'])['gender'].apply(lambda x: (x == 1).sum())
female_counts = df.groupby(['item_id'])['gender'].apply(lambda x: (x == 0).sum())
unknown_gender_count = df.groupby(['item_id'])['gender'].apply(lambda x: (x == 2).sum())
gender_total_item_counts = pd.DataFrame({'item_male_count': male_counts, 'item_female_count': female_counts, 'item_unknown_gender_count': unknown_gender_count})
gender_total_item_counts

         item_male_count  item_female_count  item_unknown_gender_count
item_id
169                    2                  0                          0
170                    0                  2                          0
175                   72                 33                          0
184                    1                 22                          2
186                    0                  7                          0
190                    0                  6                          0
191                    0                  1                          0
198                    8                  3                          0
209                    0                  3                          0
211                   19                 11                          0
215                    1                  0                          0
219                   13                  8                          0
221                    7                  2                          0
224                    2                 10                          0
226                    0                  4                          0
253                    0                 18                          0
269                    1                  0                          0
274                    0                  1                          0
277                    5                  1                          0
278                    2                  0                          0
279                   40                 44                          1
281                    0                 19                          0
285                    0                  1                          1
291                    0                  6                          0
312                    0                  4                          0
315                    0                  1                          0
319                    0                  1                          0

In [50]:
df_item = df_item.join(gender_total_item_counts, on='item_id')
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,average gender,month,day,item_monthly_action_count,month_total_action_count,monthly_action_count_ratio,item_monthly_mean_action_type,item_male_count,item_female_count,item_unknown_gender_count
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.727273,11,11,11,362,0.030387,0.181818,8,3,0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.727273,11,11,11,362,0.030387,0.181818,8,3,0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.727273,11,11,11,362,0.030387,0.181818,8,3,0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.727273,11,10,11,362,0.030387,0.181818,8,3,0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.727273,11,10,11,362,0.030387,0.181818,8,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.685714,11,9,104,362,0.287293,0.355769,72,33,0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.685714,11,8,104,362,0.287293,0.355769,72,33,0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.685714,11,8,104,362,0.287293,0.355769,72,33,0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,0.000000,11,11,18,362,0.049724,0.111111,0,18,0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.685714,11,10,104,362,0.287293,0.355769,72,33,0

# Monthly Gender Action Count per Item

In [51]:

monthly_male_counts = df.groupby(['item_id', 'month'])['gender'].apply(lambda x: (x == 1).sum())
monthly_female_counts = df.groupby(['item_id', 'month'])['gender'].apply(lambda x: (x == 0).sum())
monthly_unknown_gender_count = df.groupby(['item_id', 'month'])['gender'].apply(lambda x: (x == 2).sum())
monthly_gender_total_item_counts = pd.DataFrame({'month_item_male_count': monthly_male_counts, 'month_item_female_count': monthly_female_counts, 'month_item_unknown_gender_count': monthly_unknown_gender_count})
monthly_gender_total_item_counts

               month_item_male_count  month_item_female_count  \
item_id month
169     11                         2                        0
170     5                          0                        1
        6                          0                        1
175     10                         1                        0
        11                        71                       33
184     11                         1                       22
186     11                         0                        7
190     11                         0                        6
191     11                         0                        1
198     11                         8                        3
209     11                         0                        3
211     11                        19                       11
215     10                         1                        0
219     11                        13                        8
221     10                         0                        1
        11                         7                        1
224     11                         2                       10
226     11                         0                        4
253     11                         0                       18
269     11                         1                        0
274     11                         0                        1
277     6                          0                        1
        8                          5                        0
278     11                         2                        0
279     5                          6                        0
        6                          2                        1
        10                         0                        1
        11                        32                       42
281     11                         0                       19
285     5                          0                        1
        11                         0                        0
291     11                         0                        6
312     10                         0                        1
        11                         0                        3
315     11                         0                        1
319     11                         0                        1

               month_item_unknown_gender_count
item_id month
169     11                                   0
170     5                                    0
        6                                    0
175     10                                   0
        11                                   0
184     11                                   2
186     11                                   0
190     11                                   0
191     11                                   0
198     11                                   0
209     11                                   0
211     11                                   0
215     10                                   0
219     11                                   0
221     10                                   0
        11                                   0
224     11                                   0
226     11                                   0
253     11                                   0
269     11                                   0
274     11                                   0
277     6                                    0
        8                                    0
278     11                                   0
279     5                                    0
        6                                    0
        10                                   0
        11                                   1
281     11                                   0
285     5                                    0
        11                                   1
291     11                                   0
312     10                                   0
        11                                   0
315     11                                   0
319     11                                   0

In [52]:
df_item = df_item.join(monthly_gender_total_item_counts, on=['item_id', 'month'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_monthly_action_count,month_total_action_count,monthly_action_count_ratio,item_monthly_mean_action_type,item_male_count,item_female_count,item_unknown_gender_count,month_item_male_count,month_item_female_count,month_item_unknown_gender_count
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,11,362,0.030387,0.181818,8,3,0,8,3,0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,11,362,0.030387,0.181818,8,3,0,8,3,0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,11,362,0.030387,0.181818,8,3,0,8,3,0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,11,362,0.030387,0.181818,8,3,0,8,3,0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,11,362,0.030387,0.181818,8,3,0,8,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,104,362,0.287293,0.355769,72,33,0,71,33,0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,104,362,0.287293,0.355769,72,33,0,71,33,0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,104,362,0.287293,0.355769,72,33,0,71,33,0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,18,362,0.049724,0.111111,0,18,0,0,18,0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,104,362,0.287293,0.355769,72,33,0,71,33,0

# Item Gender Count Ratio

In [53]:
gender_counts = df_item[['item_male_count', 'item_female_count', 'item_unknown_gender_count']].sum(axis=1)
male_ratio = df_item.apply(lambda row: row['item_male_count'] / gender_counts[row.name], axis=1)
female_ratio = df_item.apply(lambda row: row['item_female_count'] / gender_counts[row.name], axis=1)
unknown_gender_ratio = df_item.apply(lambda row: row['item_unknown_gender_count'] / gender_counts[row.name], axis=1)
df_item['item_male_count_ratio'] = male_ratio
df_item['item_female_count_ratio'] = female_ratio
df_item['item_unknown_count_ratio'] = unknown_gender_ratio
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_monthly_mean_action_type,item_male_count,item_female_count,item_unknown_gender_count,month_item_male_count,month_item_female_count,month_item_unknown_gender_count,item_male_count_ratio,item_female_count_ratio,item_unknown_count_ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.181818,8,3,0,8,3,0,0.727273,0.272727,0.0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.181818,8,3,0,8,3,0,0.727273,0.272727,0.0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.181818,8,3,0,8,3,0,0.727273,0.272727,0.0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.181818,8,3,0,8,3,0,0.727273,0.272727,0.0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.181818,8,3,0,8,3,0,0.727273,0.272727,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.355769,72,33,0,71,33,0,0.685714,0.314286,0.0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.355769,72,33,0,71,33,0,0.685714,0.314286,0.0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.355769,72,33,0,71,33,0,0.685714,0.314286,0.0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,0.111111,0,18,0,0,18,0,0.000000,1.000000,0.0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.355769,72,33,0,71,33,0,0.685714,0.314286,0.0

# Item Buy Penetration

# Number of Buys per Item

In [54]:

item_buy = pd.DataFrame({'item_buys': df.groupby(['item_id'])['action_type'].apply(lambda x: (x == 2).sum())})
df_item = df_item.join(item_buy, on=['item_id'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_male_count,item_female_count,item_unknown_gender_count,month_item_male_count,month_item_female_count,month_item_unknown_gender_count,item_male_count_ratio,item_female_count_ratio,item_unknown_count_ratio,item_buys
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,8,3,0,8,3,0,0.727273,0.272727,0.0,1
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,8,3,0,8,3,0,0.727273,0.272727,0.0,1
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,8,3,0,8,3,0,0.727273,0.272727,0.0,1
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,8,3,0,8,3,0,0.727273,0.272727,0.0,1
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,8,3,0,8,3,0,0.727273,0.272727,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,72,33,0,71,33,0,0.685714,0.314286,0.0,14
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,72,33,0,71,33,0,0.685714,0.314286,0.0,14
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,72,33,0,71,33,0,0.685714,0.314286,0.0,14
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,0,18,0,0,18,0,0.000000,1.000000,0.0,1
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,72,33,0,71,33,0,0.685714,0.314286,0.0,14

# Buy Ratio per Item (Item Buy Count / Item Total Actions)

In [55]:
df_item['item_buy_ratio'] = df_item['item_buys'] / df_item.groupby(['item_id']).transform('size')
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_female_count,item_unknown_gender_count,month_item_male_count,month_item_female_count,month_item_unknown_gender_count,item_male_count_ratio,item_female_count_ratio,item_unknown_count_ratio,item_buys,item_buy_ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,8,3,0,0.727273,0.272727,0.0,1,0.090909
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,8,3,0,0.727273,0.272727,0.0,1,0.090909
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,8,3,0,0.727273,0.272727,0.0,1,0.090909
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,8,3,0,0.727273,0.272727,0.0,1,0.090909
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,8,3,0,0.727273,0.272727,0.0,1,0.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,71,33,0,0.685714,0.314286,0.0,14,0.133333
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,71,33,0,0.685714,0.314286,0.0,14,0.133333
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,71,33,0,0.685714,0.314286,0.0,14,0.133333
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,18,0,0,18,0,0.000000,1.000000,0.0,1,0.055556
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,71,33,0,0.685714,0.314286,0.0,14,0.133333

# Gender-Buy Count per Item

In [56]:
item_male_buy = df[df.action_type == 2].groupby(['item_id'])['gender'].apply(lambda x: (x == 1).sum()) 
item_female_buy = df[df.action_type == 2].groupby(['item_id'])['gender'].apply(lambda x: (x == 0).sum())
item_unknown_buy = df[df.action_type == 2].groupby(['item_id'])['gender'].apply(lambda x: (x == 2).sum())
gender_buys = pd.DataFrame({'item_male_buy_count': item_male_buy, 'item_female_buy_count': item_female_buy, 'item_unknown_buy_count': item_unknown_buy})
df_item = df_item.join(gender_buys, on=['item_id'])
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,month_item_female_count,month_item_unknown_gender_count,item_male_count_ratio,item_female_count_ratio,item_unknown_count_ratio,item_buys,item_buy_ratio,item_male_buy_count,item_female_buy_count,item_unknown_buy_count
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,0.727273,0.272727,0.0,1,0.090909,1.0,0.0,0.0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,0.727273,0.272727,0.0,1,0.090909,1.0,0.0,0.0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,0.727273,0.272727,0.0,1,0.090909,1.0,0.0,0.0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,0.727273,0.272727,0.0,1,0.090909,1.0,0.0,0.0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,3,0,0.727273,0.272727,0.0,1,0.090909,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,0.685714,0.314286,0.0,14,0.133333,8.0,6.0,0.0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,0.685714,0.314286,0.0,14,0.133333,8.0,6.0,0.0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,0.685714,0.314286,0.0,14,0.133333,8.0,6.0,0.0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,18,0,0.000000,1.000000,0.0,1,0.055556,0.0,1.0,0.0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,33,0,0.685714,0.314286,0.0,14,0.133333,8.0,6.0,0.0

# Gender-Buy Ratio per Item

In [57]:
df_item['item_male_buy_ratio'] = df_item['item_male_buy_count'] / df_item['item_buys']
df_item['item_female_buy_ratio'] = df_item['item_female_buy_count'] / df_item['item_buys']
df_item['item_unknown_buy_ratio'] = df_item['item_unknown_buy_count'] / df_item['item_buys']
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_female_count_ratio,item_unknown_count_ratio,item_buys,item_buy_ratio,item_male_buy_count,item_female_buy_count,item_unknown_buy_count,item_male_buy_ratio,item_female_buy_ratio,item_unknown_buy_ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,1.000000,0.0,1,0.055556,0.0,1.0,0.0,0.000000,1.000000,0.0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0

# Resolving NaNs

In [58]:

# Visualize rows with NaNs
nan_mask = df_item.isna().any(axis=1)
nan_rows = df_item[nan_mask]
nan_rows

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_female_count_ratio,item_unknown_count_ratio,item_buys,item_buy_ratio,item_male_buy_count,item_female_buy_count,item_unknown_buy_count,item_male_buy_ratio,item_female_buy_ratio,item_unknown_buy_ratio
35,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
36,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48,285,2,0.005195,2,0,0.000000,0.000000,1,0.002817,0.5,...,0.500000,0.5,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
62,312,4,0.010390,3,0,0.000000,0.000000,2,0.005634,0.5,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
127,274,1,0.002597,1,1,0.004386,1.000000,1,0.002817,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
139,209,3,0.007792,2,1,0.004386,0.333333,3,0.008451,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
143,319,1,0.002597,1,1,0.004386,1.000000,1,0.002817,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
165,170,2,0.005195,2,0,0.000000,0.000000,0,0.000000,0.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
192,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
219,285,2,0.005195,2,0,0.000000,0.000000,1,0.002817,0.5,...,0.500000,0.5,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
237,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
250,209,3,0.007792,2,1,0.004386,0.333333,3,0.008451,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
270,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
274,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
277,169,2,0.005195,1,0,0.000000,0.000000,2,0.005634,1.0,...,0.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
278,169,2,0.005195,1,0,0.000000,0.000000,2,0.005634,1.0,...,0.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
279,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
280,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
282,209,3,0.007792,2,1,0.004386,0.333333,3,0.008451,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
285,277,6,0.015584,4,0,0.000000,0.000000,0,0.000000,0.0,...,0.166667,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
314,269,1,0.002597,1,0,0.000000,0.000000,1,0.002817,1.0,...,0.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
318,312,4,0.010390,3,0,0.000000,0.000000,2,0.005634,0.5,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
319,215,1,0.002597,1,0,0.000000,0.000000,0,0.000000,0.0,...,0.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
321,312,4,0.010390,3,0,0.000000,0.000000,2,0.005634,0.5,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
322,312,4,0.010390,3,0,0.000000,0.000000,2,0.005634,0.5,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
325,170,2,0.005195,2,0,0.000000,0.000000,0,0.000000,0.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
326,315,1,0.002597,1,1,0.004386,1.000000,1,0.002817,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
352,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
353,190,6,0.015584,4,1,0.004386,0.166667,6,0.016901,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
356,191,1,0.002597,1,0,0.000000,0.000000,1,0.002817,1.0,...,1.000000,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:

condition = df_item['item_buys'] == 0
df_item.loc[condition, ['item_male_buy_count', 'item_female_buy_count', 'item_unknown_buy_count', 'item_male_buy_ratio', 'item_female_buy_ratio', 'item_unknown_buy_ratio']] = 0
df_item

,item_id,item action count,item action count ratio,item day count,item 1111 action count,item 1111 action count ratio,item 1111 activity ratio,item last week action count,item last week action count ratio,item last week activity ratio,...,item_female_count_ratio,item_unknown_count_ratio,item_buys,item_buy_ratio,item_male_buy_count,item_female_buy_count,item_unknown_buy_count,item_male_buy_ratio,item_female_buy_ratio,item_unknown_buy_ratio
0,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
1,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
2,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
3,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
4,198,11,0.028571,3,6,0.026316,0.545455,11,0.030986,1.000000,...,0.272727,0.0,1,0.090909,1.0,0.0,0.0,1.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
381,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
382,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0
383,253,18,0.046753,2,13,0.057018,0.722222,18,0.050704,1.000000,...,1.000000,0.0,1,0.055556,0.0,1.0,0.0,0.000000,1.000000,0.0
384,175,105,0.272727,9,67,0.293860,0.638095,101,0.284507,0.961905,...,0.314286,0.0,14,0.133333,8.0,6.0,0.0,0.571429,0.428571,0.0

In [60]:
print(sum(df_item.isna().sum()))

0

In [ ]:
# For Other Columns, modify the groupby condition
ageGroup_0_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 0).sum())
ageGroup_1_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 1).sum())
ageGroup_2_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 2).sum())
ageGroup_3_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 3).sum())
ageGroup_4_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 4).sum())
ageGroup_5_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 5).sum())
ageGroup_6_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 6).sum())
ageGroup_7_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 7).sum())
ageGroup_8_counts = df.groupby(['item_id'])['age_range'].apply(lambda x: (x == 8).sum())
gender_total_item_counts = pd.DataFrame({'ageGroup_1_counts': ageGroup_1_counts,'ageGroup_2_counts': ageGroup_2_counts,'ageGroup_3_counts': ageGroup_3_counts,'ageGroup_4_counts': ageGroup_4_counts,'ageGroup_5_counts': ageGroup_5_counts,
                                          'ageGroup_6_counts': ageGroup_6_counts,'ageGroup_7_counts': ageGroup_7_counts,'ageGroup_8_counts': ageGroup_8_counts, 'ageGroup_0_counts': ageGroup_0_counts})
df_item = df_item.join(gender_total_item_counts, on='item_id')
df_item