In [10]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
'''
FEATURES:
Overall action count/ratio          DONE
Overall day count                   DONE
Monthly action count/ratio      TODO
Product Diversity                   DONE
Penetration                     TODO
Monthly Aggregation             TODO
User Aggregation                TODO
Double 11 Features                  DONE
Latest One-Week                     DONE
Trend                           TODO
Repeat Buyer Features           TODO
LDA Features                    TODO
PCA Features                    TODO
Age Related                     TODO
Gender Related                  TODO

'''

'\nFEATURES:\nOverall action count/ratio\nOverall day count\nMonthly action count/ratio\nProduct Diversity\nPenetration\nMonthly Aggregation\nUser Aggregation\nDouble 11 Features\nLatest One-Week\nTrend\nRepeat Buyer Features\nLDA Features\nPCA Features\nAge Related\nGender Related\n\n'

In [59]:
df = pd.read_csv("./use_data/expanded_training.csv")
df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [60]:
# seller == merchant
df_merchant = df[['seller_id']]
df_merchant

     seller_id
0          145
1          145
2          145
3          145
4          145
..         ...
380       4760
381       4760
382       4760
383       3263
384       4760

[385 rows x 1 columns]

In [47]:
# Overall action count/ratio
actions = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['seller_id'] not in actions:
        # there may be multiple entries, so default with an empty list
        actions[row["seller_id"]] = [] 
    actions[row["seller_id"]].append(row["action_type"])

In [48]:
actions

{145.0: [0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 4760.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 246.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 3323.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1131.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 1943.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 630.0: [0.0, 0.0],
 1210.0: [2.0, 0.0],
 4955.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 4129.0: [0.0, 0.0, 0.0, 0.0],
 3263.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 3593.0: [0.0],
 1784.0: [0.0, 0.0, 0.0, 2.0],
 3766.0: [0.0, 0.0, 0.0],
 1536.0: [0.0],
 3828.0: [0.0, 0.0],
 2277.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 4282.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 314.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 4405.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0],
 4988.0: [0.0, 0.0],
 1200.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 2443.0: [0.0],
 2820.0: [0.0],
 2642.0: [0.0],
 2226.0: [0.0]}

In [49]:
#for k,v in actions.items():
#    actions[k] = list(set(v)) # make each value list unique
#actions

# same amount?

In [50]:
action_count = {}
for key in actions.keys():
    action_count[key] = len(actions[key])
action_count

{145.0: 36,
 4760.0: 105,
 246.0: 19,
 3323.0: 85,
 1131.0: 6,
 1943.0: 21,
 630.0: 2,
 1210.0: 2,
 4955.0: 12,
 4129.0: 4,
 3263.0: 18,
 3593.0: 1,
 1784.0: 4,
 3766.0: 3,
 1536.0: 1,
 3828.0: 2,
 2277.0: 30,
 4282.0: 6,
 314.0: 6,
 4405.0: 9,
 4988.0: 2,
 1200.0: 7,
 2443.0: 1,
 2820.0: 1,
 2642.0: 1,
 2226.0: 1}

In [56]:
# total action count
total_action_count = sum(action_count.values())
total_action_count

385

In [57]:
action_count_ratio = {}
for key in action_count:
    action_count_ratio[key] = action_count[key]/total_action_count
action_count_ratio

{145.0: 0.09350649350649351,
 4760.0: 0.2727272727272727,
 246.0: 0.04935064935064935,
 3323.0: 0.22077922077922077,
 1131.0: 0.015584415584415584,
 1943.0: 0.05454545454545454,
 630.0: 0.005194805194805195,
 1210.0: 0.005194805194805195,
 4955.0: 0.03116883116883117,
 4129.0: 0.01038961038961039,
 3263.0: 0.046753246753246755,
 3593.0: 0.0025974025974025974,
 1784.0: 0.01038961038961039,
 3766.0: 0.007792207792207792,
 1536.0: 0.0025974025974025974,
 3828.0: 0.005194805194805195,
 2277.0: 0.07792207792207792,
 4282.0: 0.015584415584415584,
 314.0: 0.015584415584415584,
 4405.0: 0.023376623376623377,
 4988.0: 0.005194805194805195,
 1200.0: 0.01818181818181818,
 2443.0: 0.0025974025974025974,
 2820.0: 0.0025974025974025974,
 2642.0: 0.0025974025974025974,
 2226.0: 0.0025974025974025974}

In [61]:
df_merchant['merchant action count'] = -1
df_merchant['merchant action count ratio'] = -1
for index,row in df_merchant.iterrows():
        df_merchant.at[index, 'merchant action count'] = action_count[row['seller_id']]
        df_merchant.at[index, 'merchant action count ratio'] = action_count_ratio[row['seller_id']]

df_merchant

C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\345860918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant action count'] = -1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\345860918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant action count ratio'] = -1

     seller_id  merchant action count  merchant action count ratio
0          145                     36                     0.093506
1          145                     36                     0.093506
2          145                     36                     0.093506
3          145                     36                     0.093506
4          145                     36                     0.093506
..         ...                    ...                          ...
380       4760                    105                     0.272727
381       4760                    105                     0.272727
382       4760                    105                     0.272727
383       3263                     18                     0.046753
384       4760                    105                     0.272727

[385 rows x 3 columns]

In [62]:
#FEATURE 2: OVERALL DAY COUNT
days = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['seller_id'] not in days:
        # there may be multiple entries, so default with an empty list
        days[row["seller_id"]] = [] 
    days[row["seller_id"]].append(row["time_stamp"])

In [63]:
for k,v in days.items():
    days[k] = list(set(v)) # make each value list unique
days

{145.0: [1105.0, 1109.0, 1110.0, 1111.0],
 4760.0: [1026.0,
  1101.0,
  1103.0,
  1106.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0],
 246.0: [1103.0, 1104.0, 1105.0, 1107.0, 1108.0, 1109.0, 1111.0],
 3323.0: [1030.0,
  617.0,
  522.0,
  524.0,
  529.0,
  1105.0,
  1107.0,
  1108.0,
  1109.0,
  1110.0,
  1111.0,
  603.0],
 1131.0: [1105.0, 1108.0, 1109.0, 1111.0],
 1943.0: [1105.0, 1109.0, 1111.0],
 630.0: [520.0, 1110.0],
 1210.0: [1111.0],
 4955.0: [1108.0, 1109.0, 1111.0],
 4129.0: [1108.0, 1022.0, 1103.0],
 3263.0: [1110.0, 1111.0],
 3593.0: [1111.0],
 1784.0: [1111.0],
 3766.0: [1110.0, 1111.0],
 1536.0: [1111.0],
 3828.0: [528.0, 601.0],
 2277.0: [1103.0, 1105.0, 1106.0, 1108.0, 1109.0, 1110.0, 1111.0],
 4282.0: [801.0, 627.0, 804.0, 806.0],
 314.0: [1111.0],
 4405.0: [1026.0, 1101.0, 1110.0, 1111.0],
 4988.0: [1110.0],
 1200.0: [1110.0, 1111.0],
 2443.0: [1110.0],
 2820.0: [1001.0],
 2642.0: [1111.0],
 2226.0: [1109.0]}

In [64]:
day_count = {}
for key in days.keys():
    day_count[key] = len(days[key])
day_count

{145.0: 4,
 4760.0: 9,
 246.0: 7,
 3323.0: 12,
 1131.0: 4,
 1943.0: 3,
 630.0: 2,
 1210.0: 1,
 4955.0: 3,
 4129.0: 3,
 3263.0: 2,
 3593.0: 1,
 1784.0: 1,
 3766.0: 2,
 1536.0: 1,
 3828.0: 2,
 2277.0: 7,
 4282.0: 4,
 314.0: 1,
 4405.0: 4,
 4988.0: 1,
 1200.0: 2,
 2443.0: 1,
 2820.0: 1,
 2642.0: 1,
 2226.0: 1}

In [65]:
df_merchant['merchant day count'] = -1
for index,row in df_merchant.iterrows():
        df_merchant.at[index, 'merchant day count'] = day_count[row['seller_id']]

df_merchant

C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\3594710395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant day count'] = -1

,seller_id,merchant action count,merchant action count ratio,merchant day count
0,145,36,0.093506,4
1,145,36,0.093506,4
2,145,36,0.093506,4
3,145,36,0.093506,4
4,145,36,0.093506,4
...,...,...,...,...
380,4760,105,0.272727,9
381,4760,105,0.272727,9
382,4760,105,0.272727,9
383,3263,18,0.046753,2
384,4760,105,0.272727,9

In [ ]:
#FEATURE 3: Monthly ACTION/COUNT ratio

In [66]:
#FEATURE 4: Product Diversity
items = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['item_id'] not in items:
        # there may be multiple entries, so default with an empty list
        items[row["seller_id"]] = [] 
    items[row["seller_id"]].append(row["item_id"])

In [67]:
for k,v in items.items():
    items[k] = list(set(v)) # make each value list unique
items

{145.0: [184.0],
 4760.0: [175.0],
 246.0: [281.0],
 3323.0: [279.0],
 1131.0: [190.0],
 1943.0: [219.0],
 630.0: [285.0],
 1210.0: [278.0],
 4955.0: [224.0],
 4129.0: [312.0],
 3263.0: [253.0],
 3593.0: [274.0],
 1784.0: [226.0],
 3766.0: [209.0],
 1536.0: [319.0],
 3828.0: [170.0],
 2277.0: [211.0],
 4282.0: [277.0],
 314.0: [291.0],
 4405.0: [221.0],
 4988.0: [169.0],
 1200.0: [186.0],
 2443.0: [269.0],
 2820.0: [215.0],
 2642.0: [315.0],
 2226.0: [191.0]}

In [68]:
item_count = {}
for key in items.keys():
    item_count[key] = len(items[key])
item_count

{145.0: 1,
 4760.0: 1,
 246.0: 1,
 3323.0: 1,
 1131.0: 1,
 1943.0: 1,
 630.0: 1,
 1210.0: 1,
 4955.0: 1,
 4129.0: 1,
 3263.0: 1,
 3593.0: 1,
 1784.0: 1,
 3766.0: 1,
 1536.0: 1,
 3828.0: 1,
 2277.0: 1,
 4282.0: 1,
 314.0: 1,
 4405.0: 1,
 4988.0: 1,
 1200.0: 1,
 2443.0: 1,
 2820.0: 1,
 2642.0: 1,
 2226.0: 1}

In [69]:
total_item_count = sum(item_count.values())
total_item_count

26

In [70]:
item_count_diversity = {}
for key in item_count:
    item_count_diversity[key]= item_count[key]/total_item_count
item_count_diversity

{145.0: 0.038461538461538464,
 4760.0: 0.038461538461538464,
 246.0: 0.038461538461538464,
 3323.0: 0.038461538461538464,
 1131.0: 0.038461538461538464,
 1943.0: 0.038461538461538464,
 630.0: 0.038461538461538464,
 1210.0: 0.038461538461538464,
 4955.0: 0.038461538461538464,
 4129.0: 0.038461538461538464,
 3263.0: 0.038461538461538464,
 3593.0: 0.038461538461538464,
 1784.0: 0.038461538461538464,
 3766.0: 0.038461538461538464,
 1536.0: 0.038461538461538464,
 3828.0: 0.038461538461538464,
 2277.0: 0.038461538461538464,
 4282.0: 0.038461538461538464,
 314.0: 0.038461538461538464,
 4405.0: 0.038461538461538464,
 4988.0: 0.038461538461538464,
 1200.0: 0.038461538461538464,
 2443.0: 0.038461538461538464,
 2820.0: 0.038461538461538464,
 2642.0: 0.038461538461538464,
 2226.0: 0.038461538461538464}

In [71]:
df_merchant['merchant product diversity'] = -1
for index,row in df_merchant.iterrows():
        df_merchant.at[index, 'merchant product diversity'] = item_count_diversity[row['seller_id']]

df_merchant

C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\1602293768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant product diversity'] = -1

,seller_id,merchant action count,merchant action count ratio,merchant day count,merchant product diversity
0,145,36,0.093506,4,0.038462
1,145,36,0.093506,4,0.038462
2,145,36,0.093506,4,0.038462
3,145,36,0.093506,4,0.038462
4,145,36,0.093506,4,0.038462
...,...,...,...,...,...
380,4760,105,0.272727,9,0.038462
381,4760,105,0.272727,9,0.038462
382,4760,105,0.272727,9,0.038462
383,3263,18,0.046753,2,0.038462
384,4760,105,0.272727,9,0.038462

In [72]:
#FEATURE 9: DOUBLE 11 FEATURES
df_11 = df[df['time_stamp']==1111]
df_11

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
9,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
10,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
375,289079,279,898,3323,683.0,1111,0,4.0,1.0,1
377,403117,175,1181,4760,247.0,1111,0,2.0,1.0,0
378,36385,219,349,1943,6208.0,1111,2,0.0,0.0,0
379,36385,219,349,1943,6208.0,1111,0,0.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0

In [75]:
actions_11 = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_11.iterrows():
    if row['seller_id'] not in actions_11:
        # there may be multiple entries, so default with an empty list
        actions_11[row["seller_id"]] = [] 
    actions_11[row["seller_id"]].append(row["action_type"])

In [74]:
#for k,v in actions_11.items():
#    actions_11[k] = list(set(v)) # make each value list unique

In [76]:
actions_11

{145.0: [0.0,
  0.0,
  2.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 4760.0: [0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0],
 246.0: [2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 3323.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1943.0: [0.0,
  2.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1210.0: [2.0, 0.0],
 4955.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 3263.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 3593.0: [0.0],
 1784.0: [0.0, 0.0, 0.0, 2.0],
 1536.0: [0.0],
 2277.0: [2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0],
 314.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 4405.0: [0.0, 0.0, 2.0],
 3766.0: [0.0],
 1131.0: [0.0],
 1200.0: [0.0, 2.0],
 2642.0: [0.0]}

In [77]:
action_count_11 = {}
for key in actions_11.keys():
    action_count_11[key] = len(actions_11[key])
action_count_11

{145.0: 30,
 4760.0: 67,
 246.0: 11,
 3323.0: 46,
 1943.0: 17,
 1210.0: 2,
 4955.0: 10,
 3263.0: 13,
 3593.0: 1,
 1784.0: 4,
 1536.0: 1,
 2277.0: 12,
 314.0: 6,
 4405.0: 3,
 3766.0: 1,
 1131.0: 1,
 1200.0: 2,
 2642.0: 1}

In [78]:
total_action_count_11 = sum(action_count_11.values())
total_action_count_11

228

In [79]:
action_count_ratio_11 = {}
for key in action_count_11:
    action_count_ratio_11[key] = action_count_11[key]/total_action_count_11
action_count_ratio_11

{145.0: 0.13157894736842105,
 4760.0: 0.29385964912280704,
 246.0: 0.04824561403508772,
 3323.0: 0.20175438596491227,
 1943.0: 0.07456140350877193,
 1210.0: 0.008771929824561403,
 4955.0: 0.043859649122807015,
 3263.0: 0.05701754385964912,
 3593.0: 0.0043859649122807015,
 1784.0: 0.017543859649122806,
 1536.0: 0.0043859649122807015,
 2277.0: 0.05263157894736842,
 314.0: 0.02631578947368421,
 4405.0: 0.013157894736842105,
 3766.0: 0.0043859649122807015,
 1131.0: 0.0043859649122807015,
 1200.0: 0.008771929824561403,
 2642.0: 0.0043859649122807015}

In [80]:
df_merchant['merchant 1111 action count'] = 0
df_merchant['merchant 1111 action count ratio'] = 0
for index,row in df_merchant.iterrows():
        if row['seller_id'] in action_count_11.keys():
            df_merchant.at[index, 'merchant 1111 action count'] = action_count_11[row['seller_id']]
        if row['seller_id'] in action_count_ratio_11.keys():
            df_merchant.at[index, 'merchant 1111 action count ratio'] = action_count_ratio_11[row['seller_id']]

df_merchant

C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\3269018672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant 1111 action count'] = 0
C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\3269018672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant 1111 action count ratio'] = 0

,seller_id,merchant action count,merchant action count ratio,merchant day count,merchant product diversity,merchant 1111 action count,merchant 1111 action count ratio
0,145,36,0.093506,4,0.038462,30,0.131579
1,145,36,0.093506,4,0.038462,30,0.131579
2,145,36,0.093506,4,0.038462,30,0.131579
3,145,36,0.093506,4,0.038462,30,0.131579
4,145,36,0.093506,4,0.038462,30,0.131579
...,...,...,...,...,...,...,...
380,4760,105,0.272727,9,0.038462,67,0.293860
381,4760,105,0.272727,9,0.038462,67,0.293860
382,4760,105,0.272727,9,0.038462,67,0.293860
383,3263,18,0.046753,2,0.038462,13,0.057018
384,4760,105,0.272727,9,0.038462,67,0.293860

In [82]:
activity_ratio_1111 = {}
df_merchant['merchant 1111 activity ratio'] = 0
for index,row in df_merchant.iterrows():
    if df_merchant.at[index,'merchant 1111 action count'] != 0:
        df_merchant.at[index, 'merchant 1111 activity ratio'] = (df_merchant.at[index,'merchant 1111 action count']/df_merchant.at[index,'merchant action count'])
df_merchant

C:\Users\Daniel\AppData\Local\Temp\ipykernel_15164\817184100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merchant['merchant 1111 activity ratio'] = 0

,seller_id,merchant action count,merchant action count ratio,merchant day count,merchant product diversity,merchant 1111 action count,merchant 1111 action count ratio,1111 activity ratio,merchant 1111 activity ratio
0,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333
1,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333
2,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333
3,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333
4,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333
...,...,...,...,...,...,...,...,...,...
380,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095
381,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095
382,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095
383,3263,18,0.046753,2,0.038462,13,0.057018,0,0.722222
384,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095

In [83]:
# LATEST ONE WEEK
latest_week = 1104
df_latest_week = df[df['time_stamp']>=latest_week]
df_latest_week

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [84]:
actions_last_week = {}

# go through user_seller sub-dataframe and split entries by seller_id:seller_id
for index, row in df_latest_week.iterrows():
    if row['seller_id'] not in actions_last_week:
        # there may be multiple entries, so default with an empty list
        actions_last_week[row["seller_id"]] = [] 
    actions_last_week[row["seller_id"]].append(row["action_type"])
    
#for k,v in actions_last_week.items():
#    actions_last_week[k] = list(set(v)) # make each value list unique
actions_last_week

{145.0: [0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 4760.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 246.0: [0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0],
 3323.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 1131.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 1943.0: [0.0,
  2.0,
  0.0,
  3.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.0,
  2.0,
  0.0],
 1210.0: [2.0, 0.0],
 4955.0: [0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 2.0, 0.0],
 3263.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 3593.0: [0.0],
 1784.0: [0.0, 0.0, 0.0, 2.0],
 3766.0: [0.0, 0.0, 0.0],
 1536.0: [0.0],
 2277.0: [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.0,
  0.0,
  0.0,
  3.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 630.0: [0.0],
 314.0: [0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 4405.0: [3.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0],
 4988.0: [0.0, 0.0],
 1200.0: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0],
 2443.0: [0.0],
 4129.0: [0.0, 0.0],
 2642.0: [0.0],
 2226.0: [0.0]}

In [85]:
action_count_last_week = {}
for key in actions_last_week.keys():
    action_count_last_week[key] = len(actions_last_week[key])
action_count_last_week

{145.0: 36,
 4760.0: 101,
 246.0: 18,
 3323.0: 75,
 1131.0: 6,
 1943.0: 21,
 1210.0: 2,
 4955.0: 12,
 3263.0: 18,
 3593.0: 1,
 1784.0: 4,
 3766.0: 3,
 1536.0: 1,
 2277.0: 29,
 630.0: 1,
 314.0: 6,
 4405.0: 7,
 4988.0: 2,
 1200.0: 7,
 2443.0: 1,
 4129.0: 2,
 2642.0: 1,
 2226.0: 1}

In [86]:
total_action_count_last_week = sum(action_count_last_week.values())
total_action_count_last_week

355

In [87]:
action_count_ratio_last_week = {}
for key in action_count_last_week:
    action_count_ratio_last_week[key] = action_count_last_week[key]/total_action_count_last_week
action_count_ratio_last_week

{145.0: 0.10140845070422536,
 4760.0: 0.28450704225352114,
 246.0: 0.05070422535211268,
 3323.0: 0.2112676056338028,
 1131.0: 0.016901408450704224,
 1943.0: 0.059154929577464786,
 1210.0: 0.005633802816901409,
 4955.0: 0.03380281690140845,
 3263.0: 0.05070422535211268,
 3593.0: 0.0028169014084507044,
 1784.0: 0.011267605633802818,
 3766.0: 0.008450704225352112,
 1536.0: 0.0028169014084507044,
 2277.0: 0.08169014084507042,
 630.0: 0.0028169014084507044,
 314.0: 0.016901408450704224,
 4405.0: 0.01971830985915493,
 4988.0: 0.005633802816901409,
 1200.0: 0.01971830985915493,
 2443.0: 0.0028169014084507044,
 4129.0: 0.005633802816901409,
 2642.0: 0.0028169014084507044,
 2226.0: 0.0028169014084507044}

In [88]:
df_merchant['merchant last week action count'] = 0
df_merchant['merchant last week action count ratio'] = 0
for index,row in df_merchant.iterrows():
        if row['seller_id'] in action_count_last_week.keys():
            df_merchant.at[index, 'merchant last week action count'] = action_count_last_week[row['seller_id']]
        if row['seller_id'] in action_count_ratio_last_week.keys():
            df_merchant.at[index, 'merchant last week action count ratio'] = action_count_ratio_last_week[row['seller_id']]

df_merchant

,seller_id,merchant action count,merchant action count ratio,merchant day count,merchant product diversity,merchant 1111 action count,merchant 1111 action count ratio,1111 activity ratio,merchant 1111 activity ratio,merchant last week action count,merchant last week action count ratio
0,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408
1,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408
2,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408
3,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408
4,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408
...,...,...,...,...,...,...,...,...,...,...,...
380,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507
381,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507
382,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507
383,3263,18,0.046753,2,0.038462,13,0.057018,0,0.722222,18,0.050704
384,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507

In [90]:
activity_ratio_last_week = {}
df_merchant['merchant last week activity ratio'] = 0
for index,row in df_merchant.iterrows():
    if df_merchant.at[index,'merchant last week action count'] != 0:
        df_merchant.at[index, 'merchant last week activity ratio'] = (df_merchant.at[index,'merchant last week action count']/df_merchant.at[index,'merchant action count'])
df_merchant

,seller_id,merchant action count,merchant action count ratio,merchant day count,merchant product diversity,merchant 1111 action count,merchant 1111 action count ratio,1111 activity ratio,merchant 1111 activity ratio,merchant last week action count,merchant last week action count ratio,last week activity ratio,merchant last week activity ratio
0,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408,0,1.000000
1,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408,0,1.000000
2,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408,0,1.000000
3,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408,0,1.000000
4,145,36,0.093506,4,0.038462,30,0.131579,0,0.833333,36,0.101408,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507,0,0.961905
381,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507,0,0.961905
382,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507,0,0.961905
383,3263,18,0.046753,2,0.038462,13,0.057018,0,0.722222,18,0.050704,0,1.000000
384,4760,105,0.272727,9,0.038462,67,0.293860,0,0.638095,101,0.284507,0,0.961905