In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
'''
FEATURES:
Overall action count/ratio
Overall day count
Monthly action count/ratio
Product Diversity
Monthly aggregation
Merchant aggregation
Double 11 features
latest one-week
trend
LDA features
'''

'\nFEATURES:\nOverall action count/ratio\nOverall day count\nMonthly action count/ratio\nProduct Diversity\nMonthly aggregation\nMerchant aggregation\nDouble 11 features\nlatest one-week\ntrend\nLDA features\n'

In [2]:
df = pd.read_csv("./use_data/expanded_training.csv")
df

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [3]:
df_user = df[['user_id']]
df_user

     user_id
0     379824
1     379824
2     379824
3     379824
4     379824
..       ...
380   122632
381   122632
382   122632
383    95362
384    99823

[385 rows x 1 columns]

In [4]:
#FEATURE 1: OVERALL ACTION COUNT/RATIO
actions = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['user_id'] not in actions:
        # there may be multiple entries, so default with an empty list
        actions[row["user_id"]] = [] 
    actions[row["user_id"]].append(row["action_type"])
    
for k,v in actions.items():
    actions[k] = list(set(v)) # make each value list unique
actions

{379824.0: [0.0, 2.0],
 141307.0: [0.0, 2.0],
 252255.0: [0.0],
 309566.0: [2.0],
 206032.0: [0.0, 2.0, 3.0],
 182119.0: [0.0],
 68225.0: [0.0],
 109919.0: [0.0],
 342023.0: [0.0],
 287829.0: [0.0],
 255960.0: [0.0],
 380420.0: [0.0],
 176150.0: [0.0],
 407671.0: [0.0, 2.0, 3.0],
 388332.0: [0.0],
 244552.0: [0.0, 2.0],
 46507.0: [0.0, 2.0],
 191162.0: [0.0, 2.0],
 174308.0: [0.0, 2.0],
 134532.0: [0.0],
 355159.0: [0.0],
 62942.0: [0.0],
 353962.0: [0.0, 2.0],
 319670.0: [0.0, 2.0],
 210578.0: [0.0],
 101110.0: [0.0, 2.0],
 149798.0: [0.0],
 6018.0: [0.0],
 281262.0: [0.0],
 314519.0: [2.0],
 205257.0: [0.0],
 117839.0: [0.0],
 46699.0: [0.0, 2.0, 3.0],
 238412.0: [0.0],
 156961.0: [0.0],
 45576.0: [0.0],
 214766.0: [0.0],
 5524.0: [0.0],
 218669.0: [0.0],
 272518.0: [0.0],
 277770.0: [0.0],
 386295.0: [0.0],
 402251.0: [0.0],
 254609.0: [0.0],
 84043.0: [0.0],
 120820.0: [0.0],
 291453.0: [0.0],
 280293.0: [0.0],
 291386.0: [0.0],
 313634.0: [0.0, 2.0],
 60260.0: [0.0],
 112997.0: [0.0],
 305925.0: [0.0, 3.0],
 199429.0: [0.0],
 185381.0: [0.0],
 144281.0: [0.0],
 33618.0: [0.0],
 276857.0: [0.0, 2.0],
 130186.0: [0.0, 3.0],
 376338.0: [0.0, 2.0],
 867.0: [0.0],
 338395.0: [0.0, 2.0],
 335587.0: [0.0, 2.0],
 409283.0: [0.0],
 88275.0: [0.0],
 165355.0: [0.0],
 55784.0: [0.0],
 327782.0: [0.0, 2.0],
 264657.0: [0.0, 2.0],
 52751.0: [0.0],
 33745.0: [0.0],
 103980.0: [0.0],
 316235.0: [0.0, 2.0, 3.0],
 380439.0: [0.0],
 86171.0: [0.0],
 408759.0: [0.0],
 38606.0: [0.0, 2.0],
 108672.0: [0.0],
 35848.0: [0.0],
 275260.0: [0.0, 2.0],
 178063.0: [0.0],
 419820.0: [0.0],
 53531.0: [0.0],
 51728.0: [0.0, 2.0],
 177770.0: [0.0],
 389062.0: [0.0, 2.0, 3.0],
 227925.0: [0.0],
 383379.0: [0.0],
 87972.0: [0.0],
 165262.0: [0.0, 3.0],
 97492.0: [0.0],
 335815.0: [0.0],
 8552.0: [0.0],
 340708.0: [0.0],
 127492.0: [0.0, 2.0],
 143411.0: [0.0, 2.0],
 324110.0: [0.0, 2.0],
 226193.0: [0.0],
 108048.0: [0.0],
 355412.0: [0.0],
 245259.0: [0.0],
 251563.0: [0.0],
 81918.0: [0.0],
 79189.0: [0.0],
 173653.0: [0.0, 2.0],
 283745.0: [0.0],
 97762.0: [0.0],
 5534.0: [0.0],
 317444.0: [0.0],
 32155.0: [0.0],
 29443.0: [0.0],
 364459.0: [0.0],
 367079.0: [0.0],
 348030.0: [0.0],
 4755.0: [0.0],
 132884.0: [0.0],
 246586.0: [0.0, 2.0],
 102477.0: [0.0, 3.0],
 274624.0: [0.0, 2.0, 3.0],
 175206.0: [0.0],
 123833.0: [0.0],
 367500.0: [0.0],
 355808.0: [0.0],
 28461.0: [0.0, 2.0],
 35597.0: [0.0],
 352780.0: [0.0, 2.0],
 78667.0: [0.0],
 257735.0: [0.0],
 165083.0: [0.0],
 90821.0: [0.0],
 289430.0: [0.0],
 251644.0: [0.0],
 283392.0: [0.0],
 353886.0: [0.0],
 353447.0: [0.0],
 131122.0: [0.0],
 117310.0: [0.0, 2.0],
 59028.0: [0.0],
 52647.0: [0.0],
 2448.0: [0.0],
 163584.0: [0.0],
 295977.0: [0.0],
 62849.0: [0.0],
 125558.0: [0.0],
 274843.0: [0.0],
 263873.0: [0.0],
 378696.0: [0.0],
 239687.0: [0.0],
 148970.0: [0.0, 3.0],
 257966.0: [0.0],
 401399.0: [0.0],
 187060.0: [0.0],
 15100.0: [0.0],
 218579.0: [0.0],
 132803.0: [0.0],
 12875.0: [0.0],
 44606.0: [0.0],
 258575.0: [0.0],
 60425.0: [0.0, 2.0, 3.0],
 340104.0: [0.0],
 113078.0: [0.0],
 229569.0: [0.0],
 289079.0: [0.0],
 72143.0: [0.0],
 403117.0: [0.0],
 36385.0: [0.0, 2.0],
 122632.0: [0.0],
 95362.0: [0.0],
 99823.0: [0.0]}

In [5]:
for k,v in actions.items():
    actions[k] = list(set(v)) # make each value list unique

In [6]:
actions

{379824.0: [0.0, 2.0],
 141307.0: [0.0, 2.0],
 252255.0: [0.0],
 309566.0: [2.0],
 206032.0: [0.0, 2.0, 3.0],
 182119.0: [0.0],
 68225.0: [0.0],
 109919.0: [0.0],
 342023.0: [0.0],
 287829.0: [0.0],
 255960.0: [0.0],
 380420.0: [0.0],
 176150.0: [0.0],
 407671.0: [0.0, 2.0, 3.0],
 388332.0: [0.0],
 244552.0: [0.0, 2.0],
 46507.0: [0.0, 2.0],
 191162.0: [0.0, 2.0],
 174308.0: [0.0, 2.0],
 134532.0: [0.0],
 355159.0: [0.0],
 62942.0: [0.0],
 353962.0: [0.0, 2.0],
 319670.0: [0.0, 2.0],
 210578.0: [0.0],
 101110.0: [0.0, 2.0],
 149798.0: [0.0],
 6018.0: [0.0],
 281262.0: [0.0],
 314519.0: [2.0],
 205257.0: [0.0],
 117839.0: [0.0],
 46699.0: [0.0, 2.0, 3.0],
 238412.0: [0.0],
 156961.0: [0.0],
 45576.0: [0.0],
 214766.0: [0.0],
 5524.0: [0.0],
 218669.0: [0.0],
 272518.0: [0.0],
 277770.0: [0.0],
 386295.0: [0.0],
 402251.0: [0.0],
 254609.0: [0.0],
 84043.0: [0.0],
 120820.0: [0.0],
 291453.0: [0.0],
 280293.0: [0.0],
 291386.0: [0.0],
 313634.0: [0.0, 2.0],
 60260.0: [0.0],
 112997.0: [0.0],
 305925.0: [0.0, 3.0],
 199429.0: [0.0],
 185381.0: [0.0],
 144281.0: [0.0],
 33618.0: [0.0],
 276857.0: [0.0, 2.0],
 130186.0: [0.0, 3.0],
 376338.0: [0.0, 2.0],
 867.0: [0.0],
 338395.0: [0.0, 2.0],
 335587.0: [0.0, 2.0],
 409283.0: [0.0],
 88275.0: [0.0],
 165355.0: [0.0],
 55784.0: [0.0],
 327782.0: [0.0, 2.0],
 264657.0: [0.0, 2.0],
 52751.0: [0.0],
 33745.0: [0.0],
 103980.0: [0.0],
 316235.0: [0.0, 2.0, 3.0],
 380439.0: [0.0],
 86171.0: [0.0],
 408759.0: [0.0],
 38606.0: [0.0, 2.0],
 108672.0: [0.0],
 35848.0: [0.0],
 275260.0: [0.0, 2.0],
 178063.0: [0.0],
 419820.0: [0.0],
 53531.0: [0.0],
 51728.0: [0.0, 2.0],
 177770.0: [0.0],
 389062.0: [0.0, 2.0, 3.0],
 227925.0: [0.0],
 383379.0: [0.0],
 87972.0: [0.0],
 165262.0: [0.0, 3.0],
 97492.0: [0.0],
 335815.0: [0.0],
 8552.0: [0.0],
 340708.0: [0.0],
 127492.0: [0.0, 2.0],
 143411.0: [0.0, 2.0],
 324110.0: [0.0, 2.0],
 226193.0: [0.0],
 108048.0: [0.0],
 355412.0: [0.0],
 245259.0: [0.0],
 251563.0: [0.0],
 81918.0: [0.0],
 79189.0: [0.0],
 173653.0: [0.0, 2.0],
 283745.0: [0.0],
 97762.0: [0.0],
 5534.0: [0.0],
 317444.0: [0.0],
 32155.0: [0.0],
 29443.0: [0.0],
 364459.0: [0.0],
 367079.0: [0.0],
 348030.0: [0.0],
 4755.0: [0.0],
 132884.0: [0.0],
 246586.0: [0.0, 2.0],
 102477.0: [0.0, 3.0],
 274624.0: [0.0, 2.0, 3.0],
 175206.0: [0.0],
 123833.0: [0.0],
 367500.0: [0.0],
 355808.0: [0.0],
 28461.0: [0.0, 2.0],
 35597.0: [0.0],
 352780.0: [0.0, 2.0],
 78667.0: [0.0],
 257735.0: [0.0],
 165083.0: [0.0],
 90821.0: [0.0],
 289430.0: [0.0],
 251644.0: [0.0],
 283392.0: [0.0],
 353886.0: [0.0],
 353447.0: [0.0],
 131122.0: [0.0],
 117310.0: [0.0, 2.0],
 59028.0: [0.0],
 52647.0: [0.0],
 2448.0: [0.0],
 163584.0: [0.0],
 295977.0: [0.0],
 62849.0: [0.0],
 125558.0: [0.0],
 274843.0: [0.0],
 263873.0: [0.0],
 378696.0: [0.0],
 239687.0: [0.0],
 148970.0: [0.0, 3.0],
 257966.0: [0.0],
 401399.0: [0.0],
 187060.0: [0.0],
 15100.0: [0.0],
 218579.0: [0.0],
 132803.0: [0.0],
 12875.0: [0.0],
 44606.0: [0.0],
 258575.0: [0.0],
 60425.0: [0.0, 2.0, 3.0],
 340104.0: [0.0],
 113078.0: [0.0],
 229569.0: [0.0],
 289079.0: [0.0],
 72143.0: [0.0],
 403117.0: [0.0],
 36385.0: [0.0, 2.0],
 122632.0: [0.0],
 95362.0: [0.0],
 99823.0: [0.0]}

In [7]:
action_count = {}
for key in actions.keys():
    action_count[key] = len(actions[key])
action_count

{379824.0: 2,
 141307.0: 2,
 252255.0: 1,
 309566.0: 1,
 206032.0: 3,
 182119.0: 1,
 68225.0: 1,
 109919.0: 1,
 342023.0: 1,
 287829.0: 1,
 255960.0: 1,
 380420.0: 1,
 176150.0: 1,
 407671.0: 3,
 388332.0: 1,
 244552.0: 2,
 46507.0: 2,
 191162.0: 2,
 174308.0: 2,
 134532.0: 1,
 355159.0: 1,
 62942.0: 1,
 353962.0: 2,
 319670.0: 2,
 210578.0: 1,
 101110.0: 2,
 149798.0: 1,
 6018.0: 1,
 281262.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 3,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 214766.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 402251.0: 1,
 254609.0: 1,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 291386.0: 1,
 313634.0: 2,
 60260.0: 1,
 112997.0: 1,
 305925.0: 2,
 199429.0: 1,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 2,
 130186.0: 2,
 376338.0: 2,
 867.0: 1,
 338395.0: 2,
 335587.0: 2,
 409283.0: 1,
 88275.0: 1,
 165355.0: 1,
 55784.0: 1,
 327782.0: 2,
 264657.0: 2,
 52751.0: 1,
 33745.0: 1,
 103980.0: 1,
 316235.0: 3,
 380439.0: 1,
 86171.0: 1,
 408759.0: 1,
 38606.0: 2,
 108672.0: 1,
 35848.0: 1,
 275260.0: 2,
 178063.0: 1,
 419820.0: 1,
 53531.0: 1,
 51728.0: 2,
 177770.0: 1,
 389062.0: 3,
 227925.0: 1,
 383379.0: 1,
 87972.0: 1,
 165262.0: 2,
 97492.0: 1,
 335815.0: 1,
 8552.0: 1,
 340708.0: 1,
 127492.0: 2,
 143411.0: 2,
 324110.0: 2,
 226193.0: 1,
 108048.0: 1,
 355412.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 1,
 79189.0: 1,
 173653.0: 2,
 283745.0: 1,
 97762.0: 1,
 5534.0: 1,
 317444.0: 1,
 32155.0: 1,
 29443.0: 1,
 364459.0: 1,
 367079.0: 1,
 348030.0: 1,
 4755.0: 1,
 132884.0: 1,
 246586.0: 2,
 102477.0: 2,
 274624.0: 3,
 175206.0: 1,
 123833.0: 1,
 367500.0: 1,
 355808.0: 1,
 28461.0: 2,
 35597.0: 1,
 352780.0: 2,
 78667.0: 1,
 257735.0: 1,
 165083.0: 1,
 90821.0: 1,
 289430.0: 1,
 251644.0: 1,
 283392.0: 1,
 353886.0: 1,
 353447.0: 1,
 131122.0: 1,
 117310.0: 2,
 59028.0: 1,
 52647.0: 1,
 2448.0: 1,
 163584.0: 1,
 295977.0: 1,
 62849.0: 1,
 125558.0: 1,
 274843.0: 1,
 263873.0: 1,
 378696.0: 1,
 239687.0: 1,
 148970.0: 2,
 257966.0: 1,
 401399.0: 1,
 187060.0: 1,
 15100.0: 1,
 218579.0: 1,
 132803.0: 1,
 12875.0: 1,
 44606.0: 1,
 258575.0: 1,
 60425.0: 3,
 340104.0: 1,
 113078.0: 1,
 229569.0: 1,
 289079.0: 1,
 72143.0: 1,
 403117.0: 1,
 36385.0: 2,
 122632.0: 1,
 95362.0: 1,
 99823.0: 1}

In [8]:
total_action_count = sum(action_count.values())
total_action_count

216

In [9]:
action_count_ratio = {}
for key in action_count:
    action_count_ratio[key] = action_count[key]/total_action_count
action_count_ratio

{379824.0: 0.009259259259259259,
 141307.0: 0.009259259259259259,
 252255.0: 0.004629629629629629,
 309566.0: 0.004629629629629629,
 206032.0: 0.013888888888888888,
 182119.0: 0.004629629629629629,
 68225.0: 0.004629629629629629,
 109919.0: 0.004629629629629629,
 342023.0: 0.004629629629629629,
 287829.0: 0.004629629629629629,
 255960.0: 0.004629629629629629,
 380420.0: 0.004629629629629629,
 176150.0: 0.004629629629629629,
 407671.0: 0.013888888888888888,
 388332.0: 0.004629629629629629,
 244552.0: 0.009259259259259259,
 46507.0: 0.009259259259259259,
 191162.0: 0.009259259259259259,
 174308.0: 0.009259259259259259,
 134532.0: 0.004629629629629629,
 355159.0: 0.004629629629629629,
 62942.0: 0.004629629629629629,
 353962.0: 0.009259259259259259,
 319670.0: 0.009259259259259259,
 210578.0: 0.004629629629629629,
 101110.0: 0.009259259259259259,
 149798.0: 0.004629629629629629,
 6018.0: 0.004629629629629629,
 281262.0: 0.004629629629629629,
 314519.0: 0.004629629629629629,
 205257.0: 0.004629629629629629,
 117839.0: 0.004629629629629629,
 46699.0: 0.013888888888888888,
 238412.0: 0.004629629629629629,
 156961.0: 0.004629629629629629,
 45576.0: 0.004629629629629629,
 214766.0: 0.004629629629629629,
 5524.0: 0.004629629629629629,
 218669.0: 0.004629629629629629,
 272518.0: 0.004629629629629629,
 277770.0: 0.004629629629629629,
 386295.0: 0.004629629629629629,
 402251.0: 0.004629629629629629,
 254609.0: 0.004629629629629629,
 84043.0: 0.004629629629629629,
 120820.0: 0.004629629629629629,
 291453.0: 0.004629629629629629,
 280293.0: 0.004629629629629629,
 291386.0: 0.004629629629629629,
 313634.0: 0.009259259259259259,
 60260.0: 0.004629629629629629,
 112997.0: 0.004629629629629629,
 305925.0: 0.009259259259259259,
 199429.0: 0.004629629629629629,
 185381.0: 0.004629629629629629,
 144281.0: 0.004629629629629629,
 33618.0: 0.004629629629629629,
 276857.0: 0.009259259259259259,
 130186.0: 0.009259259259259259,
 376338.0: 0.009259259259259259,
 867.0: 0.004629629629629629,
 338395.0: 0.009259259259259259,
 335587.0: 0.009259259259259259,
 409283.0: 0.004629629629629629,
 88275.0: 0.004629629629629629,
 165355.0: 0.004629629629629629,
 55784.0: 0.004629629629629629,
 327782.0: 0.009259259259259259,
 264657.0: 0.009259259259259259,
 52751.0: 0.004629629629629629,
 33745.0: 0.004629629629629629,
 103980.0: 0.004629629629629629,
 316235.0: 0.013888888888888888,
 380439.0: 0.004629629629629629,
 86171.0: 0.004629629629629629,
 408759.0: 0.004629629629629629,
 38606.0: 0.009259259259259259,
 108672.0: 0.004629629629629629,
 35848.0: 0.004629629629629629,
 275260.0: 0.009259259259259259,
 178063.0: 0.004629629629629629,
 419820.0: 0.004629629629629629,
 53531.0: 0.004629629629629629,
 51728.0: 0.009259259259259259,
 177770.0: 0.004629629629629629,
 389062.0: 0.013888888888888888,
 227925.0: 0.004629629629629629,
 383379.0: 0.004629629629629629,
 87972.0: 0.004629629629629629,
 165262.0: 0.009259259259259259,
 97492.0: 0.004629629629629629,
 335815.0: 0.004629629629629629,
 8552.0: 0.004629629629629629,
 340708.0: 0.004629629629629629,
 127492.0: 0.009259259259259259,
 143411.0: 0.009259259259259259,
 324110.0: 0.009259259259259259,
 226193.0: 0.004629629629629629,
 108048.0: 0.004629629629629629,
 355412.0: 0.004629629629629629,
 245259.0: 0.004629629629629629,
 251563.0: 0.004629629629629629,
 81918.0: 0.004629629629629629,
 79189.0: 0.004629629629629629,
 173653.0: 0.009259259259259259,
 283745.0: 0.004629629629629629,
 97762.0: 0.004629629629629629,
 5534.0: 0.004629629629629629,
 317444.0: 0.004629629629629629,
 32155.0: 0.004629629629629629,
 29443.0: 0.004629629629629629,
 364459.0: 0.004629629629629629,
 367079.0: 0.004629629629629629,
 348030.0: 0.004629629629629629,
 4755.0: 0.004629629629629629,
 132884.0: 0.004629629629629629,
 246586.0: 0.009259259259259259,
 102477.0: 0.009259259259259259,
 274624.0: 0.013888888888888888,
 175206.0: 0.004629629629629629,
 123833.0: 0.004629629629629629,
 367500.0: 0.004629629629629629,
 355808.0: 0.004629629629629629,
 28461.0: 0.009259259259259259,
 35597.0: 0.004629629629629629,
 352780.0: 0.009259259259259259,
 78667.0: 0.004629629629629629,
 257735.0: 0.004629629629629629,
 165083.0: 0.004629629629629629,
 90821.0: 0.004629629629629629,
 289430.0: 0.004629629629629629,
 251644.0: 0.004629629629629629,
 283392.0: 0.004629629629629629,
 353886.0: 0.004629629629629629,
 353447.0: 0.004629629629629629,
 131122.0: 0.004629629629629629,
 117310.0: 0.009259259259259259,
 59028.0: 0.004629629629629629,
 52647.0: 0.004629629629629629,
 2448.0: 0.004629629629629629,
 163584.0: 0.004629629629629629,
 295977.0: 0.004629629629629629,
 62849.0: 0.004629629629629629,
 125558.0: 0.004629629629629629,
 274843.0: 0.004629629629629629,
 263873.0: 0.004629629629629629,
 378696.0: 0.004629629629629629,
 239687.0: 0.004629629629629629,
 148970.0: 0.009259259259259259,
 257966.0: 0.004629629629629629,
 401399.0: 0.004629629629629629,
 187060.0: 0.004629629629629629,
 15100.0: 0.004629629629629629,
 218579.0: 0.004629629629629629,
 132803.0: 0.004629629629629629,
 12875.0: 0.004629629629629629,
 44606.0: 0.004629629629629629,
 258575.0: 0.004629629629629629,
 60425.0: 0.013888888888888888,
 340104.0: 0.004629629629629629,
 113078.0: 0.004629629629629629,
 229569.0: 0.004629629629629629,
 289079.0: 0.004629629629629629,
 72143.0: 0.004629629629629629,
 403117.0: 0.004629629629629629,
 36385.0: 0.009259259259259259,
 122632.0: 0.004629629629629629,
 95362.0: 0.004629629629629629,
 99823.0: 0.004629629629629629}

In [10]:
df_user['action count'] = -1
df_user['action count ratio'] = -1
for index,row in df_user.iterrows():
        df_user.at[index, 'action count'] = action_count[row['user_id']]
        df_user.at[index, 'action count ratio'] = action_count_ratio[row['user_id']]

df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\873788209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['action count'] = -1
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\873788209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['action count ratio'] = -1
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\873788209.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.at[index, 'action count ratio'] = action_count_ratio[row['user_id']]

     user_id  action count  action count ratio
0     379824             2            0.009259
1     379824             2            0.009259
2     379824             2            0.009259
3     379824             2            0.009259
4     379824             2            0.009259
..       ...           ...                 ...
380   122632             1            0.004630
381   122632             1            0.004630
382   122632             1            0.004630
383    95362             1            0.004630
384    99823             1            0.004630

[385 rows x 3 columns]

In [11]:
#FEATURE 2: OVERALL DAY COUNT
days = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['user_id'] not in days:
        # there may be multiple entries, so default with an empty list
        days[row["user_id"]] = [] 
    days[row["user_id"]].append(row["time_stamp"])

In [12]:
for k,v in days.items():
    days[k] = list(set(v)) # make each value list unique

In [13]:
days

{379824.0: [1110.0, 1111.0],
 141307.0: [1107.0, 1111.0],
 252255.0: [1111.0],
 309566.0: [1111.0],
 206032.0: [1103.0, 1104.0, 1105.0, 1107.0, 1108.0, 1109.0, 1111.0],
 182119.0: [1110.0, 1111.0],
 68225.0: [1108.0],
 109919.0: [1105.0],
 342023.0: [1108.0],
 287829.0: [1111.0],
 255960.0: [1111.0],
 380420.0: [1105.0],
 176150.0: [1111.0],
 407671.0: [1109.0, 1111.0],
 388332.0: [520.0],
 244552.0: [1111.0],
 46507.0: [1111.0],
 191162.0: [1111.0],
 174308.0: [1111.0],
 134532.0: [1111.0],
 355159.0: [1111.0],
 62942.0: [1103.0],
 353962.0: [1111.0],
 319670.0: [1111.0],
 210578.0: [1111.0],
 101110.0: [1111.0],
 149798.0: [1108.0],
 6018.0: [1111.0],
 281262.0: [1109.0],
 314519.0: [1111.0],
 205257.0: [1111.0],
 117839.0: [1111.0],
 46699.0: [1106.0, 1109.0, 1110.0, 1111.0],
 238412.0: [1111.0],
 156961.0: [1111.0],
 45576.0: [1111.0],
 214766.0: [1110.0],
 5524.0: [1111.0],
 218669.0: [1111.0],
 272518.0: [1111.0],
 277770.0: [1111.0],
 386295.0: [1111.0],
 402251.0: [1109.0, 1103.0],
 254609.0: [1110.0, 1111.0],
 84043.0: [1111.0],
 120820.0: [1111.0],
 291453.0: [1111.0],
 280293.0: [1111.0],
 291386.0: [1110.0],
 313634.0: [1111.0],
 60260.0: [1111.0],
 112997.0: [1110.0],
 305925.0: [1111.0],
 199429.0: [1110.0],
 185381.0: [1111.0],
 144281.0: [1111.0],
 33618.0: [1111.0],
 276857.0: [1111.0],
 130186.0: [1110.0, 1111.0],
 376338.0: [1111.0],
 867.0: [1111.0],
 338395.0: [1108.0, 1111.0],
 335587.0: [1111.0],
 409283.0: [1111.0],
 88275.0: [528.0],
 165355.0: [1108.0, 1109.0, 1111.0],
 55784.0: [1111.0],
 327782.0: [1105.0, 1108.0, 1110.0, 1111.0],
 264657.0: [1111.0],
 52751.0: [1111.0],
 33745.0: [1111.0],
 103980.0: [804.0],
 316235.0: [1110.0, 1111.0],
 380439.0: [1110.0, 1111.0],
 86171.0: [1106.0],
 408759.0: [1111.0],
 38606.0: [1111.0],
 108672.0: [1111.0],
 35848.0: [1109.0],
 275260.0: [1111.0],
 178063.0: [1109.0],
 419820.0: [1110.0],
 53531.0: [1111.0],
 51728.0: [1111.0],
 177770.0: [1107.0, 1110.0, 1111.0],
 389062.0: [1110.0, 1111.0],
 227925.0: [627.0],
 383379.0: [1111.0],
 87972.0: [1109.0],
 165262.0: [1110.0, 1111.0],
 97492.0: [1111.0],
 335815.0: [1111.0],
 8552.0: [1103.0, 1111.0],
 340708.0: [1111.0],
 127492.0: [1111.0],
 143411.0: [1111.0],
 324110.0: [1111.0],
 226193.0: [1111.0],
 108048.0: [1111.0],
 355412.0: [1110.0],
 245259.0: [1111.0],
 251563.0: [1111.0],
 81918.0: [603.0, 1111.0],
 79189.0: [801.0],
 173653.0: [1111.0],
 283745.0: [1110.0],
 97762.0: [804.0, 806.0],
 5534.0: [1110.0],
 317444.0: [1110.0],
 32155.0: [1110.0, 1111.0],
 29443.0: [806.0],
 364459.0: [1101.0],
 367079.0: [1111.0],
 348030.0: [1111.0],
 4755.0: [1107.0],
 132884.0: [1111.0],
 246586.0: [1110.0, 1111.0],
 102477.0: [1110.0],
 274624.0: [1105.0, 1111.0],
 175206.0: [1111.0],
 123833.0: [1108.0],
 367500.0: [1110.0],
 355808.0: [1110.0, 1111.0],
 28461.0: [1111.0],
 35597.0: [1110.0],
 352780.0: [1111.0],
 78667.0: [1026.0],
 257735.0: [1108.0],
 165083.0: [1001.0],
 90821.0: [1111.0],
 289430.0: [1022.0],
 251644.0: [1108.0],
 283392.0: [1111.0],
 353886.0: [1111.0],
 353447.0: [601.0],
 131122.0: [1111.0],
 117310.0: [1111.0],
 59028.0: [1110.0],
 52647.0: [1111.0],
 2448.0: [617.0],
 163584.0: [1111.0],
 295977.0: [1101.0],
 62849.0: [1109.0, 1110.0],
 125558.0: [1030.0, 1111.0],
 274843.0: [1111.0],
 263873.0: [1109.0],
 378696.0: [1110.0],
 239687.0: [1111.0],
 148970.0: [529.0, 522.0, 524.0],
 257966.0: [1111.0],
 401399.0: [1109.0],
 187060.0: [1108.0],
 15100.0: [1106.0],
 218579.0: [1111.0],
 132803.0: [1109.0],
 12875.0: [1105.0],
 44606.0: [1111.0],
 258575.0: [1110.0],
 60425.0: [1110.0, 1111.0],
 340104.0: [1111.0],
 113078.0: [1111.0],
 229569.0: [1108.0, 1109.0],
 289079.0: [1111.0],
 72143.0: [1026.0],
 403117.0: [1111.0],
 36385.0: [1111.0],
 122632.0: [1108.0, 1109.0],
 95362.0: [1111.0],
 99823.0: [1110.0]}

In [14]:
day_count = {}
for key in days.keys():
    day_count[key] = len(days[key])
day_count

{379824.0: 2,
 141307.0: 2,
 252255.0: 1,
 309566.0: 1,
 206032.0: 7,
 182119.0: 2,
 68225.0: 1,
 109919.0: 1,
 342023.0: 1,
 287829.0: 1,
 255960.0: 1,
 380420.0: 1,
 176150.0: 1,
 407671.0: 2,
 388332.0: 1,
 244552.0: 1,
 46507.0: 1,
 191162.0: 1,
 174308.0: 1,
 134532.0: 1,
 355159.0: 1,
 62942.0: 1,
 353962.0: 1,
 319670.0: 1,
 210578.0: 1,
 101110.0: 1,
 149798.0: 1,
 6018.0: 1,
 281262.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 4,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 214766.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 402251.0: 2,
 254609.0: 2,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 291386.0: 1,
 313634.0: 1,
 60260.0: 1,
 112997.0: 1,
 305925.0: 1,
 199429.0: 1,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 1,
 130186.0: 2,
 376338.0: 1,
 867.0: 1,
 338395.0: 2,
 335587.0: 1,
 409283.0: 1,
 88275.0: 1,
 165355.0: 3,
 55784.0: 1,
 327782.0: 4,
 264657.0: 1,
 52751.0: 1,
 33745.0: 1,
 103980.0: 1,
 316235.0: 2,
 380439.0: 2,
 86171.0: 1,
 408759.0: 1,
 38606.0: 1,
 108672.0: 1,
 35848.0: 1,
 275260.0: 1,
 178063.0: 1,
 419820.0: 1,
 53531.0: 1,
 51728.0: 1,
 177770.0: 3,
 389062.0: 2,
 227925.0: 1,
 383379.0: 1,
 87972.0: 1,
 165262.0: 2,
 97492.0: 1,
 335815.0: 1,
 8552.0: 2,
 340708.0: 1,
 127492.0: 1,
 143411.0: 1,
 324110.0: 1,
 226193.0: 1,
 108048.0: 1,
 355412.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 2,
 79189.0: 1,
 173653.0: 1,
 283745.0: 1,
 97762.0: 2,
 5534.0: 1,
 317444.0: 1,
 32155.0: 2,
 29443.0: 1,
 364459.0: 1,
 367079.0: 1,
 348030.0: 1,
 4755.0: 1,
 132884.0: 1,
 246586.0: 2,
 102477.0: 1,
 274624.0: 2,
 175206.0: 1,
 123833.0: 1,
 367500.0: 1,
 355808.0: 2,
 28461.0: 1,
 35597.0: 1,
 352780.0: 1,
 78667.0: 1,
 257735.0: 1,
 165083.0: 1,
 90821.0: 1,
 289430.0: 1,
 251644.0: 1,
 283392.0: 1,
 353886.0: 1,
 353447.0: 1,
 131122.0: 1,
 117310.0: 1,
 59028.0: 1,
 52647.0: 1,
 2448.0: 1,
 163584.0: 1,
 295977.0: 1,
 62849.0: 2,
 125558.0: 2,
 274843.0: 1,
 263873.0: 1,
 378696.0: 1,
 239687.0: 1,
 148970.0: 3,
 257966.0: 1,
 401399.0: 1,
 187060.0: 1,
 15100.0: 1,
 218579.0: 1,
 132803.0: 1,
 12875.0: 1,
 44606.0: 1,
 258575.0: 1,
 60425.0: 2,
 340104.0: 1,
 113078.0: 1,
 229569.0: 2,
 289079.0: 1,
 72143.0: 1,
 403117.0: 1,
 36385.0: 1,
 122632.0: 2,
 95362.0: 1,
 99823.0: 1}

In [15]:
df_user['day count'] = -1
for index,row in df_user.iterrows():
        df_user.at[index, 'day count'] = day_count[row['user_id']]

df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\2569712461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['day count'] = -1

     user_id  action count  action count ratio  day count
0     379824             2            0.009259          2
1     379824             2            0.009259          2
2     379824             2            0.009259          2
3     379824             2            0.009259          2
4     379824             2            0.009259          2
..       ...           ...                 ...        ...
380   122632             1            0.004630          2
381   122632             1            0.004630          2
382   122632             1            0.004630          2
383    95362             1            0.004630          1
384    99823             1            0.004630          1

[385 rows x 4 columns]

In [16]:
#FEATURE 4: Product Diversity
items = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df.iterrows():
    if row['item_id'] not in items:
        # there may be multiple entries, so default with an empty list
        items[row["user_id"]] = [] 
    items[row["user_id"]].append(row["item_id"])

In [17]:
for k,v in items.items():
    items[k] = list(set(v)) # make each value list unique

In [18]:
items

{379824.0: [198.0],
 141307.0: [175.0],
 252255.0: [175.0],
 309566.0: [175.0],
 206032.0: [281.0],
 182119.0: [279.0],
 68225.0: [279.0],
 109919.0: [198.0],
 342023.0: [190.0],
 287829.0: [175.0],
 255960.0: [279.0],
 380420.0: [190.0],
 176150.0: [175.0],
 407671.0: [219.0],
 388332.0: [285.0],
 244552.0: [278.0],
 46507.0: [224.0],
 191162.0: [184.0],
 174308.0: [175.0],
 134532.0: [279.0],
 355159.0: [279.0],
 62942.0: [312.0],
 353962.0: [184.0],
 319670.0: [175.0],
 210578.0: [279.0],
 101110.0: [281.0],
 149798.0: [224.0],
 6018.0: [184.0],
 281262.0: [279.0],
 314519.0: [219.0],
 205257.0: [279.0],
 117839.0: [279.0],
 46699.0: [175.0],
 238412.0: [253.0],
 156961.0: [279.0],
 45576.0: [279.0],
 214766.0: [253.0],
 5524.0: [224.0],
 218669.0: [279.0],
 272518.0: [224.0],
 277770.0: [279.0],
 386295.0: [279.0],
 402251.0: [175.0],
 254609.0: [279.0],
 84043.0: [175.0],
 120820.0: [175.0],
 291453.0: [274.0],
 280293.0: [184.0],
 291386.0: [279.0],
 313634.0: [226.0],
 60260.0: [279.0],
 112997.0: [253.0],
 305925.0: [184.0],
 199429.0: [209.0],
 185381.0: [279.0],
 144281.0: [175.0],
 33618.0: [319.0],
 276857.0: [279.0],
 130186.0: [279.0],
 376338.0: [175.0],
 867.0: [175.0],
 338395.0: [175.0],
 335587.0: [219.0],
 409283.0: [279.0],
 88275.0: [170.0],
 165355.0: [279.0],
 55784.0: [281.0],
 327782.0: [211.0],
 264657.0: [184.0],
 52751.0: [175.0],
 33745.0: [175.0],
 103980.0: [277.0],
 316235.0: [211.0],
 380439.0: [175.0],
 86171.0: [175.0],
 408759.0: [175.0],
 38606.0: [175.0],
 108672.0: [175.0],
 35848.0: [224.0],
 275260.0: [175.0],
 178063.0: [175.0],
 419820.0: [285.0],
 53531.0: [279.0],
 51728.0: [291.0],
 177770.0: [279.0],
 389062.0: [221.0],
 227925.0: [277.0],
 383379.0: [175.0],
 87972.0: [175.0],
 165262.0: [279.0],
 97492.0: [209.0],
 335815.0: [198.0],
 8552.0: [211.0],
 340708.0: [211.0],
 127492.0: [253.0],
 143411.0: [175.0],
 324110.0: [224.0],
 226193.0: [175.0],
 108048.0: [253.0],
 355412.0: [175.0],
 245259.0: [190.0],
 251563.0: [198.0],
 81918.0: [279.0],
 79189.0: [277.0],
 173653.0: [224.0],
 283745.0: [169.0],
 97762.0: [277.0],
 5534.0: [198.0],
 317444.0: [209.0],
 32155.0: [186.0],
 29443.0: [277.0],
 364459.0: [175.0],
 367079.0: [279.0],
 348030.0: [279.0],
 4755.0: [175.0],
 132884.0: [224.0],
 246586.0: [186.0],
 102477.0: [279.0],
 274624.0: [219.0],
 175206.0: [175.0],
 123833.0: [175.0],
 367500.0: [221.0],
 355808.0: [279.0],
 28461.0: [184.0],
 35597.0: [269.0],
 352780.0: [175.0],
 78667.0: [175.0],
 257735.0: [312.0],
 165083.0: [215.0],
 90821.0: [279.0],
 289430.0: [312.0],
 251644.0: [312.0],
 283392.0: [279.0],
 353886.0: [175.0],
 353447.0: [170.0],
 131122.0: [315.0],
 117310.0: [175.0],
 59028.0: [175.0],
 52647.0: [184.0],
 2448.0: [279.0],
 163584.0: [175.0],
 295977.0: [221.0],
 62849.0: [279.0],
 125558.0: [279.0],
 274843.0: [198.0],
 263873.0: [184.0],
 378696.0: [175.0],
 239687.0: [279.0],
 148970.0: [279.0],
 257966.0: [279.0],
 401399.0: [190.0],
 187060.0: [190.0],
 15100.0: [211.0],
 218579.0: [175.0],
 132803.0: [191.0],
 12875.0: [279.0],
 44606.0: [184.0],
 258575.0: [253.0],
 60425.0: [175.0],
 340104.0: [253.0],
 113078.0: [175.0],
 229569.0: [211.0],
 289079.0: [279.0],
 72143.0: [221.0],
 403117.0: [175.0],
 36385.0: [219.0],
 122632.0: [175.0],
 95362.0: [253.0],
 99823.0: [175.0]}

In [19]:
item_count = {}
for key in items.keys():
    item_count[key] = len(items[key])
item_count

{379824.0: 1,
 141307.0: 1,
 252255.0: 1,
 309566.0: 1,
 206032.0: 1,
 182119.0: 1,
 68225.0: 1,
 109919.0: 1,
 342023.0: 1,
 287829.0: 1,
 255960.0: 1,
 380420.0: 1,
 176150.0: 1,
 407671.0: 1,
 388332.0: 1,
 244552.0: 1,
 46507.0: 1,
 191162.0: 1,
 174308.0: 1,
 134532.0: 1,
 355159.0: 1,
 62942.0: 1,
 353962.0: 1,
 319670.0: 1,
 210578.0: 1,
 101110.0: 1,
 149798.0: 1,
 6018.0: 1,
 281262.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 1,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 214766.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 402251.0: 1,
 254609.0: 1,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 291386.0: 1,
 313634.0: 1,
 60260.0: 1,
 112997.0: 1,
 305925.0: 1,
 199429.0: 1,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 1,
 130186.0: 1,
 376338.0: 1,
 867.0: 1,
 338395.0: 1,
 335587.0: 1,
 409283.0: 1,
 88275.0: 1,
 165355.0: 1,
 55784.0: 1,
 327782.0: 1,
 264657.0: 1,
 52751.0: 1,
 33745.0: 1,
 103980.0: 1,
 316235.0: 1,
 380439.0: 1,
 86171.0: 1,
 408759.0: 1,
 38606.0: 1,
 108672.0: 1,
 35848.0: 1,
 275260.0: 1,
 178063.0: 1,
 419820.0: 1,
 53531.0: 1,
 51728.0: 1,
 177770.0: 1,
 389062.0: 1,
 227925.0: 1,
 383379.0: 1,
 87972.0: 1,
 165262.0: 1,
 97492.0: 1,
 335815.0: 1,
 8552.0: 1,
 340708.0: 1,
 127492.0: 1,
 143411.0: 1,
 324110.0: 1,
 226193.0: 1,
 108048.0: 1,
 355412.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 1,
 79189.0: 1,
 173653.0: 1,
 283745.0: 1,
 97762.0: 1,
 5534.0: 1,
 317444.0: 1,
 32155.0: 1,
 29443.0: 1,
 364459.0: 1,
 367079.0: 1,
 348030.0: 1,
 4755.0: 1,
 132884.0: 1,
 246586.0: 1,
 102477.0: 1,
 274624.0: 1,
 175206.0: 1,
 123833.0: 1,
 367500.0: 1,
 355808.0: 1,
 28461.0: 1,
 35597.0: 1,
 352780.0: 1,
 78667.0: 1,
 257735.0: 1,
 165083.0: 1,
 90821.0: 1,
 289430.0: 1,
 251644.0: 1,
 283392.0: 1,
 353886.0: 1,
 353447.0: 1,
 131122.0: 1,
 117310.0: 1,
 59028.0: 1,
 52647.0: 1,
 2448.0: 1,
 163584.0: 1,
 295977.0: 1,
 62849.0: 1,
 125558.0: 1,
 274843.0: 1,
 263873.0: 1,
 378696.0: 1,
 239687.0: 1,
 148970.0: 1,
 257966.0: 1,
 401399.0: 1,
 187060.0: 1,
 15100.0: 1,
 218579.0: 1,
 132803.0: 1,
 12875.0: 1,
 44606.0: 1,
 258575.0: 1,
 60425.0: 1,
 340104.0: 1,
 113078.0: 1,
 229569.0: 1,
 289079.0: 1,
 72143.0: 1,
 403117.0: 1,
 36385.0: 1,
 122632.0: 1,
 95362.0: 1,
 99823.0: 1}

In [20]:
total_item_count = sum(item_count.values())
total_item_count

169

In [21]:
item_count_diversity = {}
for key in item_count:
    item_count_diversity[key]= item_count[key]/total_item_count
item_count_diversity

{379824.0: 0.005917159763313609,
 141307.0: 0.005917159763313609,
 252255.0: 0.005917159763313609,
 309566.0: 0.005917159763313609,
 206032.0: 0.005917159763313609,
 182119.0: 0.005917159763313609,
 68225.0: 0.005917159763313609,
 109919.0: 0.005917159763313609,
 342023.0: 0.005917159763313609,
 287829.0: 0.005917159763313609,
 255960.0: 0.005917159763313609,
 380420.0: 0.005917159763313609,
 176150.0: 0.005917159763313609,
 407671.0: 0.005917159763313609,
 388332.0: 0.005917159763313609,
 244552.0: 0.005917159763313609,
 46507.0: 0.005917159763313609,
 191162.0: 0.005917159763313609,
 174308.0: 0.005917159763313609,
 134532.0: 0.005917159763313609,
 355159.0: 0.005917159763313609,
 62942.0: 0.005917159763313609,
 353962.0: 0.005917159763313609,
 319670.0: 0.005917159763313609,
 210578.0: 0.005917159763313609,
 101110.0: 0.005917159763313609,
 149798.0: 0.005917159763313609,
 6018.0: 0.005917159763313609,
 281262.0: 0.005917159763313609,
 314519.0: 0.005917159763313609,
 205257.0: 0.005917159763313609,
 117839.0: 0.005917159763313609,
 46699.0: 0.005917159763313609,
 238412.0: 0.005917159763313609,
 156961.0: 0.005917159763313609,
 45576.0: 0.005917159763313609,
 214766.0: 0.005917159763313609,
 5524.0: 0.005917159763313609,
 218669.0: 0.005917159763313609,
 272518.0: 0.005917159763313609,
 277770.0: 0.005917159763313609,
 386295.0: 0.005917159763313609,
 402251.0: 0.005917159763313609,
 254609.0: 0.005917159763313609,
 84043.0: 0.005917159763313609,
 120820.0: 0.005917159763313609,
 291453.0: 0.005917159763313609,
 280293.0: 0.005917159763313609,
 291386.0: 0.005917159763313609,
 313634.0: 0.005917159763313609,
 60260.0: 0.005917159763313609,
 112997.0: 0.005917159763313609,
 305925.0: 0.005917159763313609,
 199429.0: 0.005917159763313609,
 185381.0: 0.005917159763313609,
 144281.0: 0.005917159763313609,
 33618.0: 0.005917159763313609,
 276857.0: 0.005917159763313609,
 130186.0: 0.005917159763313609,
 376338.0: 0.005917159763313609,
 867.0: 0.005917159763313609,
 338395.0: 0.005917159763313609,
 335587.0: 0.005917159763313609,
 409283.0: 0.005917159763313609,
 88275.0: 0.005917159763313609,
 165355.0: 0.005917159763313609,
 55784.0: 0.005917159763313609,
 327782.0: 0.005917159763313609,
 264657.0: 0.005917159763313609,
 52751.0: 0.005917159763313609,
 33745.0: 0.005917159763313609,
 103980.0: 0.005917159763313609,
 316235.0: 0.005917159763313609,
 380439.0: 0.005917159763313609,
 86171.0: 0.005917159763313609,
 408759.0: 0.005917159763313609,
 38606.0: 0.005917159763313609,
 108672.0: 0.005917159763313609,
 35848.0: 0.005917159763313609,
 275260.0: 0.005917159763313609,
 178063.0: 0.005917159763313609,
 419820.0: 0.005917159763313609,
 53531.0: 0.005917159763313609,
 51728.0: 0.005917159763313609,
 177770.0: 0.005917159763313609,
 389062.0: 0.005917159763313609,
 227925.0: 0.005917159763313609,
 383379.0: 0.005917159763313609,
 87972.0: 0.005917159763313609,
 165262.0: 0.005917159763313609,
 97492.0: 0.005917159763313609,
 335815.0: 0.005917159763313609,
 8552.0: 0.005917159763313609,
 340708.0: 0.005917159763313609,
 127492.0: 0.005917159763313609,
 143411.0: 0.005917159763313609,
 324110.0: 0.005917159763313609,
 226193.0: 0.005917159763313609,
 108048.0: 0.005917159763313609,
 355412.0: 0.005917159763313609,
 245259.0: 0.005917159763313609,
 251563.0: 0.005917159763313609,
 81918.0: 0.005917159763313609,
 79189.0: 0.005917159763313609,
 173653.0: 0.005917159763313609,
 283745.0: 0.005917159763313609,
 97762.0: 0.005917159763313609,
 5534.0: 0.005917159763313609,
 317444.0: 0.005917159763313609,
 32155.0: 0.005917159763313609,
 29443.0: 0.005917159763313609,
 364459.0: 0.005917159763313609,
 367079.0: 0.005917159763313609,
 348030.0: 0.005917159763313609,
 4755.0: 0.005917159763313609,
 132884.0: 0.005917159763313609,
 246586.0: 0.005917159763313609,
 102477.0: 0.005917159763313609,
 274624.0: 0.005917159763313609,
 175206.0: 0.005917159763313609,
 123833.0: 0.005917159763313609,
 367500.0: 0.005917159763313609,
 355808.0: 0.005917159763313609,
 28461.0: 0.005917159763313609,
 35597.0: 0.005917159763313609,
 352780.0: 0.005917159763313609,
 78667.0: 0.005917159763313609,
 257735.0: 0.005917159763313609,
 165083.0: 0.005917159763313609,
 90821.0: 0.005917159763313609,
 289430.0: 0.005917159763313609,
 251644.0: 0.005917159763313609,
 283392.0: 0.005917159763313609,
 353886.0: 0.005917159763313609,
 353447.0: 0.005917159763313609,
 131122.0: 0.005917159763313609,
 117310.0: 0.005917159763313609,
 59028.0: 0.005917159763313609,
 52647.0: 0.005917159763313609,
 2448.0: 0.005917159763313609,
 163584.0: 0.005917159763313609,
 295977.0: 0.005917159763313609,
 62849.0: 0.005917159763313609,
 125558.0: 0.005917159763313609,
 274843.0: 0.005917159763313609,
 263873.0: 0.005917159763313609,
 378696.0: 0.005917159763313609,
 239687.0: 0.005917159763313609,
 148970.0: 0.005917159763313609,
 257966.0: 0.005917159763313609,
 401399.0: 0.005917159763313609,
 187060.0: 0.005917159763313609,
 15100.0: 0.005917159763313609,
 218579.0: 0.005917159763313609,
 132803.0: 0.005917159763313609,
 12875.0: 0.005917159763313609,
 44606.0: 0.005917159763313609,
 258575.0: 0.005917159763313609,
 60425.0: 0.005917159763313609,
 340104.0: 0.005917159763313609,
 113078.0: 0.005917159763313609,
 229569.0: 0.005917159763313609,
 289079.0: 0.005917159763313609,
 72143.0: 0.005917159763313609,
 403117.0: 0.005917159763313609,
 36385.0: 0.005917159763313609,
 122632.0: 0.005917159763313609,
 95362.0: 0.005917159763313609,
 99823.0: 0.005917159763313609}

In [22]:
df_user['product diversity'] = -1
for index,row in df_user.iterrows():
        df_user.at[index, 'product diversity'] = item_count_diversity[row['user_id']]

df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\3681883862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['product diversity'] = -1
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\3681883862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.at[index, 'product diversity'] = item_count_diversity[row['user_id']]

     user_id  action count  action count ratio  day count  product diversity
0     379824             2            0.009259          2           0.005917
1     379824             2            0.009259          2           0.005917
2     379824             2            0.009259          2           0.005917
3     379824             2            0.009259          2           0.005917
4     379824             2            0.009259          2           0.005917
..       ...           ...                 ...        ...                ...
380   122632             1            0.004630          2           0.005917
381   122632             1            0.004630          2           0.005917
382   122632             1            0.004630          2           0.005917
383    95362             1            0.004630          1           0.005917
384    99823             1            0.004630          1           0.005917

[385 rows x 5 columns]

In [23]:
#FEATURE 9: DOUBLE 11 FEATURES

In [24]:
df_11 = df[df['time_stamp']==1111]
df_11

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
9,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
10,141307,175,1181,4760,247.0,1111,0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
375,289079,279,898,3323,683.0,1111,0,4.0,1.0,1
377,403117,175,1181,4760,247.0,1111,0,2.0,1.0,0
378,36385,219,349,1943,6208.0,1111,2,0.0,0.0,0
379,36385,219,349,1943,6208.0,1111,0,0.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0

In [25]:
actions_11 = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_11.iterrows():
    if row['user_id'] not in actions_11:
        # there may be multiple entries, so default with an empty list
        actions_11[row["user_id"]] = [] 
    actions_11[row["user_id"]].append(row["action_type"])

In [26]:
for k,v in actions_11.items():
    actions_11[k] = list(set(v)) # make each value list unique
actions_11

{379824.0: [0.0, 2.0],
 141307.0: [0.0, 2.0],
 252255.0: [0.0],
 309566.0: [2.0],
 206032.0: [0.0, 2.0],
 182119.0: [0.0],
 287829.0: [0.0],
 255960.0: [0.0],
 176150.0: [0.0],
 407671.0: [0.0, 2.0],
 244552.0: [0.0, 2.0],
 46507.0: [0.0, 2.0],
 191162.0: [0.0, 2.0],
 174308.0: [0.0, 2.0],
 134532.0: [0.0],
 355159.0: [0.0],
 353962.0: [0.0, 2.0],
 319670.0: [0.0, 2.0],
 210578.0: [0.0],
 101110.0: [0.0, 2.0],
 6018.0: [0.0],
 314519.0: [2.0],
 205257.0: [0.0],
 117839.0: [0.0],
 46699.0: [2.0],
 238412.0: [0.0],
 156961.0: [0.0],
 45576.0: [0.0],
 5524.0: [0.0],
 218669.0: [0.0],
 272518.0: [0.0],
 277770.0: [0.0],
 386295.0: [0.0],
 254609.0: [0.0],
 84043.0: [0.0],
 120820.0: [0.0],
 291453.0: [0.0],
 280293.0: [0.0],
 313634.0: [0.0, 2.0],
 60260.0: [0.0],
 305925.0: [0.0, 3.0],
 185381.0: [0.0],
 144281.0: [0.0],
 33618.0: [0.0],
 276857.0: [0.0, 2.0],
 130186.0: [0.0],
 376338.0: [0.0, 2.0],
 867.0: [0.0],
 338395.0: [2.0],
 335587.0: [0.0, 2.0],
 409283.0: [0.0],
 165355.0: [0.0],
 55784.0: [0.0],
 327782.0: [2.0],
 264657.0: [0.0, 2.0],
 52751.0: [0.0],
 33745.0: [0.0],
 316235.0: [0.0, 2.0],
 380439.0: [0.0],
 408759.0: [0.0],
 38606.0: [0.0, 2.0],
 108672.0: [0.0],
 275260.0: [0.0, 2.0],
 53531.0: [0.0],
 51728.0: [0.0, 2.0],
 177770.0: [0.0],
 389062.0: [0.0, 2.0],
 383379.0: [0.0],
 165262.0: [0.0],
 97492.0: [0.0],
 335815.0: [0.0],
 8552.0: [0.0],
 340708.0: [0.0],
 127492.0: [0.0, 2.0],
 143411.0: [0.0, 2.0],
 324110.0: [0.0, 2.0],
 226193.0: [0.0],
 108048.0: [0.0],
 245259.0: [0.0],
 251563.0: [0.0],
 81918.0: [0.0],
 173653.0: [0.0, 2.0],
 32155.0: [0.0],
 367079.0: [0.0],
 348030.0: [0.0],
 132884.0: [0.0],
 246586.0: [2.0],
 274624.0: [0.0, 2.0, 3.0],
 175206.0: [0.0],
 355808.0: [0.0],
 28461.0: [0.0, 2.0],
 352780.0: [0.0, 2.0],
 90821.0: [0.0],
 283392.0: [0.0],
 353886.0: [0.0],
 131122.0: [0.0],
 117310.0: [0.0, 2.0],
 52647.0: [0.0],
 163584.0: [0.0],
 125558.0: [0.0],
 274843.0: [0.0],
 239687.0: [0.0],
 257966.0: [0.0],
 218579.0: [0.0],
 44606.0: [0.0],
 60425.0: [0.0, 2.0],
 340104.0: [0.0],
 113078.0: [0.0],
 289079.0: [0.0],
 403117.0: [0.0],
 36385.0: [0.0, 2.0],
 95362.0: [0.0]}

In [27]:
action_count_11 = {}
for key in actions_11.keys():
    action_count_11[key] = len(actions_11[key])
action_count_11

{379824.0: 2,
 141307.0: 2,
 252255.0: 1,
 309566.0: 1,
 206032.0: 2,
 182119.0: 1,
 287829.0: 1,
 255960.0: 1,
 176150.0: 1,
 407671.0: 2,
 244552.0: 2,
 46507.0: 2,
 191162.0: 2,
 174308.0: 2,
 134532.0: 1,
 355159.0: 1,
 353962.0: 2,
 319670.0: 2,
 210578.0: 1,
 101110.0: 2,
 6018.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 1,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 254609.0: 1,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 313634.0: 2,
 60260.0: 1,
 305925.0: 2,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 2,
 130186.0: 1,
 376338.0: 2,
 867.0: 1,
 338395.0: 1,
 335587.0: 2,
 409283.0: 1,
 165355.0: 1,
 55784.0: 1,
 327782.0: 1,
 264657.0: 2,
 52751.0: 1,
 33745.0: 1,
 316235.0: 2,
 380439.0: 1,
 408759.0: 1,
 38606.0: 2,
 108672.0: 1,
 275260.0: 2,
 53531.0: 1,
 51728.0: 2,
 177770.0: 1,
 389062.0: 2,
 383379.0: 1,
 165262.0: 1,
 97492.0: 1,
 335815.0: 1,
 8552.0: 1,
 340708.0: 1,
 127492.0: 2,
 143411.0: 2,
 324110.0: 2,
 226193.0: 1,
 108048.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 1,
 173653.0: 2,
 32155.0: 1,
 367079.0: 1,
 348030.0: 1,
 132884.0: 1,
 246586.0: 1,
 274624.0: 3,
 175206.0: 1,
 355808.0: 1,
 28461.0: 2,
 352780.0: 2,
 90821.0: 1,
 283392.0: 1,
 353886.0: 1,
 131122.0: 1,
 117310.0: 2,
 52647.0: 1,
 163584.0: 1,
 125558.0: 1,
 274843.0: 1,
 239687.0: 1,
 257966.0: 1,
 218579.0: 1,
 44606.0: 1,
 60425.0: 2,
 340104.0: 1,
 113078.0: 1,
 289079.0: 1,
 403117.0: 1,
 36385.0: 2,
 95362.0: 1}

In [28]:
total_action_count_11 = sum(action_count_11.values())
total_action_count_11

145

In [29]:
action_count_ratio_11 = {}
for key in action_count_11:
    action_count_ratio_11[key] = action_count_11[key]/total_action_count_11
action_count_ratio_11

{379824.0: 0.013793103448275862,
 141307.0: 0.013793103448275862,
 252255.0: 0.006896551724137931,
 309566.0: 0.006896551724137931,
 206032.0: 0.013793103448275862,
 182119.0: 0.006896551724137931,
 287829.0: 0.006896551724137931,
 255960.0: 0.006896551724137931,
 176150.0: 0.006896551724137931,
 407671.0: 0.013793103448275862,
 244552.0: 0.013793103448275862,
 46507.0: 0.013793103448275862,
 191162.0: 0.013793103448275862,
 174308.0: 0.013793103448275862,
 134532.0: 0.006896551724137931,
 355159.0: 0.006896551724137931,
 353962.0: 0.013793103448275862,
 319670.0: 0.013793103448275862,
 210578.0: 0.006896551724137931,
 101110.0: 0.013793103448275862,
 6018.0: 0.006896551724137931,
 314519.0: 0.006896551724137931,
 205257.0: 0.006896551724137931,
 117839.0: 0.006896551724137931,
 46699.0: 0.006896551724137931,
 238412.0: 0.006896551724137931,
 156961.0: 0.006896551724137931,
 45576.0: 0.006896551724137931,
 5524.0: 0.006896551724137931,
 218669.0: 0.006896551724137931,
 272518.0: 0.006896551724137931,
 277770.0: 0.006896551724137931,
 386295.0: 0.006896551724137931,
 254609.0: 0.006896551724137931,
 84043.0: 0.006896551724137931,
 120820.0: 0.006896551724137931,
 291453.0: 0.006896551724137931,
 280293.0: 0.006896551724137931,
 313634.0: 0.013793103448275862,
 60260.0: 0.006896551724137931,
 305925.0: 0.013793103448275862,
 185381.0: 0.006896551724137931,
 144281.0: 0.006896551724137931,
 33618.0: 0.006896551724137931,
 276857.0: 0.013793103448275862,
 130186.0: 0.006896551724137931,
 376338.0: 0.013793103448275862,
 867.0: 0.006896551724137931,
 338395.0: 0.006896551724137931,
 335587.0: 0.013793103448275862,
 409283.0: 0.006896551724137931,
 165355.0: 0.006896551724137931,
 55784.0: 0.006896551724137931,
 327782.0: 0.006896551724137931,
 264657.0: 0.013793103448275862,
 52751.0: 0.006896551724137931,
 33745.0: 0.006896551724137931,
 316235.0: 0.013793103448275862,
 380439.0: 0.006896551724137931,
 408759.0: 0.006896551724137931,
 38606.0: 0.013793103448275862,
 108672.0: 0.006896551724137931,
 275260.0: 0.013793103448275862,
 53531.0: 0.006896551724137931,
 51728.0: 0.013793103448275862,
 177770.0: 0.006896551724137931,
 389062.0: 0.013793103448275862,
 383379.0: 0.006896551724137931,
 165262.0: 0.006896551724137931,
 97492.0: 0.006896551724137931,
 335815.0: 0.006896551724137931,
 8552.0: 0.006896551724137931,
 340708.0: 0.006896551724137931,
 127492.0: 0.013793103448275862,
 143411.0: 0.013793103448275862,
 324110.0: 0.013793103448275862,
 226193.0: 0.006896551724137931,
 108048.0: 0.006896551724137931,
 245259.0: 0.006896551724137931,
 251563.0: 0.006896551724137931,
 81918.0: 0.006896551724137931,
 173653.0: 0.013793103448275862,
 32155.0: 0.006896551724137931,
 367079.0: 0.006896551724137931,
 348030.0: 0.006896551724137931,
 132884.0: 0.006896551724137931,
 246586.0: 0.006896551724137931,
 274624.0: 0.020689655172413793,
 175206.0: 0.006896551724137931,
 355808.0: 0.006896551724137931,
 28461.0: 0.013793103448275862,
 352780.0: 0.013793103448275862,
 90821.0: 0.006896551724137931,
 283392.0: 0.006896551724137931,
 353886.0: 0.006896551724137931,
 131122.0: 0.006896551724137931,
 117310.0: 0.013793103448275862,
 52647.0: 0.006896551724137931,
 163584.0: 0.006896551724137931,
 125558.0: 0.006896551724137931,
 274843.0: 0.006896551724137931,
 239687.0: 0.006896551724137931,
 257966.0: 0.006896551724137931,
 218579.0: 0.006896551724137931,
 44606.0: 0.006896551724137931,
 60425.0: 0.013793103448275862,
 340104.0: 0.006896551724137931,
 113078.0: 0.006896551724137931,
 289079.0: 0.006896551724137931,
 403117.0: 0.006896551724137931,
 36385.0: 0.013793103448275862,
 95362.0: 0.006896551724137931}

In [30]:
df_user['1111 action count'] = 0
df_user['1111 action count ratio'] = 0
for index,row in df_user.iterrows():
        if row['user_id'] in action_count_11.keys():
            df_user.at[index, '1111 action count'] = action_count_11[row['user_id']]
        if row['user_id'] in action_count_ratio_11.keys():
            df_user.at[index, '1111 action count ratio'] = action_count_ratio_11[row['user_id']]

df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\290636859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['1111 action count'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\290636859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['1111 action count ratio'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\290636859.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.at[index, '1111 action count ratio'] = action_count_ratio_11[row['user_id']]

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio
0,379824,2,0.009259,2,0.005917,2,0.013793
1,379824,2,0.009259,2,0.005917,2,0.013793
2,379824,2,0.009259,2,0.005917,2,0.013793
3,379824,2,0.009259,2,0.005917,2,0.013793
4,379824,2,0.009259,2,0.005917,2,0.013793
...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000
381,122632,1,0.004630,2,0.005917,0,0.000000
382,122632,1,0.004630,2,0.005917,0,0.000000
383,95362,1,0.004630,1,0.005917,1,0.006897
384,99823,1,0.004630,1,0.005917,0,0.000000

In [31]:
activity_ratio_1111 = {}
df_user['1111 activity ratio'] = 0
for index,row in df_user.iterrows():
    if df_user.at[index,'1111 action count'] != 0:
        df_user.at[index, '1111 activity ratio'] = (df_user.at[index,'1111 action count']/df_user.at[index,'action count'])
df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\1757874129.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['1111 activity ratio'] = 0
C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\1757874129.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.at[index, '1111 activity ratio'] = (df_user.at[index,'1111 action count']/df_user.at[index,'action count'])

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio,1111 activity ratio
0,379824,2,0.009259,2,0.005917,2,0.013793,1.0
1,379824,2,0.009259,2,0.005917,2,0.013793,1.0
2,379824,2,0.009259,2,0.005917,2,0.013793,1.0
3,379824,2,0.009259,2,0.005917,2,0.013793,1.0
4,379824,2,0.009259,2,0.005917,2,0.013793,1.0
...,...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000,0.0
381,122632,1,0.004630,2,0.005917,0,0.000000,0.0
382,122632,1,0.004630,2,0.005917,0,0.000000,0.0
383,95362,1,0.004630,1,0.005917,1,0.006897,1.0
384,99823,1,0.004630,1,0.005917,0,0.000000,0.0

In [32]:
#FEATURE 10: LATEST ONE-WEEK
latest_week = 1104
df_latest_week = df[df['time_stamp']>=latest_week]
df_latest_week

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [33]:
actions_last_week = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_latest_week.iterrows():
    if row['user_id'] not in actions_last_week:
        # there may be multiple entries, so default with an empty list
        actions_last_week[row["user_id"]] = [] 
    actions_last_week[row["user_id"]].append(row["action_type"])
    
for k,v in actions_last_week.items():
    actions_last_week[k] = list(set(v)) # make each value list unique
actions_last_week

{379824.0: [0.0, 2.0],
 141307.0: [0.0, 2.0],
 252255.0: [0.0],
 309566.0: [2.0],
 206032.0: [0.0, 2.0],
 182119.0: [0.0],
 68225.0: [0.0],
 109919.0: [0.0],
 342023.0: [0.0],
 287829.0: [0.0],
 255960.0: [0.0],
 380420.0: [0.0],
 176150.0: [0.0],
 407671.0: [0.0, 2.0, 3.0],
 244552.0: [0.0, 2.0],
 46507.0: [0.0, 2.0],
 191162.0: [0.0, 2.0],
 174308.0: [0.0, 2.0],
 134532.0: [0.0],
 355159.0: [0.0],
 353962.0: [0.0, 2.0],
 319670.0: [0.0, 2.0],
 210578.0: [0.0],
 101110.0: [0.0, 2.0],
 149798.0: [0.0],
 6018.0: [0.0],
 281262.0: [0.0],
 314519.0: [2.0],
 205257.0: [0.0],
 117839.0: [0.0],
 46699.0: [0.0, 2.0, 3.0],
 238412.0: [0.0],
 156961.0: [0.0],
 45576.0: [0.0],
 214766.0: [0.0],
 5524.0: [0.0],
 218669.0: [0.0],
 272518.0: [0.0],
 277770.0: [0.0],
 386295.0: [0.0],
 402251.0: [0.0],
 254609.0: [0.0],
 84043.0: [0.0],
 120820.0: [0.0],
 291453.0: [0.0],
 280293.0: [0.0],
 291386.0: [0.0],
 313634.0: [0.0, 2.0],
 60260.0: [0.0],
 112997.0: [0.0],
 305925.0: [0.0, 3.0],
 199429.0: [0.0],
 185381.0: [0.0],
 144281.0: [0.0],
 33618.0: [0.0],
 276857.0: [0.0, 2.0],
 130186.0: [0.0, 3.0],
 376338.0: [0.0, 2.0],
 867.0: [0.0],
 338395.0: [0.0, 2.0],
 335587.0: [0.0, 2.0],
 409283.0: [0.0],
 165355.0: [0.0],
 55784.0: [0.0],
 327782.0: [0.0, 2.0],
 264657.0: [0.0, 2.0],
 52751.0: [0.0],
 33745.0: [0.0],
 316235.0: [0.0, 2.0, 3.0],
 380439.0: [0.0],
 86171.0: [0.0],
 408759.0: [0.0],
 38606.0: [0.0, 2.0],
 108672.0: [0.0],
 35848.0: [0.0],
 275260.0: [0.0, 2.0],
 178063.0: [0.0],
 419820.0: [0.0],
 53531.0: [0.0],
 51728.0: [0.0, 2.0],
 177770.0: [0.0],
 389062.0: [0.0, 2.0, 3.0],
 383379.0: [0.0],
 87972.0: [0.0],
 165262.0: [0.0, 3.0],
 97492.0: [0.0],
 335815.0: [0.0],
 8552.0: [0.0],
 340708.0: [0.0],
 127492.0: [0.0, 2.0],
 143411.0: [0.0, 2.0],
 324110.0: [0.0, 2.0],
 226193.0: [0.0],
 108048.0: [0.0],
 355412.0: [0.0],
 245259.0: [0.0],
 251563.0: [0.0],
 81918.0: [0.0],
 173653.0: [0.0, 2.0],
 283745.0: [0.0],
 5534.0: [0.0],
 317444.0: [0.0],
 32155.0: [0.0],
 367079.0: [0.0],
 348030.0: [0.0],
 4755.0: [0.0],
 132884.0: [0.0],
 246586.0: [0.0, 2.0],
 102477.0: [0.0, 3.0],
 274624.0: [0.0, 2.0, 3.0],
 175206.0: [0.0],
 123833.0: [0.0],
 367500.0: [0.0],
 355808.0: [0.0],
 28461.0: [0.0, 2.0],
 35597.0: [0.0],
 352780.0: [0.0, 2.0],
 257735.0: [0.0],
 90821.0: [0.0],
 251644.0: [0.0],
 283392.0: [0.0],
 353886.0: [0.0],
 131122.0: [0.0],
 117310.0: [0.0, 2.0],
 59028.0: [0.0],
 52647.0: [0.0],
 163584.0: [0.0],
 62849.0: [0.0],
 125558.0: [0.0],
 274843.0: [0.0],
 263873.0: [0.0],
 378696.0: [0.0],
 239687.0: [0.0],
 257966.0: [0.0],
 401399.0: [0.0],
 187060.0: [0.0],
 15100.0: [0.0],
 218579.0: [0.0],
 132803.0: [0.0],
 12875.0: [0.0],
 44606.0: [0.0],
 258575.0: [0.0],
 60425.0: [0.0, 2.0, 3.0],
 340104.0: [0.0],
 113078.0: [0.0],
 229569.0: [0.0],
 289079.0: [0.0],
 403117.0: [0.0],
 36385.0: [0.0, 2.0],
 122632.0: [0.0],
 95362.0: [0.0],
 99823.0: [0.0]}

In [34]:
action_count_last_week = {}
for key in actions_last_week.keys():
    action_count_last_week[key] = len(actions_last_week[key])
action_count_last_week

{379824.0: 2,
 141307.0: 2,
 252255.0: 1,
 309566.0: 1,
 206032.0: 2,
 182119.0: 1,
 68225.0: 1,
 109919.0: 1,
 342023.0: 1,
 287829.0: 1,
 255960.0: 1,
 380420.0: 1,
 176150.0: 1,
 407671.0: 3,
 244552.0: 2,
 46507.0: 2,
 191162.0: 2,
 174308.0: 2,
 134532.0: 1,
 355159.0: 1,
 353962.0: 2,
 319670.0: 2,
 210578.0: 1,
 101110.0: 2,
 149798.0: 1,
 6018.0: 1,
 281262.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 3,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 214766.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 402251.0: 1,
 254609.0: 1,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 291386.0: 1,
 313634.0: 2,
 60260.0: 1,
 112997.0: 1,
 305925.0: 2,
 199429.0: 1,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 2,
 130186.0: 2,
 376338.0: 2,
 867.0: 1,
 338395.0: 2,
 335587.0: 2,
 409283.0: 1,
 165355.0: 1,
 55784.0: 1,
 327782.0: 2,
 264657.0: 2,
 52751.0: 1,
 33745.0: 1,
 316235.0: 3,
 380439.0: 1,
 86171.0: 1,
 408759.0: 1,
 38606.0: 2,
 108672.0: 1,
 35848.0: 1,
 275260.0: 2,
 178063.0: 1,
 419820.0: 1,
 53531.0: 1,
 51728.0: 2,
 177770.0: 1,
 389062.0: 3,
 383379.0: 1,
 87972.0: 1,
 165262.0: 2,
 97492.0: 1,
 335815.0: 1,
 8552.0: 1,
 340708.0: 1,
 127492.0: 2,
 143411.0: 2,
 324110.0: 2,
 226193.0: 1,
 108048.0: 1,
 355412.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 1,
 173653.0: 2,
 283745.0: 1,
 5534.0: 1,
 317444.0: 1,
 32155.0: 1,
 367079.0: 1,
 348030.0: 1,
 4755.0: 1,
 132884.0: 1,
 246586.0: 2,
 102477.0: 2,
 274624.0: 3,
 175206.0: 1,
 123833.0: 1,
 367500.0: 1,
 355808.0: 1,
 28461.0: 2,
 35597.0: 1,
 352780.0: 2,
 257735.0: 1,
 90821.0: 1,
 251644.0: 1,
 283392.0: 1,
 353886.0: 1,
 131122.0: 1,
 117310.0: 2,
 59028.0: 1,
 52647.0: 1,
 163584.0: 1,
 62849.0: 1,
 125558.0: 1,
 274843.0: 1,
 263873.0: 1,
 378696.0: 1,
 239687.0: 1,
 257966.0: 1,
 401399.0: 1,
 187060.0: 1,
 15100.0: 1,
 218579.0: 1,
 132803.0: 1,
 12875.0: 1,
 44606.0: 1,
 258575.0: 1,
 60425.0: 3,
 340104.0: 1,
 113078.0: 1,
 229569.0: 1,
 289079.0: 1,
 403117.0: 1,
 36385.0: 2,
 122632.0: 1,
 95362.0: 1,
 99823.0: 1}

In [35]:
total_action_count_last_week = sum(action_count_last_week.values())
total_action_count_last_week

197

In [36]:
action_count_ratio_last_week = {}
for key in action_count_last_week:
    action_count_ratio_last_week[key] = action_count_last_week[key]/total_action_count_last_week
action_count_ratio_last_week

{379824.0: 0.01015228426395939,
 141307.0: 0.01015228426395939,
 252255.0: 0.005076142131979695,
 309566.0: 0.005076142131979695,
 206032.0: 0.01015228426395939,
 182119.0: 0.005076142131979695,
 68225.0: 0.005076142131979695,
 109919.0: 0.005076142131979695,
 342023.0: 0.005076142131979695,
 287829.0: 0.005076142131979695,
 255960.0: 0.005076142131979695,
 380420.0: 0.005076142131979695,
 176150.0: 0.005076142131979695,
 407671.0: 0.015228426395939087,
 244552.0: 0.01015228426395939,
 46507.0: 0.01015228426395939,
 191162.0: 0.01015228426395939,
 174308.0: 0.01015228426395939,
 134532.0: 0.005076142131979695,
 355159.0: 0.005076142131979695,
 353962.0: 0.01015228426395939,
 319670.0: 0.01015228426395939,
 210578.0: 0.005076142131979695,
 101110.0: 0.01015228426395939,
 149798.0: 0.005076142131979695,
 6018.0: 0.005076142131979695,
 281262.0: 0.005076142131979695,
 314519.0: 0.005076142131979695,
 205257.0: 0.005076142131979695,
 117839.0: 0.005076142131979695,
 46699.0: 0.015228426395939087,
 238412.0: 0.005076142131979695,
 156961.0: 0.005076142131979695,
 45576.0: 0.005076142131979695,
 214766.0: 0.005076142131979695,
 5524.0: 0.005076142131979695,
 218669.0: 0.005076142131979695,
 272518.0: 0.005076142131979695,
 277770.0: 0.005076142131979695,
 386295.0: 0.005076142131979695,
 402251.0: 0.005076142131979695,
 254609.0: 0.005076142131979695,
 84043.0: 0.005076142131979695,
 120820.0: 0.005076142131979695,
 291453.0: 0.005076142131979695,
 280293.0: 0.005076142131979695,
 291386.0: 0.005076142131979695,
 313634.0: 0.01015228426395939,
 60260.0: 0.005076142131979695,
 112997.0: 0.005076142131979695,
 305925.0: 0.01015228426395939,
 199429.0: 0.005076142131979695,
 185381.0: 0.005076142131979695,
 144281.0: 0.005076142131979695,
 33618.0: 0.005076142131979695,
 276857.0: 0.01015228426395939,
 130186.0: 0.01015228426395939,
 376338.0: 0.01015228426395939,
 867.0: 0.005076142131979695,
 338395.0: 0.01015228426395939,
 335587.0: 0.01015228426395939,
 409283.0: 0.005076142131979695,
 165355.0: 0.005076142131979695,
 55784.0: 0.005076142131979695,
 327782.0: 0.01015228426395939,
 264657.0: 0.01015228426395939,
 52751.0: 0.005076142131979695,
 33745.0: 0.005076142131979695,
 316235.0: 0.015228426395939087,
 380439.0: 0.005076142131979695,
 86171.0: 0.005076142131979695,
 408759.0: 0.005076142131979695,
 38606.0: 0.01015228426395939,
 108672.0: 0.005076142131979695,
 35848.0: 0.005076142131979695,
 275260.0: 0.01015228426395939,
 178063.0: 0.005076142131979695,
 419820.0: 0.005076142131979695,
 53531.0: 0.005076142131979695,
 51728.0: 0.01015228426395939,
 177770.0: 0.005076142131979695,
 389062.0: 0.015228426395939087,
 383379.0: 0.005076142131979695,
 87972.0: 0.005076142131979695,
 165262.0: 0.01015228426395939,
 97492.0: 0.005076142131979695,
 335815.0: 0.005076142131979695,
 8552.0: 0.005076142131979695,
 340708.0: 0.005076142131979695,
 127492.0: 0.01015228426395939,
 143411.0: 0.01015228426395939,
 324110.0: 0.01015228426395939,
 226193.0: 0.005076142131979695,
 108048.0: 0.005076142131979695,
 355412.0: 0.005076142131979695,
 245259.0: 0.005076142131979695,
 251563.0: 0.005076142131979695,
 81918.0: 0.005076142131979695,
 173653.0: 0.01015228426395939,
 283745.0: 0.005076142131979695,
 5534.0: 0.005076142131979695,
 317444.0: 0.005076142131979695,
 32155.0: 0.005076142131979695,
 367079.0: 0.005076142131979695,
 348030.0: 0.005076142131979695,
 4755.0: 0.005076142131979695,
 132884.0: 0.005076142131979695,
 246586.0: 0.01015228426395939,
 102477.0: 0.01015228426395939,
 274624.0: 0.015228426395939087,
 175206.0: 0.005076142131979695,
 123833.0: 0.005076142131979695,
 367500.0: 0.005076142131979695,
 355808.0: 0.005076142131979695,
 28461.0: 0.01015228426395939,
 35597.0: 0.005076142131979695,
 352780.0: 0.01015228426395939,
 257735.0: 0.005076142131979695,
 90821.0: 0.005076142131979695,
 251644.0: 0.005076142131979695,
 283392.0: 0.005076142131979695,
 353886.0: 0.005076142131979695,
 131122.0: 0.005076142131979695,
 117310.0: 0.01015228426395939,
 59028.0: 0.005076142131979695,
 52647.0: 0.005076142131979695,
 163584.0: 0.005076142131979695,
 62849.0: 0.005076142131979695,
 125558.0: 0.005076142131979695,
 274843.0: 0.005076142131979695,
 263873.0: 0.005076142131979695,
 378696.0: 0.005076142131979695,
 239687.0: 0.005076142131979695,
 257966.0: 0.005076142131979695,
 401399.0: 0.005076142131979695,
 187060.0: 0.005076142131979695,
 15100.0: 0.005076142131979695,
 218579.0: 0.005076142131979695,
 132803.0: 0.005076142131979695,
 12875.0: 0.005076142131979695,
 44606.0: 0.005076142131979695,
 258575.0: 0.005076142131979695,
 60425.0: 0.015228426395939087,
 340104.0: 0.005076142131979695,
 113078.0: 0.005076142131979695,
 229569.0: 0.005076142131979695,
 289079.0: 0.005076142131979695,
 403117.0: 0.005076142131979695,
 36385.0: 0.01015228426395939,
 122632.0: 0.005076142131979695,
 95362.0: 0.005076142131979695,
 99823.0: 0.005076142131979695}

In [37]:
df_user['last week action count'] = 0
df_user['last week action count ratio'] = 0
for index,row in df_user.iterrows():
        if row['user_id'] in action_count_last_week.keys():
            df_user.at[index, 'last week action count'] = action_count_last_week[row['user_id']]
        if row['user_id'] in action_count_ratio_last_week.keys():
            df_user.at[index, 'last week action count ratio'] = action_count_ratio_last_week[row['user_id']]

df_user

C:\Users\sonic\AppData\Local\Temp\ipykernel_19672\602709202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['last week action count'] = 0

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio,1111 activity ratio,last week action count,last week action count ratio
0,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152
1,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152
2,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152
3,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152
4,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152
...,...,...,...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076
381,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076
382,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076
383,95362,1,0.004630,1,0.005917,1,0.006897,1.0,1,0.005076
384,99823,1,0.004630,1,0.005917,0,0.000000,0.0,1,0.005076

In [38]:
activity_ratio_last_week = {}
df_user['last week activity ratio'] = 0
for index,row in df_user.iterrows():
    if df_user.at[index,'last week action count'] != 0:
        df_user.at[index, 'last week activity ratio'] = (df_user.at[index,'last week action count']/df_user.at[index,'action count'])
df_user

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio,1111 activity ratio,last week action count,last week action count ratio,last week activity ratio
0,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0
1,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0
2,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0
3,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0
4,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0
...,...,...,...,...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0
381,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0
382,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0
383,95362,1,0.004630,1,0.005917,1,0.006897,1.0,1,0.005076,1.0
384,99823,1,0.004630,1,0.005917,0,0.000000,0.0,1,0.005076,1.0

In [39]:
#FEATURE 11: LATEST MONTH
latest_month = 1011
df_latest_month = df[df['time_stamp']>=latest_month]
df_latest_month

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,label
0,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
1,379824,198,656,145,3462.0,1111,0,5.0,1.0,0
2,379824,198,656,145,3462.0,1111,2,5.0,1.0,0
3,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
4,379824,198,656,145,3462.0,1110,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...
380,122632,175,1181,4760,247.0,1109,0,3.0,0.0,0
381,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
382,122632,175,1181,4760,247.0,1108,0,3.0,0.0,0
383,95362,253,962,3263,626.0,1111,0,0.0,0.0,0
384,99823,175,1181,4760,247.0,1110,0,2.0,0.0,0

In [40]:
actions_last_month = {}

# go through user_seller sub-dataframe and split entries by user_id:seller_id
for index, row in df_latest_month.iterrows():
    if row['user_id'] not in actions_last_month:
        # there may be multiple entries, so default with an empty list
        actions_last_month[row["user_id"]] = [] 
    actions_last_month[row["user_id"]].append(row["action_type"])
    
for k,v in actions_last_month.items():
    actions_last_month[k] = list(set(v)) # make each value list unique
actions_last_month

{379824.0: [0.0, 2.0],
 141307.0: [0.0, 2.0],
 252255.0: [0.0],
 309566.0: [2.0],
 206032.0: [0.0, 2.0, 3.0],
 182119.0: [0.0],
 68225.0: [0.0],
 109919.0: [0.0],
 342023.0: [0.0],
 287829.0: [0.0],
 255960.0: [0.0],
 380420.0: [0.0],
 176150.0: [0.0],
 407671.0: [0.0, 2.0, 3.0],
 244552.0: [0.0, 2.0],
 46507.0: [0.0, 2.0],
 191162.0: [0.0, 2.0],
 174308.0: [0.0, 2.0],
 134532.0: [0.0],
 355159.0: [0.0],
 62942.0: [0.0],
 353962.0: [0.0, 2.0],
 319670.0: [0.0, 2.0],
 210578.0: [0.0],
 101110.0: [0.0, 2.0],
 149798.0: [0.0],
 6018.0: [0.0],
 281262.0: [0.0],
 314519.0: [2.0],
 205257.0: [0.0],
 117839.0: [0.0],
 46699.0: [0.0, 2.0, 3.0],
 238412.0: [0.0],
 156961.0: [0.0],
 45576.0: [0.0],
 214766.0: [0.0],
 5524.0: [0.0],
 218669.0: [0.0],
 272518.0: [0.0],
 277770.0: [0.0],
 386295.0: [0.0],
 402251.0: [0.0],
 254609.0: [0.0],
 84043.0: [0.0],
 120820.0: [0.0],
 291453.0: [0.0],
 280293.0: [0.0],
 291386.0: [0.0],
 313634.0: [0.0, 2.0],
 60260.0: [0.0],
 112997.0: [0.0],
 305925.0: [0.0, 3.0],
 199429.0: [0.0],
 185381.0: [0.0],
 144281.0: [0.0],
 33618.0: [0.0],
 276857.0: [0.0, 2.0],
 130186.0: [0.0, 3.0],
 376338.0: [0.0, 2.0],
 867.0: [0.0],
 338395.0: [0.0, 2.0],
 335587.0: [0.0, 2.0],
 409283.0: [0.0],
 165355.0: [0.0],
 55784.0: [0.0],
 327782.0: [0.0, 2.0],
 264657.0: [0.0, 2.0],
 52751.0: [0.0],
 33745.0: [0.0],
 316235.0: [0.0, 2.0, 3.0],
 380439.0: [0.0],
 86171.0: [0.0],
 408759.0: [0.0],
 38606.0: [0.0, 2.0],
 108672.0: [0.0],
 35848.0: [0.0],
 275260.0: [0.0, 2.0],
 178063.0: [0.0],
 419820.0: [0.0],
 53531.0: [0.0],
 51728.0: [0.0, 2.0],
 177770.0: [0.0],
 389062.0: [0.0, 2.0, 3.0],
 383379.0: [0.0],
 87972.0: [0.0],
 165262.0: [0.0, 3.0],
 97492.0: [0.0],
 335815.0: [0.0],
 8552.0: [0.0],
 340708.0: [0.0],
 127492.0: [0.0, 2.0],
 143411.0: [0.0, 2.0],
 324110.0: [0.0, 2.0],
 226193.0: [0.0],
 108048.0: [0.0],
 355412.0: [0.0],
 245259.0: [0.0],
 251563.0: [0.0],
 81918.0: [0.0],
 173653.0: [0.0, 2.0],
 283745.0: [0.0],
 5534.0: [0.0],
 317444.0: [0.0],
 32155.0: [0.0],
 364459.0: [0.0],
 367079.0: [0.0],
 348030.0: [0.0],
 4755.0: [0.0],
 132884.0: [0.0],
 246586.0: [0.0, 2.0],
 102477.0: [0.0, 3.0],
 274624.0: [0.0, 2.0, 3.0],
 175206.0: [0.0],
 123833.0: [0.0],
 367500.0: [0.0],
 355808.0: [0.0],
 28461.0: [0.0, 2.0],
 35597.0: [0.0],
 352780.0: [0.0, 2.0],
 78667.0: [0.0],
 257735.0: [0.0],
 90821.0: [0.0],
 289430.0: [0.0],
 251644.0: [0.0],
 283392.0: [0.0],
 353886.0: [0.0],
 131122.0: [0.0],
 117310.0: [0.0, 2.0],
 59028.0: [0.0],
 52647.0: [0.0],
 163584.0: [0.0],
 295977.0: [0.0],
 62849.0: [0.0],
 125558.0: [0.0],
 274843.0: [0.0],
 263873.0: [0.0],
 378696.0: [0.0],
 239687.0: [0.0],
 257966.0: [0.0],
 401399.0: [0.0],
 187060.0: [0.0],
 15100.0: [0.0],
 218579.0: [0.0],
 132803.0: [0.0],
 12875.0: [0.0],
 44606.0: [0.0],
 258575.0: [0.0],
 60425.0: [0.0, 2.0, 3.0],
 340104.0: [0.0],
 113078.0: [0.0],
 229569.0: [0.0],
 289079.0: [0.0],
 72143.0: [0.0],
 403117.0: [0.0],
 36385.0: [0.0, 2.0],
 122632.0: [0.0],
 95362.0: [0.0],
 99823.0: [0.0]}

In [41]:
action_count_last_month = {}
for key in actions_last_month.keys():
    action_count_last_month[key] = len(actions_last_month[key])
action_count_last_month

{379824.0: 2,
 141307.0: 2,
 252255.0: 1,
 309566.0: 1,
 206032.0: 3,
 182119.0: 1,
 68225.0: 1,
 109919.0: 1,
 342023.0: 1,
 287829.0: 1,
 255960.0: 1,
 380420.0: 1,
 176150.0: 1,
 407671.0: 3,
 244552.0: 2,
 46507.0: 2,
 191162.0: 2,
 174308.0: 2,
 134532.0: 1,
 355159.0: 1,
 62942.0: 1,
 353962.0: 2,
 319670.0: 2,
 210578.0: 1,
 101110.0: 2,
 149798.0: 1,
 6018.0: 1,
 281262.0: 1,
 314519.0: 1,
 205257.0: 1,
 117839.0: 1,
 46699.0: 3,
 238412.0: 1,
 156961.0: 1,
 45576.0: 1,
 214766.0: 1,
 5524.0: 1,
 218669.0: 1,
 272518.0: 1,
 277770.0: 1,
 386295.0: 1,
 402251.0: 1,
 254609.0: 1,
 84043.0: 1,
 120820.0: 1,
 291453.0: 1,
 280293.0: 1,
 291386.0: 1,
 313634.0: 2,
 60260.0: 1,
 112997.0: 1,
 305925.0: 2,
 199429.0: 1,
 185381.0: 1,
 144281.0: 1,
 33618.0: 1,
 276857.0: 2,
 130186.0: 2,
 376338.0: 2,
 867.0: 1,
 338395.0: 2,
 335587.0: 2,
 409283.0: 1,
 165355.0: 1,
 55784.0: 1,
 327782.0: 2,
 264657.0: 2,
 52751.0: 1,
 33745.0: 1,
 316235.0: 3,
 380439.0: 1,
 86171.0: 1,
 408759.0: 1,
 38606.0: 2,
 108672.0: 1,
 35848.0: 1,
 275260.0: 2,
 178063.0: 1,
 419820.0: 1,
 53531.0: 1,
 51728.0: 2,
 177770.0: 1,
 389062.0: 3,
 383379.0: 1,
 87972.0: 1,
 165262.0: 2,
 97492.0: 1,
 335815.0: 1,
 8552.0: 1,
 340708.0: 1,
 127492.0: 2,
 143411.0: 2,
 324110.0: 2,
 226193.0: 1,
 108048.0: 1,
 355412.0: 1,
 245259.0: 1,
 251563.0: 1,
 81918.0: 1,
 173653.0: 2,
 283745.0: 1,
 5534.0: 1,
 317444.0: 1,
 32155.0: 1,
 364459.0: 1,
 367079.0: 1,
 348030.0: 1,
 4755.0: 1,
 132884.0: 1,
 246586.0: 2,
 102477.0: 2,
 274624.0: 3,
 175206.0: 1,
 123833.0: 1,
 367500.0: 1,
 355808.0: 1,
 28461.0: 2,
 35597.0: 1,
 352780.0: 2,
 78667.0: 1,
 257735.0: 1,
 90821.0: 1,
 289430.0: 1,
 251644.0: 1,
 283392.0: 1,
 353886.0: 1,
 131122.0: 1,
 117310.0: 2,
 59028.0: 1,
 52647.0: 1,
 163584.0: 1,
 295977.0: 1,
 62849.0: 1,
 125558.0: 1,
 274843.0: 1,
 263873.0: 1,
 378696.0: 1,
 239687.0: 1,
 257966.0: 1,
 401399.0: 1,
 187060.0: 1,
 15100.0: 1,
 218579.0: 1,
 132803.0: 1,
 12875.0: 1,
 44606.0: 1,
 258575.0: 1,
 60425.0: 3,
 340104.0: 1,
 113078.0: 1,
 229569.0: 1,
 289079.0: 1,
 72143.0: 1,
 403117.0: 1,
 36385.0: 2,
 122632.0: 1,
 95362.0: 1,
 99823.0: 1}

In [42]:
total_action_count_last_month = sum(action_count_last_month.values())
total_action_count_last_month

204

In [43]:
action_count_ratio_last_month = {}
for key in action_count_last_month:
    action_count_ratio_last_month[key] = action_count_last_month[key]/total_action_count_last_month
action_count_ratio_last_month

{379824.0: 0.00980392156862745,
 141307.0: 0.00980392156862745,
 252255.0: 0.004901960784313725,
 309566.0: 0.004901960784313725,
 206032.0: 0.014705882352941176,
 182119.0: 0.004901960784313725,
 68225.0: 0.004901960784313725,
 109919.0: 0.004901960784313725,
 342023.0: 0.004901960784313725,
 287829.0: 0.004901960784313725,
 255960.0: 0.004901960784313725,
 380420.0: 0.004901960784313725,
 176150.0: 0.004901960784313725,
 407671.0: 0.014705882352941176,
 244552.0: 0.00980392156862745,
 46507.0: 0.00980392156862745,
 191162.0: 0.00980392156862745,
 174308.0: 0.00980392156862745,
 134532.0: 0.004901960784313725,
 355159.0: 0.004901960784313725,
 62942.0: 0.004901960784313725,
 353962.0: 0.00980392156862745,
 319670.0: 0.00980392156862745,
 210578.0: 0.004901960784313725,
 101110.0: 0.00980392156862745,
 149798.0: 0.004901960784313725,
 6018.0: 0.004901960784313725,
 281262.0: 0.004901960784313725,
 314519.0: 0.004901960784313725,
 205257.0: 0.004901960784313725,
 117839.0: 0.004901960784313725,
 46699.0: 0.014705882352941176,
 238412.0: 0.004901960784313725,
 156961.0: 0.004901960784313725,
 45576.0: 0.004901960784313725,
 214766.0: 0.004901960784313725,
 5524.0: 0.004901960784313725,
 218669.0: 0.004901960784313725,
 272518.0: 0.004901960784313725,
 277770.0: 0.004901960784313725,
 386295.0: 0.004901960784313725,
 402251.0: 0.004901960784313725,
 254609.0: 0.004901960784313725,
 84043.0: 0.004901960784313725,
 120820.0: 0.004901960784313725,
 291453.0: 0.004901960784313725,
 280293.0: 0.004901960784313725,
 291386.0: 0.004901960784313725,
 313634.0: 0.00980392156862745,
 60260.0: 0.004901960784313725,
 112997.0: 0.004901960784313725,
 305925.0: 0.00980392156862745,
 199429.0: 0.004901960784313725,
 185381.0: 0.004901960784313725,
 144281.0: 0.004901960784313725,
 33618.0: 0.004901960784313725,
 276857.0: 0.00980392156862745,
 130186.0: 0.00980392156862745,
 376338.0: 0.00980392156862745,
 867.0: 0.004901960784313725,
 338395.0: 0.00980392156862745,
 335587.0: 0.00980392156862745,
 409283.0: 0.004901960784313725,
 165355.0: 0.004901960784313725,
 55784.0: 0.004901960784313725,
 327782.0: 0.00980392156862745,
 264657.0: 0.00980392156862745,
 52751.0: 0.004901960784313725,
 33745.0: 0.004901960784313725,
 316235.0: 0.014705882352941176,
 380439.0: 0.004901960784313725,
 86171.0: 0.004901960784313725,
 408759.0: 0.004901960784313725,
 38606.0: 0.00980392156862745,
 108672.0: 0.004901960784313725,
 35848.0: 0.004901960784313725,
 275260.0: 0.00980392156862745,
 178063.0: 0.004901960784313725,
 419820.0: 0.004901960784313725,
 53531.0: 0.004901960784313725,
 51728.0: 0.00980392156862745,
 177770.0: 0.004901960784313725,
 389062.0: 0.014705882352941176,
 383379.0: 0.004901960784313725,
 87972.0: 0.004901960784313725,
 165262.0: 0.00980392156862745,
 97492.0: 0.004901960784313725,
 335815.0: 0.004901960784313725,
 8552.0: 0.004901960784313725,
 340708.0: 0.004901960784313725,
 127492.0: 0.00980392156862745,
 143411.0: 0.00980392156862745,
 324110.0: 0.00980392156862745,
 226193.0: 0.004901960784313725,
 108048.0: 0.004901960784313725,
 355412.0: 0.004901960784313725,
 245259.0: 0.004901960784313725,
 251563.0: 0.004901960784313725,
 81918.0: 0.004901960784313725,
 173653.0: 0.00980392156862745,
 283745.0: 0.004901960784313725,
 5534.0: 0.004901960784313725,
 317444.0: 0.004901960784313725,
 32155.0: 0.004901960784313725,
 364459.0: 0.004901960784313725,
 367079.0: 0.004901960784313725,
 348030.0: 0.004901960784313725,
 4755.0: 0.004901960784313725,
 132884.0: 0.004901960784313725,
 246586.0: 0.00980392156862745,
 102477.0: 0.00980392156862745,
 274624.0: 0.014705882352941176,
 175206.0: 0.004901960784313725,
 123833.0: 0.004901960784313725,
 367500.0: 0.004901960784313725,
 355808.0: 0.004901960784313725,
 28461.0: 0.00980392156862745,
 35597.0: 0.004901960784313725,
 352780.0: 0.00980392156862745,
 78667.0: 0.004901960784313725,
 257735.0: 0.004901960784313725,
 90821.0: 0.004901960784313725,
 289430.0: 0.004901960784313725,
 251644.0: 0.004901960784313725,
 283392.0: 0.004901960784313725,
 353886.0: 0.004901960784313725,
 131122.0: 0.004901960784313725,
 117310.0: 0.00980392156862745,
 59028.0: 0.004901960784313725,
 52647.0: 0.004901960784313725,
 163584.0: 0.004901960784313725,
 295977.0: 0.004901960784313725,
 62849.0: 0.004901960784313725,
 125558.0: 0.004901960784313725,
 274843.0: 0.004901960784313725,
 263873.0: 0.004901960784313725,
 378696.0: 0.004901960784313725,
 239687.0: 0.004901960784313725,
 257966.0: 0.004901960784313725,
 401399.0: 0.004901960784313725,
 187060.0: 0.004901960784313725,
 15100.0: 0.004901960784313725,
 218579.0: 0.004901960784313725,
 132803.0: 0.004901960784313725,
 12875.0: 0.004901960784313725,
 44606.0: 0.004901960784313725,
 258575.0: 0.004901960784313725,
 60425.0: 0.014705882352941176,
 340104.0: 0.004901960784313725,
 113078.0: 0.004901960784313725,
 229569.0: 0.004901960784313725,
 289079.0: 0.004901960784313725,
 72143.0: 0.004901960784313725,
 403117.0: 0.004901960784313725,
 36385.0: 0.00980392156862745,
 122632.0: 0.004901960784313725,
 95362.0: 0.004901960784313725,
 99823.0: 0.004901960784313725}

In [44]:
df_user['last month action count'] = 0
df_user['last month action count ratio'] = 0
for index,row in df_user.iterrows():
        if row['user_id'] in action_count_last_month.keys():
            df_user.at[index, 'last month action count'] = action_count_last_month[row['user_id']]
        if row['user_id'] in action_count_ratio_last_month.keys():
            df_user.at[index, 'last month action count ratio'] = action_count_ratio_last_month[row['user_id']]

df_user

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio,1111 activity ratio,last week action count,last week action count ratio,last week activity ratio,last month action count,last month action count ratio
0,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804
1,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804
2,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804
3,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804
4,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902
381,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902
382,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902
383,95362,1,0.004630,1,0.005917,1,0.006897,1.0,1,0.005076,1.0,1,0.004902
384,99823,1,0.004630,1,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902

In [45]:
activity_ratio_last_month = {}
df_user['last month activity ratio'] = 0
for index,row in df_user.iterrows():
    if df_user.at[index,'last month action count'] != 0:
        df_user.at[index, 'last month activity ratio'] = (df_user.at[index,'last month action count']/df_user.at[index,'action count'])
df_user

,user_id,action count,action count ratio,day count,product diversity,1111 action count,1111 action count ratio,1111 activity ratio,last week action count,last week action count ratio,last week activity ratio,last month action count,last month action count ratio,last month activity ratio
0,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804,1
1,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804,1
2,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804,1
3,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804,1
4,379824,2,0.009259,2,0.005917,2,0.013793,1.0,2,0.010152,1.0,2,0.009804,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902,1
381,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902,1
382,122632,1,0.004630,2,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902,1
383,95362,1,0.004630,1,0.005917,1,0.006897,1.0,1,0.005076,1.0,1,0.004902,1
384,99823,1,0.004630,1,0.005917,0,0.000000,0.0,1,0.005076,1.0,1,0.004902,1

In [46]:
print("TOTAL ACTIONS: ", total_action_count)
print("TOTAL ACTIONS LATEST MONTH: ",total_action_count_last_month)
print("TOTAL ACTIONS LATEST WEEK: ",total_action_count_last_week)
print("TOTAL ACTIONS 1111: ",total_action_count_11)

TOTAL ACTIONS:  216
TOTAL ACTIONS LATEST MONTH:  204
TOTAL ACTIONS LATEST WEEK:  197
TOTAL ACTIONS 1111:  145